<%= form_for @banner_price do |f| %>
<div class="field">
  <%= f.label :current_banner_number %>
  <%= f.number_field :current_banner_number %>
</div>
<div class="field">
  <%= f.label :price %>
  <%= f.number_field :price %> EUR
</div>
<div class="field">
  <%= f.submit class: 'btn btn-primary' %>
</div>
<% end %>
