<%= form_for @banner_price do |f| %>
<div class="field">
  <%= f.label :current_banner_number %><br>
  <%= f.text_field :current_banner_number %>
</div>
<div class="field">
  <%= f.label :price %><br>
  <%= f.text_field :price %> EUR
</div>
<div class="field">
  <%= f.submit %>
</div>
<% end %>
