<%= render 'cms/menu' %>
<div class="cms">
<h1>Banner Prices</h1>

<p><%= link_to 'New', new_banner_price_path %></p>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Current Banner Number</th>
      <th>Price</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
<% @banner_prices.each do |bp| -%>
    <tr>
      <td><%= bp.current_banner_number %></td>
      <td><%= bp.price %></td>
      <td><%= link_to 'Edit', edit_banner_price_path(bp) %></td>
      <td><%= link_to 'Delete', bp, confirm: t('are_you_sure'), method: :delete %></td>
    </tr>
<% end -%>
  </tbody>
</table>
</div>
