<%= page_header 'Banner Prices' %>

<p><%= new_button(BannerPrice) %></p>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Current Banner Number</th>
      <th>Price</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
<% @banner_prices.each do |bp| -%>
    <tr>
      <td><%= bp.current_banner_number %></td>
      <td><%= bp.price %></td>
      <td><%= edit_button(bp) %></td>
      <td><%= delete_button(bp) %></td>
    </tr>
<% end -%>
  </tbody>
</table>
