<h1><%= link_to 'CMS', cms_path %> &rarr; Banner and Directory Advert Pricing</h1>

<% if @website.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@website.errors.count, "error") %> prohibited this website's settings from being saved:</h2>

    <ul>
    <% @website.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @website do |f| %>
<div class="field">
  <%= f.label :banner_advert_price %><br>
  <%= f.text_field :banner_advert_price %> EUR
</div>
<div class="field">
  <%= f.label :directory_advert_price %><br>
  <%= f.text_field :directory_advert_price %> EUR
</div>
<div class="field">
  <%= f.submit %>
</div>
<% end %>
