<%= render 'cms/menu' %>
<div class="cms">
<h1><%= link_to 'CMS', cms_path %> &rarr; Edit Miscellaneous Website Details</h1>

<% if @website.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@website.errors.count, "error") %> prohibited this website's settings from being saved:</h2>

    <ul>
    <% @website.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @website do |f| %>
<div class="field">
  <%= f.label :home_content %><br>
  <%= f.text_area :home_content %>
</div>

<div class="field">
  <%= f.label :contact_details %><br>
  <%= f.text_area :contact_details %>
</div>

<div class="field">
  <%= f.label :terms %><br>
  <%= f.text_area :terms %>
</div>

<div class="field">
  <%= f.label :privacy_policy %><br>
  <%= f.text_area :privacy_policy %>
</div>

<div class="field">
  <%= f.label :links_content %><br>
  <%= f.text_area :links_content %>
</div>

<div class="field">
  <%= f.label :resources_banner_html %><br>
  <%= f.text_area :resources_banner_html %>
</div>

<div class="field">
	<label for="website_blog_visible_true">Blog visible?:</label>
	<%= f.radio_button :blog_visible, true, :class => "radio" %>
	<label for="website_blog_visible_true">Yes</label>
	<%= f.radio_button :blog_visible, false, :class => "radio" %>
	<label for="website_blog_visible">No</label>
</div>

<div class="field">
	<%= f.label :vat_rate, 'VAT rate' %>:<br>
	<%= f.text_field :vat_rate, :class => "text" %> %
</div>

<div class="field">
	<label for="website_skip_payment_true">Skip payment?:</label>
	<%= f.radio_button :skip_payment, true, :class => "radio" %>
	<label for="website_skip_payment_true">Yes</label>
	<%= f.radio_button :skip_payment, false, :class => "radio" %>
	<label for="website_skip_payment">No</label>
</div>

<h2>WorldPay Settings</h2>

<div class="field">
	<label for="website_worldpay_active_true">Active?:</label>
	<%= f.radio_button :worldpay_active, true, :class => "radio" %>
	<label for="website_worldpay_active_true">Yes</label>
	<%= f.radio_button :worldpay_active, false, :class => "radio" %>
	<label for="website_worldpay_active">No</label>
</div>

<div class="field">
	<label for="website_worldpay_test_mode">Mode?:</label>
	<%= f.radio_button :worldpay_test_mode, false, :class => "radio" %>
	<label for="website_worldpay_test_mode">Production</label>
	<%= f.radio_button :worldpay_test_mode, true, :class => "radio" %>
	<label for="website_worldpay_test_mode_true">Test</label>
</div>

<div class="field">
	<%= f.label :worldpay_installation_id, 'Installation ID' %>:<br>
	<%= f.text_field :worldpay_installation_id, :class => "text" %>
</div>

<div class="field">
	<%= f.label :worldpay_payment_response_password, 'Payment response password' %>:<br>
	<%= f.text_field :worldpay_payment_response_password, :class => "text" %>
</div>

<div class="field">
  <%= f.submit class: 'btn btn-primary' %>
</div>
<% end %>
</div>
