<%= render 'cms/menu' %>
<div class="cms">
<h1><%= link_to 'CMS', cms_path %> &rarr; Edit Miscellaneous Website Details</h1>

<% if @website.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@website.errors.count, "error") %> prohibited this website's settings from being saved:</h2>

    <ul>
    <% @website.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @website do |f| %>
  <%= f.label :home_content %>
  <%= f.text_area :home_content %>

  <%= f.label :contact_details %>
  <%= f.text_area :contact_details %>

  <%= f.label :terms %>
  <%= f.text_area :terms %>

  <%= f.label :privacy_policy %>
  <%= f.text_area :privacy_policy %>

  <%= f.label :resources_banner_html %>
  <%= f.text_area :resources_banner_html %>

	<label for="website_blog_visible_true">Blog visible?</label>
	<label class="radio">
    <%= f.radio_button :blog_visible, true %>
	  Yes
  </label>
  <label class="radio">
    <%= f.radio_button :blog_visible, false %>
    No
  </label>

	<%= f.label :vat_rate, 'VAT rate' %>
	<%= f.text_field :vat_rate, class: 'text' %> %

	<label for="website_skip_payment_true">Skip payment?</label>
	<label class="radio">
    <%= f.radio_button :skip_payment, true %>
    Yes
  </label>
	<label class="radio">
    <%= f.radio_button :skip_payment, false %>
    No
	</label>

<h2>WorldPay Settings</h2>

	<label for="website_worldpay_active_true">Active?</label>
	<label class="radio">
    <%= f.radio_button :worldpay_active, true %>
    Yes
  </label>
  <label class="radio">
	  <%= f.radio_button :worldpay_active, false %>
    No
  </label>

	<label for="website_worldpay_test_mode">Mode?</label>
	<label class="radio">
    <%= f.radio_button :worldpay_test_mode, false %>
    Production
  </label>
	<label class="radio">
    <%= f.radio_button :worldpay_test_mode, true %>
    Test
  </label>

	<%= f.label :worldpay_installation_id, 'Installation ID' %>
	<%= f.text_field :worldpay_installation_id %>

	<%= f.label :worldpay_payment_response_password, 'Payment response password' %>
	<%= f.text_field :worldpay_payment_response_password %>

<div class="field">
  <%= f.submit class: 'btn btn-primary' %>
</div>
<% end %>
</div>
