<% if @window_base_price.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@window_base_price.errors.count, "error") %> prohibited this window base price from being saved:</h2>

    <ul>
    <% @window_base_price.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @window_base_price do |f| %>
<div class="field">
  <%= f.label :quantity %>
  <%= f.number_field :quantity %>
</div>
<div class="field">
  <%= f.label :price %>
  <%= f.number_field :price %> EUR
</div>
<div class="field">
  <%= f.submit class: 'btn btn-primary' %>
</div>
<% end %>
