<table>
  <tr>
    <td>First Name:</td>
    <td><%= @details[:first_name] %></td>
  </tr>
  <tr>
    <td>Last Name:</td>
    <td><%= @details[:last_name] %></td>
  </tr>
  <tr>
    <td>Ref:</td>
    <td><%= @details[:our_ref] %></td>
  </tr>
  <tr>
    <td>Property Name:</td>
    <td><%= @details[:property_name] %></td>
  </tr>
  <tr>
    <td>Property Id:</td>
    <td><%= @details[:property_id] %></td>
  </tr>
  <tr>
    <td>Check-in:</td>
    <td><%= @details[:check_in] %></td>
  </tr>
  <tr>
    <td>Check-out:</td>
    <td><%= @details[:check_out] %></td>
  </tr>
  <tr>
    <td>Number of Adults:</td>
    <td><%= @details[:adults] %></td>
  </tr>
  <tr>
    <td>Number of Children:</td>
    <td><%= @details[:children] %></td>
  </tr>
  <tr>
    <td>Comments:<td>
  </tr>
  <tr>
    <td colspan="2"><%= @details[:comments] %></td>
  </tr>
</table>