<% if @alt_attribute.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@alt_attribute.errors.count, "error") %> prohibited this alt attribute from being saved:</h2>

    <ul>
    <% @alt_attribute.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= bootstrap_form_for [:admin, @alt_attribute] do |f| %>
  <%= f.text_field :path %>
  <%= f.text_field :alt_text %>

  <br><%= f.submit class: 'btn btn-primary' %>
<% end %>
