<div class="page-header">
  <h1><%= link_to 'CMS', cms_path %> &rarr; Alt Attributes</h1>
</div>

<p>
  <%= link_to 'New Alt Attribute', new_admin_alt_attribute_path, class: 'btn btn-primary' %>
</p>
<% if @alt_attributes.empty? %>
<p>There are no alt attributes set up yet.</p>
<% else %>
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Path</th>
      <th>Alt Text</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @alt_attributes.each do |alt_attribute| %>
    <tr>
      <td><%= link_to alt_attribute.path, edit_admin_alt_attribute_path(alt_attribute) %></td>
      <td><%= alt_attribute.alt_text %></td>
      <td><%= delete_button([:admin, alt_attribute]) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
