<div id="user_panel_1">
  <div class="group_panel">
    <h2><%= t 'users.sign_in_to_access_your_account' %></h2>
  <%= form_tag :action => 'create' do -%>
    <div class="field">
      <label for="email"><%= I18n.t('email') %></label><br>
      <%= text_field_tag :email, params[:email] %>
    </div>
    <div class="field">
      <label for="password"><%= I18n.t('password') %></label><br>
      <%= password_field_tag :password, params[:password] %>
    </div>
    <%= submit_tag I18n.t('sign_in') %>
    <p id="forgot_your_password">
      <%= link_to t('users.forgot_your_password'), :controller => 'users', :action => 'forgot_password' %>
    </p>
  <% end -%>
  </div>
</div>

<div id="user_panel_2">
  <p>
    <%= t('users.or') %>
  </p>
</div>

<div id="user_panel_3">
  <div class="group_panel">
    <h2><%= t 'users.no_account_yet' %></h2>

    <p>
      <%= link_to t('users.register_to_advertise'), sign_up_path %>
    </p>
  </div>
</div>
