<% if @buying_guide.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@buying_guide.errors.count, "error") %> prohibited this buying guide from being saved:</h2>

    <ul>
      <% @buying_guide.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @buying_guide do |f| %>
<div class="field">
  <%= f.label :country_id, t('countries.country') %>
  <%= select("buying_guide", "country_id", Country.all(order: 'name').collect {|c| [ c.name, c.id ] }, {prompt: t('countries.select_country')}) %>
</div>
<div class="field">
  <%= f.label :content %>
  <%= editor(f, :content, :html) %>
</div>
<div class="form-actions">
  <%= f.submit I18n.t('save'), class: 'btn btn-primary' %>
</div>
<% end %>
