<h1><%= link_to 'CMS', cms_path %> &rarr; Buying Guides</h1>
<p>
  <%= link_to 'Add new buying guide', new_buying_guide_path %>
</p>

<ul>
<% @buying_guides.each do |buying_guide| %>
  <li>
    <%= link_to buying_guide.country.name, edit_buying_guide_path(buying_guide) %>
    (<%= link_to 'Show', buying_guide %>
    / <%= link_to 'Delete', buying_guide, confirm: 'Are you sure?', method: :delete %>)
  </li>
<% end %>
</ul>
