<div class="page-header">
  <h1><%= link_to 'CMS', cms_path %> &rarr; Footers</h1>
</div>

<p>
  <%= link_to 'New Footer', new_footer_path %>
</p>
<% if @footers.empty? %>
<p>There are no footers set up yet.</p>
<% else %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @footers.each do |footer| %>
    <tr>
      <td><%= footer.name %></td>
      <td>
        <%= edit_button(footer) %>
        <%= delete_button(footer) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
