<% if @snippet.errors.any? -%>
  <div id="error_explanation">
    <h2><%= pluralize(@snippet.errors.count, "error") %> prohibited this snippet from being saved:</h2>

    <ul>
<% @snippet.errors.full_messages.each do |msg| -%>
      <li><%= msg %></li>
<% end -%>
    </ul>
  </div>
<% end -%>

<%= form_for(@snippet) do |form| %>

<%= form.label :locale %>
<%= form.text_field :locale, class: 'span1', placeholder: 'en' %>

<%= form.label :name %>
<%= form.text_field :name %>

<%= form.label :snippet %>
<%= editor(form, :snippet, :html) %>

<div class="form-actions">
  <%= form.submit class: 'btn btn-primary' %>
</div>

<% end %>
