<a href="<%= management_information_path %>" class="cms_box">
  <h2>Management Information</h2>
  <p>Sales, customer and discount analysis.</p>
</a>

<a href="<%= orders_path %>" class="cms_box">
  <h2>Orders</h2>
  <p>View orders placed by advertisers.</p>
</a>

<a href="<%= users_path %>" class="cms_box">
  <h2>Users</h2>
  <p>View user account details, reset passwords and
    log in as another user.</p>
</a>

<a href="<%= countries_path %>" class="cms_box">
  <h2>Countries</h2>
  <p>View, add and delete countries.</p>
</a>

<a href="<%= resorts_path %>" class="cms_box">
  <h2>Resorts</h2>
  <p>View, add and delete resorts. Set which resorts
    are visible.</p>
</a>

<a href="<%= coupons_path %>" class="cms_box">
  <h2>Promotion Codes</h2>
  <p>
    Promotion codes allow X number of free adverts.
  </p>
</a>

<a href="<%= currencies_path %>" class="cms_box">
  <h2>Currencies</h2>
  <p>
    View, add and delete currencies. Automatically update
    exchange rates for accurate multi-currency price sorting.
  </p>
</a>

<a href="<%= export_path %>" class="cms_box">
  <h2>Export Data</h2>
  <p>
    Export data from database tables to Excel.
  </p>
</a>

<a href="<%= roles_path %>" class="cms_box">
  <h2>Roles</h2>
  <p>
    Manage roles. Roles describe what groups of users can do.
    Update sales pitch copy.
  </p>
</a>

<a href="<%= property_base_prices_path %>" class="cms_box">
  <h2>Base Prices</h2>
  <p>
    Set prices for properties based on the number of
    advertising months.
  </p>
</a>

<a href="<%= property_volume_discounts_path %>" class="cms_box">
  <h2>Volume Discounts</h2>
  <p>
    Set volume discounts (percentage off) for advertisers
    advertising multiple properties.
  </p>
</a>

<a href="<%= uploads_path %>" class="cms_box">
  <h2>Uploads</h2>
  <p>
    Upload and delete miscellaneous images and other files.
  </p>
</a>

<a href="<%= edit_website_path(@w) %>" class="cms_box">
  <h2>Website</h2>
  <p>
    Manage miscellaneous website properties such as privacy
    policy, terms and home page.
  </p>
</a>

<%= clear %>
