<a href="<%= orders_path %>" class="cms_box">
  <h2>Orders</h2>
  <p>View orders placed by advertisers.</p>
</a>

<a href="<%= users_path %>" class="cms_box">
  <h2>Users</h2>
  <p>View user account details, reset passwords and
    log in as another user.</p>
</a>

<a href="<%= countries_path %>" class="cms_box">
  <h2>Countries</h2>
  <p>View, add and delete countries.</p>
</a>

<a href="<%= resorts_path %>" class="cms_box">
  <h2>Resorts</h2>
  <p>View, add and delete resorts. Set which resorts
    are visible.</p>
</a>

<a href="<%= coupons_path %>" class="cms_box">
  <h2>Promotion Codes</h2>
  <p>
    Promotion codes allow X number of free adverts.
  </p>
</a>

<a href="<%= currencies_path %>" class="cms_box">
  <h2>Currencies</h2>
  <p>
    View, add and delete currencies. Automatically update
    exchange rates for accurate multi-currency price sorting.
  </p>
</a>

<a href="<%= export_path %>" class="cms_box">
  <h2>Export Data</h2>
  <p>
    Export data from database tables to Excel.
  </p>
</a>

<%= clear %>
