<%= render 'cms/menu' %>
<div class="cms">
<h1><%= link_to 'CMS', cms_path %> &rarr; Blog</h1>
<p>
  <%= link_to 'Write new post', new_blog_post_path, class: 'btn' %>
</p>
<table class="table table-bordered table-striped">
  <tr>
    <th>Headline</th>
    <th>Path (for linking)</th>
    <th>View</th>
    <th>Edit</th>
  </tr>
<% @blog_posts.each do |post| %>
  <tr>
    <td>
      <%= post.headline %>
    </td>
    <td>
      <code><%= blog_post_path(post) %></code>
    </td>
    <td>
      <%= link_to 'View', post %>
    </td>
    <td>
      <%= link_to 'Edit', edit_blog_post_path(post) %>
    </td>
  </tr>
<% end %>
</table>
</div>
