<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= t('please_correct') %>:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user, :html => { :multipart => true } do |f| %>
<%= f.hidden_field :role_id %>
<div id="panel_1">
<div class="group_panel">
<h2><%= t('users.your_details') %></h2>
<div class="field">
  <%= f.label :first_name, t('first_name') %><br>
  <%= f.text_field :first_name %> <%= required_field %>
</div>
<div class="field">
  <%= f.label :last_name, t('last_name') %><br>
  <%= f.text_field :last_name %> <%= required_field %>
</div>
<div class="field">
  <%= f.label :email %><br>
  <%= f.text_field :email %> <%= required_field %>
</div>
<div class="field">
  <%= f.label :password, t('password') %><br>
  <%= f.password_field :password %> <%= required_field if @user.new_record? %>
</div>
<div class="field">
  <%= f.label :phone, t('phone') %><br>
  <%= f.text_field :phone %>
</div>
<div class="field">
  <%= f.label :mobile, t('mobile') %><br>
  <%= f.text_field :mobile %>
</div>
</div>

<% if admin? %>
<div class="group_panel">
<h2><%= t 'coupon' %></h2>
<p>
  Apply the following coupon code to this user's purchases:
</p>
<div class="field">
  <%= f.label :coupon_id, I18n.t('coupon') %><br>
  <%= select("user", "coupon_id", Coupon.all.collect {|c| [ c.code, c.id ] }, {:prompt => 'Select Coupon'}) %>
</div>
</div>
<% end %>

<% if @user.role.has_business_details? %>
<div class="group_panel">
<h2><%= t('business_details') %></h2>
<div class="field">
  <%= f.label :business_name, t('users.business_name') %><br>
  <%= f.text_field :business_name %>
</div>
<div class="field">
  <%= f.label :position, t('users.your_position') %><br>
  <%= f.text_field :position %>
</div>
<div class="field">
  <%= f.label :vat_number, t('users.vat_number') %><br>
  <%= f.text_field :vat_number, :placeholder => 'GB123456789' %>
</div>
</div>
<% end %>

<% if @user.role.has_a_website? %>
<div class="group_panel">
<div class="field">
  <%= f.label :website, t('users.website') %><br>
  <%= f.text_field :website %>
</div>
<p>
  <%= t('users.website_format_tip') %>
</p>
</div>

<div class="group_panel">
  <h2>Logo or Photo of Business</h2>
  <div class="field">
  	<label for="image">Image (.jpeg, .jpg, .gif, .png)</label><br>
  	<input id="image" name="image" type="file" />
  </div>
</div>
<% end %>

<div class="group_panel">
<% if @user.new_record? %>
<h2><%= t 'terms' %></h2>
<div class="field">
  <%= f.check_box :terms_and_conditions %>
  <%= f.label :terms_and_conditions, t('users.i_accept_terms') %>
  <%= link_to t('view'), terms_path %>
  <%= required_field %>
</div>
<% end %>

<div class="field">
  <%= f.submit I18n.t(submit_label) %>
</div>
</div>

</div><!--#panel_1-->
<div id="panel_2">
<div class="group_panel">
<h2><%= t('users.billing_details') %></h2>
<div class="field">
  <%= f.label :billing_street, t('users.billing_street') %><br>
  <%= f.text_field :billing_street %> <%= required_field %>
</div>
<div class="field">
  <%= f.text_field :billing_locality %>
</div>
<div class="field">
  <%= f.label :billing_city, t('city') %><br>
  <%= f.text_field :billing_city %> <%= required_field %>
</div>
<div class="field">
  <%= f.label :billing_county, t('county') %><br>
  <%= f.text_field :billing_county %>
</div>
<div class="field">
  <%= f.label :billing_postcode, t('postcode') %><br>
  <%= f.text_field :billing_postcode %>
</div>
<div class="field">
  <%= f.label :billing_country_id, t('countries.country') %><br>
  <%= select("user", "billing_country_id", Country.popular_billing_countries.collect {|c| [ c.name, c.id ] }, {:prompt => t('countries.select_country')}) %>
  <%= required_field %>
</div>
</div>

<% if @user.role.advertises_generally? %>
<div class="group_panel">
<h2><%= @user.role.has_business_details? ? t('users.describe_your_business') : t('users.describe_yourself') %></h2>
<div class="field">
  <%= f.label :description, t('description') %><br>
  <%= f.text_area :description %>
</div>
</div>
<% end %>
</div><!--#panel_2-->
<% end %>

<script>
  var user_name = new LiveValidation('user_name');
  user_name.add( Validate.Length, { minimum: 5, maximum: 40 } );

  var user_email = new LiveValidation('user_email');
  user_email.add(Validate.Email);

  var user_password = new LiveValidation('user_password');
  user_password.add( Validate.Length, { minimum: 5, maximum: 40 } );
</script>
