<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
<h2>Your Details</h2>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :email %><br>
  <%= f.text_field :email %>
</p>
<p>
  <%= f.label :password %><br>
  <%= f.password_field :password %>
</p>
<p>
  <%= f.label :phone %><br>
  <%= f.text_field :phone %>
</p>
<p>
  <%= f.label :mobile %><br>
  <%= f.text_field :mobile %>
</p>
<h2>A Bit About You or Your Business</h2>
<p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</p>
<p>
  <%= f.label :website %><br>
  <%= f.text_field :website %>
</p>

<% if admin? %>
<h2>Coupon Code</h2>
<p>
  Apply the following coupon code to this user's purchases:
</p>
<p>
  <%= f.label :coupon_id, I18n.t('coupon') %><br>
  <%= select("user", "coupon_id", Coupon.all.collect {|c| [ c.code, c.id ] }, {:prompt => 'Select Coupon'}) %>
</p>
<% end %>

<h2>If this is a Business Account</h2>
<p>
  <%= f.label :business_name %><br>
  <%= f.text_field :business_name %>
</p>
<p>
  <%= f.label :position, 'Your position' %><br>
  <%= f.text_field :position %>
</p>

<h2>Card/Billing Details</h2>
<p>
  <%= f.label :billing_street, 'House number and street' %><br>
  <%= f.text_field :billing_street %>
</p>
<p>
  <%= f.text_field :billing_locality %>
</p>
<p>
  <%= f.label :billing_city, 'Town/city' %><br>
  <%= f.text_field :billing_city %>
</p>
<p>
  <%= f.label :billing_county, 'State/county' %><br>
  <%= f.text_field :billing_county %>
</p>
<p>
  <%= f.label :billing_postcode, 'ZIP/postcode' %><br>
  <%= f.text_field :billing_postcode %>
</p>
<p>
  <%= f.label :billing_country_id, I18n.t('country') %><br>
  <%= select("user", "billing_country_id", Country.all.collect {|c| [ c.name, c.id ] }, {:prompt => 'Select Country'}) %>
</p>


<h3>Advertising Features</h3>
<p>
  <%= f.label :role_id %><br>
  <%= select("user", "role_id", Role.where(:select_on_signup => true).collect {|r| [ r.name, r.id ] }, {:prompt => 'Select Role'}) %>
</p>

<h3>Terms &amp; Conditions</h3>
<p>
  <%= f.check_box :terms_and_conditions %>
  <%= f.label :terms_and_conditions, 'I accept the terms & conditions below' %> 
</p>

<p>
  <%= f.submit I18n.t(submit_label) %>
</p>

<% end %>

<script>
  var user_name = new LiveValidation('user_name');
  user_name.add( Validate.Length, { minimum: 5, maximum: 40 } );

  var user_email = new LiveValidation('user_email');
  user_email.add(Validate.Email);

  var user_password = new LiveValidation('user_password');
  user_password.add( Validate.Length, { minimum: 5, maximum: 40 } );
</script>
