<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
<%= f.hidden_field :role_id %>
<div id="panel_1">
<div class="group_panel">
<h2>Your Details</h2>
<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %> <%= required_field %>
</div>
<div class="field">
  <%= f.label :email %><br>
  <%= f.text_field :email %> <%= required_field %>
</div>
<div class="field">
  <%= f.label :password %><br>
  <%= f.password_field :password %> <%= required_field if @user.new_record? %>
</div>
<div class="field">
  <%= f.label :phone %><br>
  <%= f.text_field :phone %>
</div>
<div class="field">
  <%= f.label :mobile %><br>
  <%= f.text_field :mobile %>
</div>
</div>

<% if admin? %>
<div class="group_panel">
<h2><%= t 'coupon' %></h2>
<p>
  Apply the following coupon code to this user's purchases:
</p>
<div class="field">
  <%= f.label :coupon_id, I18n.t('coupon') %><br>
  <%= select("user", "coupon_id", Coupon.all.collect {|c| [ c.code, c.id ] }, {:prompt => 'Select Coupon'}) %>
</div>
</div>
<% end %>

<% if @user.role.has_business_details? %>
<div class="group_panel">
<h2><%= t('business_details') %></h2>
<div class="field">
  <%= f.label :business_name %><br>
  <%= f.text_field :business_name %>
</div>
<div class="field">
  <%= f.label :position, t('users.your_position') %><br>
  <%= f.text_field :position %>
</div>
</div>
<% end %>

<% if @user.role.has_a_website? %>
<div class="group_panel">
<div class="field">
  <%= f.label :website %><br>
  <%= f.text_field :website %>
</div>
</div>
<% end %>

<div class="group_panel">
<% if @user.new_record? %>
<h2>Terms &amp; Conditions</h2>
<div class="field">
  <%= f.check_box :terms_and_conditions %>
  <%= f.label :terms_and_conditions, 'I accept the terms & conditions below' %>  <%= required_field %>
</div>
<% end %>

<div class="field">
  <%= f.submit I18n.t(submit_label) %>
</div>
</div>

</div><!--#panel_1-->
<div id="panel_2">
<div class="group_panel">
<h2>Card/Billing Details</h2>
<div class="field">
  <%= f.label :billing_street, 'House number and street' %><br>
  <%= f.text_field :billing_street %> <%= required_field %>
</div>
<div class="field">
  <%= f.text_field :billing_locality %>
</div>
<div class="field">
  <%= f.label :billing_city, t('city') %><br>
  <%= f.text_field :billing_city %> <%= required_field %>
</div>
<div class="field">
  <%= f.label :billing_county, t('county') %><br>
  <%= f.text_field :billing_county %>
</div>
<div class="field">
  <%= f.label :billing_postcode, t('postcode') %><br>
  <%= f.text_field :billing_postcode %>
</div>
<div class="field">
  <%= f.label :billing_country_id, I18n.t('country') %><br>
  <%= select("user", "billing_country_id", Country.all.collect {|c| [ c.name, c.id ] }, {:prompt => 'Select Country'}) %>
  <%= required_field %>
</div>
</div>

<% if @user.role.advertises_generally? %>
<div class="group_panel">
<h2>Describe <%= @user.role.has_business_details? ? 'Your Business' : 'Yourself' %></h2>
<div class="field">
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</div>
</div>
<% end %>
</div><!--#panel_2-->
<% end %>

<script>
  var user_name = new LiveValidation('user_name');
  user_name.add( Validate.Length, { minimum: 5, maximum: 40 } );

  var user_email = new LiveValidation('user_email');
  user_email.add(Validate.Email);

  var user_password = new LiveValidation('user_password');
  user_password.add( Validate.Length, { minimum: 5, maximum: 40 } );
</script>
