<p><%= t('users.forgot_password.instructions') %></p>

<%= form_tag action: 'forgot_password_send' do %>
  <div class="field">
    <label for="email"><%= t('email') %></label><br>
    <%= text_field_tag :email, params[:email] %>
  </div>

  <%= submit_tag t('users.forgot_password.send') %>
<% end %>
