<%= form_tag action: 'forgot_password_change' do %>
<%= hidden_field_tag 'id', params[:id] %>
<%= hidden_field_tag 't', params[:t] %>
  <div class="field">
    <label for="password"><%= t('password') %></label><br>
    <%= password_field_tag :password %>
  </div>
  
  <%= submit_tag t('change') %>
<% end %>
