<h1><%= link_to 'CMS', cms_path %> &rarr; Users</h1>
<p><%= link_to 'New user', :action => 'new' %></p>

<div class="group_panel">
<table class="grid">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Switch User</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |u| -%>
    <tr>
      <td><%= link_to h(u.name), :controller => 'users', :action => 'edit', :id => u %></td>
      <td><%= u.role.name %></td>
      <td><%= mail_to u.email, u.email %>&nbsp;</td>
      <td><%= tick u.role.admin? %></td>
      <td><%= link_to 'Switch User', switch_user_path(u.id) %></td>
    </tr>
  <% end -%>
  </tbody>
</table>
</div>
