<h1>Advertiser Home</h1>

<nav>
  <ul>
    <li><%= link_to 'My Details', my_details_path %></li>
    <li><%= link_to 'Receipts', receipts_orders_path %></li>
    <li>Stats</li>
    <li>My Feedback</li>
    <li><%= link_to 'My Enquiries', my_enquiries_path %></li>
    <li><%= link_to 'My Directory Adverts', my_directory_adverts_path %></li>
<% if @current_user.interested_in_renting_out_properties? || @current_user.has_properties_for_rent? %>
    <li><%= link_to 'My Properties for Rent', my_properties_for_rent_path %></li>
<% end %>
  </ul>
</nav>
