<h1>Advertiser Home</h1>

<nav>
  <ul>
    <li><%= link_to 'My Details', my_details_path %></li>
    <li><%= link_to 'Receipts', receipts_orders_path %></li>
    <li>Stats</li>
    <li>My Feedback</li>

    <li><%= link_to 'My Enquiries', my_enquiries_path %></li>
<% if @current_user.role.advertises_generally? %>
    <li><%= link_to 'My Directory Adverts', my_directory_adverts_path %></li>
<% end %>
<% if @current_user.role.advertises_properties? %>
    <li><%= link_to 'My Properties for Rent', my_properties_for_rent_path %></li>
    <li><%= link_to 'My Properties for Sale', my_properties_for_sale_path %></li>
<% end %>
  </ul>
</nav>
