<%= render :partial => 'shared/steps', :locals => { :step => 3 } %>

<h1><%= I18n.t(:advertise) %></h1>

<nav>
  <ul>
<% if @current_user.role.advertises_generally? %>
    <li><%= link_to 'New Directory Advert', new_directory_advert_path %></li>
<% end %>
<% if @current_user.role.advertises_properties? %>
    <li><%= link_to 'Advertise a new property for rent', new_property_path %></li>
    <li><%= link_to 'Advertise a new property for sale', new_property_path(:for_sale => true) %></li>
<% end %>
    <li><%= link_to I18n.t('my_adverts'), my_adverts_path %></li>
    <li><%= link_to 'My Details', my_details_path %></li>
    <li><%= link_to 'Receipts', receipts_orders_path %></li>
    <li>Stats</li>
    <li>My Feedback</li>

    <li><%= link_to 'My Enquiries', my_enquiries_path %></li>
  </ul>
</nav>
