<%= content_for :advertising do %>
<%
# Banner advert HTML from pages or countries are shown if they exist

# Users banners are always shown if they exist, beneath all other banners

# If no other banners have been displayed then show Google Ads or randoms
# or 'Advertise in this space'
%>
<% if !@banner_advert_html.blank? -%>
<%= raw @banner_advert_html %>
<% end -%>

<% if banners.empty? and @banner_advert_html.blank? %>
  <% if rand() > 0.5 %>
    <a href="/welcome/other-business"><img
src="/images/small-banner-advertise-here.png" alt="Advertise in this space"></a>
  <% else %>
  <script>
  google_ad_client = "ca-pub-7770897489479846";
  /* Wide Skyscraper */
  google_ad_slot = "8093572877";
  google_ad_width = 160;
  google_ad_height = 600;
  </script>
  <script src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
  <% end %>
<% else %>
  <% banners.each do |banner| %>
    <%= button_to click_directory_advert_path(banner) do %>
      <img
        src="<%= banner.banner_image.url %>" alt="<%= banner.business_name %>"
        title="<%= banner.business_name %>">
    <% end %>
  <% end %>
<% end -%>
<% end %>
