<% if @directory_advert.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@directory_advert.errors.count, "error") %> prohibited this directory advert from being saved:</h2>

    <ul>
    <% @directory_advert.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @directory_advert do |f| %>
<div class="group_panel">
<table>
  <tr>
    <td width="40%">
<div class="field">
  <%= f.label :resort_id, I18n.t('resort') %><br>
  <%= select("directory_advert", "resort_id", (Resort.visible.collect {|r| [ r.country.name + ' > ' + r.name, r.id ] }).sort, {:prompt => 'Select Resort'}) %>
</div>
    </td>
    <td width="60%"><br>
      <b>Example</b><br>
      France &gt; Chamonix
    </td>
  </tr>
  <tr>
    <td>
<div class="field">
  <%= f.label :category_id, I18n.t('category') %><br>
  <%= select("directory_advert", "category_id", (Category.all.collect {|c| [ t(c.name), c.id ] }).sort, {:prompt => 'Select Category'}) %>
</div>
    </td>
    <td><br><br>
      Taxis
    </td>
  </tr>
  <tr>
    <td>
<div class="field">
  <%= label_tag 'business name' %><br>
  <%= text_field_tag 'business_name', @current_user.business_name %>
</div>
    </td>
    <td><br><br>
      Alpha Taxis
    </td>
  </tr>
  <tr>
    <td>
<div class="field">
  <%= f.label :business_address %><br>
  <%= f.text_area :business_address %>
</div>
    </td>
    <td><br><br>
      123 Rue Nord<br>
      Chamonix
    </td>
  </tr>
  <tr>
    <td>
<div class="field">
  <%= f.label :postcode, t('postcode') %><br>
  <%= f.text_field :postcode %>
</div>
    </td>
    <td><br><br>
      74400
    </td>
  </tr>
  <tr>
    <td>
Please include the country calling code.

<div class="field">
  <%= f.label :phone, t('phone') %><br>
  <%= f.text_field :phone %>
</div>
    </td>
    <td><br><br>
      +33.1234567890
    </td>
  </tr>
    <td>
<div class="field">
  <%= label_tag 'website' %><br>
  <%= text_field_tag 'website', @current_user.website %>
</div>
    </td>
    <td><br><br>
      www.example.org
    </td>
  </tr>
  <tr>
    <td>
<div class="field">
  <%= label_tag 'description' %><br>
  <%= text_area_tag 'description', @current_user.description %>
</div>
    </td>
    <td><br><br>
      Example
    </td>
  </tr>
  <tr>
    <td>
<div class="field">
  <%= f.label :opening_hours %><br>
  <%= f.text_area :opening_hours %>
</div>
    </td>
    <td><br><br>
      Monday-Saturday: All day<br>
      Sunday: Midnight to 8pm
    </td>
  </tr>
  <tr>
    <td>
<div class="field">
  <%= f.submit(I18n.t(:save)) %>
</div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
</div><!--.group_panel-->
<% end %>
