<div id="wide_content_with_wide_skyscrapers">
<% if @directory_advert.image %>
<p style="float:right; margin-left: 1em; margin-bottom: 1em;">
  <img src="<%= @directory_advert.image.url(400) %>">
</p>
<% end %>
<h1><%= @directory_advert.user.business_name %></h1>
<% unless @directory_advert.user.website.blank? %>
<p>
  <%= t('users.website') %>: <%= link_to @directory_advert.user.website, @directory_advert.user.website, :target => "_blank" %>
</p>
<% end %>
<p>
  <%= @directory_advert.business_address %><br>
  <%= @directory_advert.postcode %>
</p>
<h2><%= t('description') %></h2>
<p>
  <%= md @directory_advert.user.description %>
</p>

</div>
<div id="wide_skyscrapers">
  <%= render :partial => 'banner_adverts/banners', :object => BannerAdvert.small_banners_for(@directory_advert.resort) %>
</div>
