<h1><%= @directory_advert.user.business_name %></h1>
<p>
  Browse more <%= link_to "#{@directory_advert.category.name} in #{@directory_advert.category.resort.name}", resort_category_path(@directory_advert.category.resort, @directory_advert.category) %>
</p>
<p>
  Website: <%= @directory_advert.user.website %>
</p>
<p>
  <%= @directory_advert.business_address %><br>
  <%= @directory_advert.postcode %>
</p>
<p>
  <%= @directory_advert.user.description %>
</p>
