<a href="<%= property_path(p) %>" class="layout-element size-1of3">
  <% unless p.image.nil? %>
  <%= image_tag(p.image.url(258)) %>
  <% end %>
  <p class="header-title"><%= featured_property_price_message(p) %></p>
  <div class="header-text-cont">
    <p class="header-text">
      <%= p.resort %>
      <% if p.for_rent? -%>
        <span class="sleeps">&middot; Sleeps <%= p.sleeping_capacity %></span>
      <% end -%>
      </p>
  </div>
</a>
