<% cache(p) do -%>
<a href="<%= property_path(p) %>" class="layout-element size-1of3" title="<%= p.name %>">
  <% if p.image %>
  <%= image_tag(p.image.url(258), alt: featured_property_alt_attribute(p)) %>
  <% else %>
  <%= image_tag('image-missing.png', alt: 'Image missing') %>
  <% end %>
  <p class="header-title"><%= featured_property_price_message(p) %></p>
  <div class="header-text-cont">
    <p class="header-text">
      <%= p.resort %>
      <% if p.for_rent? -%>
        <span class="sleeps">&middot; Sleeps <%= p.sleeping_capacity %></span>
      <% end -%>
      </p>
  </div>
</a>
<% end -%>
