<%= render 'users/my_details_summary' %>

<% if @property.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

    <ul>
    <% @property.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @property do |f| %>
<%= f.hidden_field :for_sale %>
<p>
  <%= f.label :name, I18n.t('name') %><br>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :strapline, I18n.t('strapline') %><br>
  <%= f.text_field :strapline %>
</p>
<% if @current_user.role.flag_new_development? %>
<p>
  <%= f.check_box :new_development %>
  <%= f.label :new_development %>
</p>
<% end %>
<p>
  <%= f.label :resort_id, I18n.t('resort') %><br>
  <%= select("property", "resort_id", (Resort.all.collect {|r| [ r.country.name + ' > ' + r.name, r.id ] }).sort, {:prompt => 'Select Resort'}) %>
</p>
<% if @property.for_sale? %>
<p>
  <%= f.label :sale_price, I18n.t('sale_price') %><br>
  <%= f.text_field :sale_price %> EUR
</p>
<p>
  <%= f.label :floor_area_metres_2, I18n.t('floor_area') %><br>
  <%= f.text_field :floor_area_metres_2 %> square metres
</p>
<p>
  <%= f.label :plot_size_metres_2, I18n.t('plot_size') %><br>
  <%= f.text_field :plot_size_metres_2 %> square metres
</p>
<p>
  <%= f.check_box :private_garden %> <%= f.label :private_garden, 'Private garden' %>
</p>
<% else %>
<p>
  <%= f.label :weekly_rent_price, I18n.t('weekly_rent_price') %><br>
  <%= f.text_field :weekly_rent_price %> EUR
</p>
<p>
  <%= f.label :sleeping_capacity, I18n.t('sleeping_capacity') %><br>
  <%= f.text_field :sleeping_capacity %>
</p>
<p>
  <%= f.check_box :pets %> <%= f.label :pets, 'Pets allowed' %>
</p>
<p>
  <%= f.check_box :smoking %> <%= f.label :smoking, 'Smoking allowed' %>
</p>
<p>
  <%= f.check_box :tv %> <%= f.label :tv, 'TV' %>
</p>
<p>
  <%= f.check_box :satellite %> <%= f.label :satellite, 'Satellite' %>
</p>
<p>
  <%= f.check_box :wifi %> <%= f.label :wifi, 'WiFi' %>
</p>
<% end %>
<p>
  <%= f.label :number_of_bedrooms, I18n.t('number_of_bedrooms') %><br>
  <%= f.text_field :number_of_bedrooms %>
</p>
<% if @property.for_sale? %>
<p>
  <%= f.label :number_of_bathrooms, I18n.t('number_of_bathrooms') %><br>
  <%= f.text_field :number_of_bathrooms %>
</p>
<% end %>
<p>
  <%= f.label :metres_from_lift, I18n.t('distance_from_lift') %><br>
  <%= f.text_field :metres_from_lift %> metres
</p>
<p>
  <%= f.check_box :disabled %> <%= f.label :disabled, 'Suitable for disabled people' %>
</p>
<p>
  <%= f.check_box :fully_equipped_kitchen %> <%= f.label :fully_equipped_kitchen, 'Fully equipped kitchen' %>
</p>
<p>
  <%= f.check_box :parking %> <%= f.label :parking, 'Parking' %>
</p>
<div class="field">
  <%= f.label :description, I18n.t('description') %><br>
  <%= f.text_area :description %>
</div>
<p>
  <%= f.submit I18n.t('save') %>
</p>
<% end %>
