<script>
$(function() {
  $('#strapline_example').click(function() {
    $('#strapline-example-modal').modal('show');
    // prevent the default action, e.g., following a link
    return false;
  });
});
</script>

<% if @property.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

  <ul>
  <% @property.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= form_for @property do |f| %>

<% if admin? -%>
<div class="well">
  <div class="form-horizontal">
    <div class="form-group">
      <%= f.label :listing_type, class: 'control-label col-lg-4' %>
      <div class="col-lg-6">
        <%= f.select :listing_type, listing_type_options, {}, class: 'form-control' %>
      </div>
    </div>
  </div>
</div>
<% else -%>
  <%= f.hidden_field :listing_type %>
<% end -%>

  <div class="well">
    <div class="form-horizontal">
      <div class="form-group">
        <%= f.label :name, t('property_name'), class: 'control-label col-lg-2' %> <%= required_field %>
        <div class="col-lg-4">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>

  <% unless @property.new_record? %>
  <div class="well">
    <legend>Images</legend>
    <p>
      <%= link_to 'Add or remove images for this property', new_image_path %>
      (changes made on this page will not be saved)
    </p>
    <% unless @property.images.empty? %>
    <%= f.label :image_id, t('main_image') %>
    <%= select("property", "image_id", (@property.images.collect {|i| [ i.filename, i.id ] }).sort, {prompt: 'Select Image'}) %>
    <% end %>
  </div>
  <% end %>

  <% if @current_user.role.flag_new_development? or @property.for_rent? %>
  <div class="well">
    <% if @current_user.role.flag_new_development? && !@property.for_rent? %>
    <label class="checkbox">
      <%= f.check_box :new_development %>
      <%= t('properties.features.new_development') %>
    </label>
    <% end %>
    <% if @property.for_rent? %>
    <label class="checkbox">
      <%= f.check_box :long_term_lets_available %>
      <%= t('properties.features.long_term_lets_available') %>
    </label>
    <label class="checkbox">
      <%= f.check_box :short_stays %>
      <%= t('properties.features.short_stays') %>
    </label>
    <% end %>
  </div>
  <% end %>

  <div class="well">
    <div class="form-horizontal">
      <div class="form-group">
        <%= f.label :resort_id, I18n.t('resort'), class: 'control-label col-lg-4' %> <%= required_field %>
        <div class="col-lg-6">
          <%= select("property", "resort_id", (Resort.where(visible: true).collect {|r| [ r.country.name + ' > ' + r.name, r.id ] }).sort, {prompt: t('properties.select_resort')}, class: 'form-control') %>
        </div>
      </div>
      <% if @property.hotel? %>
      <div class="form-group">
        <%= f.label :star_rating, t('properties.star_rating'), class: 'control-label col-lg-2' %>
        <div class="col-lg-6">
          <%= select("property", "star_rating", Range.new(1, 5).collect {|sr| [pluralize(sr, 'star'), sr]}, {prompt: 'Choose'}) %>
        </div>
      </div>
      <% end %>
      <% if @property.for_sale? or @property.for_rent? %>
      <div class="form-group">
        <%= f.label :accommodation_type, t('properties.accommodation_type'), class: 'control-label col-lg-4' %>
        <div class="col-lg-6">
          <select id="property_accommodation_type" name="property[accommodation_type]" class="form-control">
            <% [Property::ACCOMMODATION_TYPE_CHALET, Property::ACCOMMODATION_TYPE_APARTMENT].each do |value| -%>
            <option value="<%= value %>"<%= ' selected="selected"' if @property.accommodation_type==value %>><%= property_type_for_accommodation_type(value) %></option>
            <% end %>
          </select>
        </div>
      </div>
      <% else %>
      <!-- not relevant -->
      <input id="property_accommodation_type" name="property[accommodation_type]"
      type="hidden" value="<%= Property::ACCOMMODATION_TYPE_CHALET %>">
      <% end %>
      <div class="form-group">
        <%= f.label :distance_from_town_centre_m, 'Distance from town centre', class: 'control-label col-lg-4' %>
        <div class="col-lg-2">
          <%= select 'property', 'distance_from_town_centre_m', distance_options, {prompt: 'Choose'}, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :metres_from_lift, t('nearest_lift'), class: 'control-label col-lg-4' %>
        <div class="col-lg-2">
          <%= select 'property', 'metres_from_lift', distance_options, {prompt: 'Choose'}, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :number_of_bedrooms, t('number_of_bedrooms'), class: 'control-label col-lg-4' %>
        <div class="col-lg-2">
          <%= select("property", "number_of_bedrooms", ((1..10).collect {|n| [ n, n ] }), {prompt: 'Choose'}, class: 'form-control') %>
        </div>
      </div>

      <% if @property.for_rent? %>
      <div class="form-group">
        <%= f.label :sleeping_capacity, t('sleeping_capacity'), class: 'control-label col-lg-4' %>
        <div class="col-lg-2">
          <%= select("property", "sleeping_capacity", ((1..30).collect {|n| [ n, n ] }), {prompt: 'Choose'}, class: 'form-control') %>
        </div>
      </div>
      <% end %>

      <div class="form-group">
        <%= f.label :number_of_bathrooms, t('number_of_bathrooms'), class: 'control-label col-lg-4' %>
        <div class="col-lg-2">
          <%= select("property", "number_of_bathrooms", ((1..10).collect {|n| [ n, n ] }), {prompt: 'Choose'}, class: 'form-control') %>
        </div>
      </div>

      <style>
      .area-unit {
        width: 140px;
      }
      </style>
      <script>
      $(function() {
        $('.area-unit').change(function() {
          var sq_m_to_f = 10.7639104
            , sq_f_to_m = 0.09290304
            , input = $("#" + $(this).data('target'))
            , area = input.val();

          if($(this).val() == 'm') {
            area = sq_f_to_m * area;
          } else {
            area = sq_m_to_f * area;
          }

          input.val(Math.round(area));
        });
      });
      </script>

      <% if @property.for_rent? or @property.for_sale? %>
      <div class="form-group">
        <%= f.label :floor_area_metres_2, t('floor_area'), class: 'control-label col-lg-4' %>
        <div class="col-lg-2">
          <%= f.number_field :floor_area_metres_2, class: 'form-control' %>
        </div>
        <div class="col-lg-2">
          <%= area_select 'floor_area_unit', :property_floor_area_metres_2 %>
        </div>
      </div>
      <% end %>

      <% if @property.for_sale? %>
      <div class="form-group">
        <%= f.label :plot_size_metres_2, t('plot_size'), class: 'control-label col-lg-2' %>
        <div class="col-lg-6">
          <%= f.number_field :plot_size_metres_2 %>
          <%= area_select 'plot_area_unit', :property_plot_size_metres_2 %>
        </div>
      </div>
      <% end %>

    </div><!--.form-horizontal-->
  </div><!--.well-->

  <div class="well">
    <legend>Features</legend>
    <div class="form-horizontal">
      <% if @property.for_rent? %>
      <div class="form-group">
        <%= f.label :tv, t('properties.features.tv'), class: 'control-label col-lg-2' %>
        <div class="col-lg-6">
          <select id="property_tv" name="property[tv]" class="form-control">
            <% [Property::TV_NO, Property::TV_YES, Property::TV_FREEVIEW, Property::TV_SATELLITE].each do |value| %>
            <option value="<%= value %>"<%= ' selected="selected"' if @property.tv==value %>><%= Property.tv_description(value) %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :board_basis, t('properties.features.board_basis'), class: 'control-label col-lg-2' %>
        <div class="col-lg-6">
          <select id="property_board_basis" name="property[board_basis]" class="form-control">
            <% [Property::BOARD_BASIS_SELF_CATERING, Property::BOARD_BASIS_BED_AND_BREAKFAST, Property::BOARD_BASIS_HALF_BOARD, Property::BOARD_BASIS_FULL_BOARD].each do |value| %>
            <option value="<%= value %>"<%= ' selected="selected"' if @property.board_basis==value %>><%= Property.board_basis_description(value) %></option>
            <% end %>
          </select>
        </div>
      </div>
      <% end %>

      <div class="form-group">
        <%= f.label :parking, t('properties.features.parking'), class: 'control-label col-lg-2' %>
        <div class="col-lg-6">
          <select id="property_parking" name="property[parking]" class="form-control">
            <% [Property::PARKING_NO, Property::PARKING_ON_STREET, Property::PARKING_OFF_STREET, Property::PARKING_GARAGE].each do |value| %>
            <option value="<%= value %>"<%= ' selected="selected"' if @property.parking==value %>><%= Property.parking_description(value) %></option>
            <% end %>
          </select>
        </div>
      </div>

      <table>
        <tr>
          <td>
            <label class="checkbox">
              <%= f.check_box :balcony %>
              <%= t('properties.features.balcony') %>
            </label>
            <label class="checkbox">
              <%= f.check_box :terrace %>
              <%= t('properties.features.terrace') %>
            </label>
            <label class="checkbox">
              <%= f.check_box :mountain_views %>
              <%= t('properties.features.mountain_views') %>
            </label>
            <% if @property.for_rent? %>
            <label class="checkbox">
              <%= f.check_box :wifi %>
              <%= t('properties.features.wifi') %>
            </label>
            <% end %>
            <label class="checkbox">
              <%= f.check_box :log_fire %>
              <%= t('properties.features.log_fire') %>
            </label>
            <label class="checkbox">
              <%= f.check_box :fully_equipped_kitchen %>
              <%= t('properties.features.fully_equipped_kitchen') %>
            </label>
            <label class="checkbox">
              <%= f.check_box :cave %>
              <%= t('properties.features.cave') %>
            </label>
            <label class="checkbox">
              <%= f.check_box :ski_in_ski_out %>
              <%= t('properties.features.ski_in_ski_out') %>
            </label>
          </td>
          <td>
            <% if @property.for_rent? %>
            <label class="checkbox">
              <%= f.check_box :children_welcome %>
              <%= t('properties.features.children_welcome') %>
            </label>
            <label class="checkbox">
              <%= f.check_box :pets %>
              <%= t('properties.features.pets') %>
            </label>
            <label class="checkbox">
              <%= f.check_box :smoking %>
              <%= t('properties.features.smoking') %>
            </label>
            <label class="checkbox">
              <%= f.check_box :disabled %>
              <%= t('properties.features.disabled') %>
            </label>
            <% end %>
            <label class="checkbox">
              <%= f.check_box :garden %>
              <%= t('properties.features.garden') %>
            </label>
            <label class="checkbox">
              <%= f.check_box :hot_tub %>
              <%= t('properties.features.hot_tub') %>
            </label>
            <label class="checkbox">
              <%= f.check_box :indoor_swimming_pool %>
              <%= t('properties.features.indoor_swimming_pool') %>
            </label>
            <label class="checkbox">
              <%= f.check_box :outdoor_swimming_pool %>
              <%= t('properties.features.outdoor_swimming_pool') %>
            </label>
          <label class="checkbox">
            <%= f.check_box :sauna %>
            <%= t('properties.features.sauna') %>
          </label>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="well">
  <legend>Price</legend>
  <div class="form-horizontal">
    <div class="form-group">
<% if @property.for_sale? %>
      <%= f.label :sale_price, I18n.t('sale_price'), class: 'control-label col-lg-4' %>
      <div class="col-lg-2">
        <%= f.text_field :sale_price, class: 'form-control' %>
<% else %>
      <%= f.label :weekly_rent_price, I18n.t('weekly_rent_price'), class: 'control-label col-lg-4' %>
      <div class="col-lg-2">
        <%= f.text_field :weekly_rent_price, class: 'form-control' %>
<% end %>
      </div>
      <div class="col-lg-2">
        <%= select("property", "currency_id", (Currency.order('code').collect {|c| [ c.code, c.id ] }).sort, {prompt: 'Select Currency'}, class: 'form-control') %>
      </div>
    </div>
    <p class="help-block">
      If you have a booking or enquiry page on your own website then you may
      enter its URL here to direct enquiries to it instead of using the
      default MyChaletFinder.com contact page.
    </p>
    <div class="form-group">
      <%= f.label :booking_url, 'Booking URL', class: 'control-label col-lg-4' %>
      <div class="col-lg-6">
        <%= f.text_field :booking_url, class: 'form-control', placeholder: 'http://example.com/mybookingform' %>
      </div>
    </div>
  </div>
</div>
<%= clear %>

<div class="well">
  <legend>Address</legend>
  <div class="form-group">
    <%= f.label :address, t('address') %> <%= required_field %>
    <%= f.text_area :address, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :postcode, t('postcode') %>
    <%= f.text_field :postcode, class: 'form-control' %>
  </div>
</div>

<div class="modal fade" id="strapline-example-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= t('properties.strapline_example') %></h4>
      </div>
      <div class="modal-body">
        <p><%= t('properties.strapline_example_content') %></p>
      </div>
    </div>
  </div>
</div>

<div class="well">
  <legend>Describe your property for potential customers</legend>
  <div class="form-group">
    <%= f.label :strapline, t('strapline') %>
    <%= f.text_area :strapline, class: 'form-control' %>
  </div>
  <p class="help-block">
    <%= I18n.t('strapline_placeholder') %> <a href="#" id="strapline_example"><%= t('example') %></a>
  </p>
  <div class="form-group">
    <%= f.label :description, t('description') %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
</div>

<%= clear %>

<div class="form-actions">
  <%= f.submit I18n.t('save'), class: 'btn btn-primary' %>
</div>
<% end %>
