<%= form_for @property do |f| %>
<p>
  <%= f.label :name, I18n.t('name') %><br>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :resort_id, I18n.t('resort') %><br>
  <%= select("property", "resort_id", (Resort.all.collect {|r| [ r.country.name + ' > ' + r.name, r.id ] }).sort, {:prompt => 'Select Resort'}) %>
</p>
<p>
  <%= f.label :weekly_rent_price, I18n.t('weekly_rent_price') %><br>
  <%= f.text_field :weekly_rent_price %> EUR
</p>
<p>
  <%= f.label :sleeping_capacity, I18n.t('sleeping_capacity') %><br>
  <%= f.text_field :sleeping_capacity %>
</p>
<p>
  <%= f.label :number_of_bedrooms, I18n.t('number_of_bedrooms') %><br>
  <%= f.text_field :number_of_bedrooms %>
</p>
<p>
  <%= f.label :metres_from_lift, I18n.t('distance_from_lift') %><br>
  <%= f.text_field :metres_from_lift %> metres
</p>
<p>
  <%= f.submit I18n.t('save') %>
</p>
<% end %>
