  <h2>Not included in the total price</h2>
  <table class="table">
<% @additional_services.not_included.each do |service| -%>
    <tr>
      <td>
        <%= service.description %>,
        <%= service.amount %> <%= service.currency %>,
        <%= service.price_rule_desc %>,
        <%= service.type_desc %>
      </td>
    </tr>
<% end -%><!-- not included service line -->
  </table>
