<div class="property-block property-summary" itemscope itemtype="http://schema.org/LodgingBusiness">
<% cache(p) do -%>
  <a href="<%= property_detail_path(p) %>" class="property-block-images" itemprop="url" title="Read more about <%= p.name %>">
    <div class="property-title">
      <div>
        <%= content_tag(:h3, p.truncated_name, itemprop: 'name') %>
        <h5 class="property-type">
          <%= p.resort %>, <%= p.country %> <%= property_type(p) %>
        </h5>
      </div>
    </div>
    <p class="property-thumbnail">
    <% unless p.image.nil? -%>
      <%= image_tag(property_summary_thumbnail(p), title: "#{p.name}", alt: "#{p.name} #{property_type(p)} in #{p.resort}") %>
    <% end -%>
    </p>
  </a>
  <div class="property-summary-description property-block-details">
    <div>
      <div class="property-block-details-description" itemprop="description"><%= p.strapline %></div>
      <div class="property-block-details-features">
        <ul>
          <% if p.for_sale? %>
            <li><%= render partial: 'shared/resort_icon', locals: { type: 'surface_area', n: p.floor_area_metres_2 } %></li>
            <li><%= render partial: 'shared/resort_icon', locals: { type: 'plot_size', n: p.plot_size_metres_2 } %></li>
          <% else %>
            <li><%= render partial: 'shared/resort_icon', locals: { type: 'capacity', n: p.sleeping_capacity } %></li>
            <li><%= render partial: 'shared/resort_icon', locals: { type: 'bedroom', n: p.number_of_bedrooms } %></li>
          <% end %>
          <li><%= render partial: 'shared/resort_icon', locals: { type: 'bathroom', n: p.number_of_bathrooms } %></li>
        </ul>
      </div>
    </div>
    <div class="display-flex content-end property-block-details-price">
      <span>
        <% if p.price_description.present? %>
          <%= p.price_description %>
        <% else %>
          <% if p.for_sale? %>
            <%= t('.sale_price') %> <strong><%= format_currency(p.sale_price, p.currency) %></strong>
          <% else %>
            <%= t('.weekly_price') %> <strong><%= format_currency(p.weekly_rent_price, p.currency) %></strong>
          <% end %>
        <% end %>
      </span>
    </div>
  </div>
<% end -%>
</div>
