<div class="property-summary">
  <%
  if p.interhome_accommodation_id
    link = interhome_property_path(p.interhome_accommodation.permalink)
  elsif p.pv_accommodation_id
    link = pv_property_path(p.pv_accommodation.permalink)
  else
    link = p
  end
  %>
  <p class="property-thumbnail">
<% unless p.image.nil? -%>
    <span><%= link_to(image_tag(p.image.sized_url(165, :height)), link) %></span>
<% end -%>
  </p>
  <div class="property-summary-description">
    <h3>
      <%= link_to p.name, link, title: "Read more about #{p.name}" %>
      <% unless p.hotel? %>&middot; <%= t('.sleeps') %> <%= p.sleeping_capacity %><% end %>
      <% if sort_method == 'metres_from_lift ASC' %>&middot; <%= t('.nearest_lift' )%> <%= p.nearest_lift %><% end %>
      &middot;
      <%= p.for_sale? ? "Sale price" : "Weekly price from" %>
      <%= p.for_sale? ? format_currency(p.sale_price, p.currency) : format_currency(p.weekly_rent_price, p.currency) %>
    </h3>
    <p class="strapline">
      <%= p.strapline %>
    </p>

    <div class="actions">
      <% if p.for_sale? %>
      <p class="additional-info">
        Property <%= p.floor_area_metres_2 %> m<sup>2</sup><br>
        Land <%= p.plot_size_metres_2 %> m<sup>2</sup>
      </p>
      <% end %>
  <% if p.interhome_accommodation_id -%>
      <p class="contact_owner btn-property"><%= link_to 'More info', link, title: "More info about #{p.name}" %><i class="icon-caret-right"></i></p>
  <% else -%>
      <p class="contact_owner btn-property"><%= link_to t('enquire'), contact_property_path(p), title: "Enquire about #{p.name}" %><i class="icon-caret-right"></i></p>
  <% end -%>
      <p class="email_a_friend btn-property"><%= link_to t('properties.email_a_friend'), email_a_friend_property_path(p), rel: 'nofollow', title: "Email a friend about #{p.name}" %><i class="icon-caret-right"></i></p>
    </div>
  </div>
  <%= clear %>
  <% if fav = favourite_for_property(p) %>
  <%= form_for(fav, method: :delete) do |f| %>
  <p><%= f.submit t('favourites.remove') %></p>
  <% end %>
  <% end %>
</div>
