<div class="property_summary">
  <%= render partial: 'properties/user_logo', locals: { property: p } %>
  <%
  link = p.interhome_accommodation_id ? "/accommodation/#{p.interhome_accommodation.permalink}" : p
  %>
  <h3><%= link_to p.name, link %></h3>
  <p class="strapline"><%= p.strapline %></p>
  <p class="thumbnail">
    <% unless p.image.nil? %>
    <%= link_to(image_tag(p.image.url(120)), link) %>
    <% end %>
  </p>
  <% unless p.features.empty? %>
  <ul class="features">
    <% p.features.each do |feature| %>
    <li><%= feature %></li>
    <% end %>
  </ul>
  <% end %>
  <div class="actions">
    <p class="price"><%= p.for_sale? ? "Sale price" : "Weekly price from" %><br>
      <span><%= p.for_sale? ? format_currency(p.sale_price, p.currency) : format_currency(p.weekly_rent_price, p.currency) %></span>
      <% if p.for_sale? %>
      <br>
      Property <%= p.floor_area_metres_2 %> m<sup>2</sup><br>
      Land <%= p.plot_size_metres_2 %> m<sup>2</sup>
      <% end %>
    </p>
    <%
    link = p.interhome_accommodation_id ? p.interhome_accommodation.partner_link : contact_property_path(p)
    %>
    <p class="contact_owner"><%= link_to t('enquire'), link %></p>
    <p class="email_a_friend"><%= link_to t('properties.email_a_friend'), email_a_friend_property_path(p) %></p>
  </div>
  <%= clear %>
  <% if fav = favourite_for_property(p) %>
  <%= form_for(fav, :method => :delete) do |f| %>
  <p><%= f.submit t('favourites.remove') %></p>
  <% end %>
  <% end %>
</div>
