<div id="content_with_wide_skyscrapers">
<div id="search_options">
<%= form_tag request.path, method: 'get' do %>
<input type="hidden" name="resort_id" value="<%= @resort.id %>">
<p>
  <select id="sort_method" name="sort_method" onchange="this.form.submit()">
<% if @for_sale %>
    <option<%= ' selected' if params[:sort_method]=='normalised_sale_price DESC' %> value="normalised_sale_price DESC">Price high to low</option>
    <option<%= ' selected' if params[:sort_method]=='normalised_sale_price ASC' %> value="normalised_sale_price ASC">Price low to high</option>
<% else %>
    <option<%= ' selected' if params[:sort_method]=='normalised_weekly_rent_price DESC' %> value="normalised_weekly_rent_price DESC">Price high to low</option>
    <option<%= ' selected' if params[:sort_method]=='normalised_weekly_rent_price ASC' %> value="normalised_weekly_rent_price ASC">Price low to high</option>
<% end %>
    <option<%= ' selected' if params[:sort_method]=='metres_from_lift ASC' %> value="metres_from_lift ASC">Distance from lift</option>
    <option<%= ' selected' if params[:sort_method]=='metres_from_town ASC' %> value="metres_from_town ASC">Distance from town</option>
<% if @for_sale %>
    <option<%= ' selected' if params[:sort_method]=='number_of_bathrooms ASC' %> value="number_of_bathrooms ASC">Number of bathrooms</option>
<% else %>
    <option<%= ' selected' if params[:sort_method]=='sleeping_capacity ASC' %> value="sleeping_capacity ASC"><%= I18n.t('sleeping_capacity') %></option>
<% end %>
    <option<%= ' selected' if params[:sort_method]=='number_of_bedrooms ASC' %> value="number_of_bedrooms ASC">Number of bedrooms</option>
<% if params[:action] == 'browse_hotels' %>
    <option<%= ' selected' if params[:sort_method]=='star_rating DESC' %> value="star_rating DESC">Star rating</option>
<% end %>
  </select>
<% unless @for_sale -%>
  <select id="board_basis" name="board_basis" onchange="this.form.submit()">
    <option value="-1">Any board basis</option>
    <% [Property::BOARD_BASIS_SELF_CATERING, Property::BOARD_BASIS_BED_AND_BREAKFAST, Property::BOARD_BASIS_HALF_BOARD, Property::BOARD_BASIS_FULL_BOARD].each do |value| %>
    <option value="<%= value %>"<%= ' selected="selected"' if params[:board_basis]==value.to_s %>><%= Property.board_basis_description(value) %></option>
    <% end %>
  </select>
<% end -%>
  <br>
  <%= raw property_search_filters @search_filters %>
</p>
<% end %>
</div><!--#search_options-->
<div id="property_summaries">
<% if @properties.empty? %>

<p><%= t('properties.no_matching_properties') %></p>

<% else %>

<% @properties.each do |p| %>
<%= render partial: 'properties/property_summary', locals: {p: p} %>
<% end %>

<%= will_paginate @properties %>
<% end %>
</div><!--#property_summaries-->
</div>
<div id="wide_skyscrapers">
  <%= render partial: 'directory_adverts/banners', object: DirectoryAdvert.small_banners_for(@resort) %>
</div>
