<h1>Properties for Rent in <%= @resort.name %></h1>

<p>
  <label>Sort by:</label>
  <select>
    <option>Price low to high</option>
    <option>Price high to low</option>
    <option>Distance from lift</option>
    <option>Distance from town</option>
    <option><%= I18n.t('sleeps') %></option>
    <option>Number of bedrooms</option>
  </select>
</p>

<table id="properties_for_rent">
  <thead>
    <tr>
      <th><%= I18n.t('title') %></th>
      <th><%= I18n.t('sleeps') %></th>
      <th><%= I18n.t('distance_from_lift') %></th>
      <th><%= I18n.t('weekly_rent_price') %></th>
    </tr>
  </thead>
  <tbody>
<% @properties.each do |p| %>
    <tr>
      <td><%= p.title %></td>
      <td><%= p.sleeps %></td>
      <td><%= p.metres_from_lift %>m</td>
      <td><%= euros(p.weekly_rent_price) %></td>
    </tr>
<% end %>
  </tbody>
</table>
