<h1>Properties for Rent in <%= @resort.name %></h1>

<%= form_tag request.path, :method => 'get' do %>
<p>
  <label for="sort_method">Sort by:</label>
  <select id="sort_method" name="sort_method" onchange="this.form.submit()">
    <option<%= ' selected' if params[:sort_method]=='weekly_rent_price ASC' %> value="weekly_rent_price ASC">Price low to high</option>
    <option<%= ' selected' if params[:sort_method]=='weekly_rent_price DESC' %> value="weekly_rent_price DESC">Price high to low</option>
    <option<%= ' selected' if params[:sort_method]=='metres_from_lift ASC' %> value="metres_from_lift ASC">Distance from lift</option>
    <option<%= ' selected' if params[:sort_method]=='metres_from_town ASC' %> value="metres_from_town ASC">Distance from town</option>
    <option<%= ' selected' if params[:sort_method]=='sleeping_capacity ASC' %> value="sleeping_capacity ASC"><%= I18n.t('sleeping_capacity') %></option>
    <option<%= ' selected' if params[:sort_method]=='number_of_bedrooms ASC' %> value="number_of_bedrooms ASC">Number of bedrooms</option>
  </select>
</p>
<% end %>

<% if @properties.empty? %>

<p>There are no properties advertised for rent at this resort.</p>

<% else %>

<table id="properties_for_rent">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th><%= I18n.t('name') %></th>
      <th><%= I18n.t('sleeping_capacity') %></th>
      <th><%= I18n.t('distance_from_lift') %></th>
      <th><%= I18n.t('weekly_rent_price') %></th>
    </tr>
  </thead>
  <tbody>
<% @properties.each do |p| %>
    <tr>
      <td><% unless p.image.nil? %><%= link_to(image_tag(p.image.url(100)), p) %><% else %>&nbsp;<% end %></td>
      <td><%= link_to p.name, p %></td>
      <td><%= p.sleeping_capacity %></td>
      <td><%= p.metres_from_lift %>m</td>
      <td><%= euros(p.weekly_rent_price) %></td>
    </tr>
<% end %>
  </tbody>
</table>

<%= will_paginate @properties %>

<% end %>
