<div id="booking_results">
<% if @availability.unavailable? -%>
  <h3>The property is unavailable for the dates you have requested.</h3>
<% else -%>
  <div style="padding: 10px; background: #fff;">
  <table class="table">
    <tr>
      <td><strong>Travel period</strong></td>
      <td style="text-align: right;"><strong><%= @availability.start_date %> - <%= @availability.end_date %></strong></td>
    </tr>
    <tr>
      <td><strong>Rental price</strong></td>
      <td style="text-align: right;"><strong><%= number_to_currency(@price_detail.price, unit: '€', precision: 2) %></strong></td>
    </tr>

<%= render 'interhome_selected_additional_services' unless params[:additional_service].nil? %>

<% if @price_detail.prepayment == '0' -%>
    <tr>
      <td>Payment to be made by</td>
      <td style="text-align: right;"><%= l(Date.parse(@price_detail.expiration_residue), format: :short) %></td>
    </tr>
<% else -%>
    <tr>
      <td>Deposit</td>
      <td style="text-align: right;"><%= number_to_currency(@price_detail.prepayment, unit: '€', precision: 2) %></td>
    </tr>
    <tr>
      <td>Deposit to be paid by</td>
      <td style="text-align: right;"><%= l(Date.parse(@price_detail.expiration_pre_payment), format: :short) %></td>
    </tr>
    <tr>
      <td>Balance remaining to be paid by</td>
      <td style="text-align: right;"><%= l(Date.parse(@price_detail.expiration_residue), format: :short) %></td>
    </tr>
<% end -%><!--/ payment/prepayment-->
  </table>
  </div><!--/ padded div -->
<% if @additional_services -%>
<div class="trigger-update">
<%= render 'interhome_bookable_services' unless @additional_services.bookable.empty? %>

<%= render 'interhome_additional_services_not_included' unless @additional_services.not_included.empty? %>

<%= render 'interhome_additional_services_included' unless @additional_services.included.empty? %>

</div><!--.trigger-update-->

<%= render 'interhome_contact_details' %>

<% end -%><!--/ additional services -->

<% end -%><!--/ availability -->
</div><!--#booking-results-->
