<%= render 'spam/spam' %>
<%= render partial: '/properties/user_logo', locals: { property: @property } %>

<p>
  <%= t('enquiries_controller.enquiry_introduction') %>
</p>
<%= clear %>
<% if @enquiry.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@enquiry.errors.count, "error") %> prohibited this enquiry from being sent:</h2>

    <ul>
    <% @enquiry.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div id="panel_1">
<div class="group_panel">
  <h2><%= t('enquiries_controller.send_an_email') %></h2>
<%= form_for @enquiry do |f| %>
<%= f.hidden_field :property_id %>

<span id="current_time">
  <!-- current time placed here by AJAX request -->
</span>

<div class="field">
  <%= f.label :name, t('name') %><br>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :email, t('email') %><br>
  <%= f.text_field :email %>
</div>

<div class="field">
  <%= f.label :phone, t('phone') %><br>
  <%= f.text_field :phone %>
</div>

<% if @property.for_rent? %>
<script>
$(function () {
  $('#enquiry_date_of_arrival').datepicker({dateFormat: 'D, d M yy', showOn: 'both', buttonImage: '/images/calendar.png'});
  $('#enquiry_date_of_departure').datepicker({dateFormat: 'D, d M yy', showOn: 'both', buttonImage: '/images/calendar.png'});
});
</script>

<div class="field">
  <%= f.label :date_of_arrival, t('enquiries_controller.date_of_arrival') %><br>
  <%= f.text_field :date_of_arrival %>
</div>

<div class="field">
  <%= f.label :date_of_departure, t('enquiries_controller.date_of_departure') %><br>
  <%= f.text_field :date_of_departure %>
</div>

<div class="field">
  <%= f.label :number_of_adults, t('enquiries_controller.number_of_adults') %><br>
  <%= select("enquiry", "number_of_adults", (0..10).collect {|n| [ n, n ] }, {prompt: 'Select'}) %>
</div>

<div class="field">
  <%= f.label :number_of_children, t('enquiries_controller.number_of_children') %><br>
  <%= select("enquiry", "number_of_children", (0..10).collect {|n| [ n, n ] }, {prompt: 'Select'}) %>
</div>

<div class="field">
  <%= f.label :number_of_infants, t('enquiries_controller.number_of_infants') %><br>
  <%= select("enquiry", "number_of_infants", (0..10).collect {|n| [ n, n ] }, {prompt: 'Select'}) %>
</div>
<% end %>

<div class="field">
  <%= f.label :comments, t('enquiries_controller.comments') %><br>
  <%= f.text_area :comments %>
</div>

<div class="field">
  <%= f.check_box :permission_to_contact %>
  <%= f.label :permission_to_contact, t('enquiries_controller.permission_to_contact') %>
</div>

<%= f.submit 'Send' %>
<% end %>

</div>
</div><!--#panel_1-->
<div id="panel_2">
  <div class="group_panel">
    <h2><%= t('contact_details') %></h2>
    <p><%= t('phone') %>: <%= @property.user.phone %></p>
    <p><%= t('mobile') %>: <%= @property.user.mobile %></p>
  </div>
</div><!--#panel_2-->
