<%= render 'spam/spam' %>
<h1>Email a friend about <%= link_to @property.name, @property %> in <%= @property.resort.name %></h1>
<% if @form.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@form.errors.count, "error") %> prohibited this referral from being sent:</h2>

    <ul>
    <% @form.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @form do |f| %>
<%= f.hidden_field :property_id %>

<span id="current_time">
  <!-- current time placed here by AJAX request -->
</span>

<div class="field">
  <%= f.label :your_name %><br>
  <%= f.text_field :your_name %>
</div>

<div class="field">
  <%= f.label :your_email %><br>
  <%= f.text_field :your_email %>
</div>

<div class="field">
  <%= f.label :friends_name %><br>
  <%= f.text_field :friends_name %>
</div>

<div class="field">
  <%= f.label :friends_email %><br>
  <%= f.text_field :friends_email %>
</div>

<%= f.submit 'Send' %>

<% end %>
