<%= page_header 'Properties' %>
<%= will_paginate @properties %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>User</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
<% @properties.each do |property| -%>
    <tr>
      <td><%= property.id %></td>
      <td><%= property.name %></td>
      <td><%= property.user.name if property.user %></td>
      <td>
        <%= edit_button(property) %>
        <%= view_button(property) %>
        <%= delete_button(property) %>
      </td>
    </tr>
<% end -%>
  </tbody>
</table>
