<h1><%= link_to I18n.t('advertise'), advertise_path %> &rarr;
  <%= I18n.t('my_properties_for_rent') %></h1>

<p>
  <%= link_to 'Advertise a new property for rent', new_property_path %>
</p>

<% if @properties.empty? %>
<p>
  You have no properties for rent.
</p>
<% else %>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th><%= I18n.t('resort') %></th>
      <th><%= I18n.t('name') %></th>
    </tr>
  </thead>
  <tbody>
<% @properties.each do |p| %>
    <tr>
      <td><%= p.id %></td>
      <td><%= p.resort.name %></td>
      <td><%= link_to p.name, edit_property_path(p) %></td>
      <td>
        <% if p.currently_advertised? %>
        Advert running until <%= p.current_advert.expires_at %>
        <% else %>
        <%= form_tag :action => "advertise_now", :id => p.id do %>
        <%= submit_tag "Advertise Now" %>
        <% end %>
        <% end %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
<% end %>