<h1><%= link_to I18n.t('advertiser_home'), advertiser_home_path %> &rarr;
  <%= I18n.t('my_properties_for_rent') %></h1>

<p>
  <%= link_to 'Advertise a new property for rent', new_property_path %>
</p>

<% if @properties.empty? %>
<p>
  You have no properties for rent.
</p>
<% else %>
<table>
  <thead>
    <tr>
      <th><%= I18n.t('resort') %></th>
      <th><%= I18n.t('name') %></th>
      <th><%= I18n.t('distance_from_lift') %></th>
      <th><%= I18n.t('sleeping_capacity') %></th>
    </tr>
  </thead>
  <tbody>
<% @properties.each do |p| %>
    <tr>
      <td><%= p.resort.name %></td>
      <td><%= link_to p.name, edit_property_path(p) %></td>
      <td class="numeric"><%= km(p.metres_from_lift) %></td>
      <td class="numeric"><%= p.sleeping_capacity %></td>
    </tr>
<% end %>
  </tbody>
</table>
<% end %>