<%= content_for :breadcrumbs_and_heading, breadcrumbs_and_heading(@property.breadcrumbs, @heading) %>
<%= content_for :theme, @property.theme %>
<% @destination = @property.name %>
<%= render partial: 'shared/image_gallery', locals: { property: @property } %>

<div class="interhome-features">
  <div class="column">
    <%= render partial: 'shared/resort_icon', locals: { type: 'surface_area', n: @accommodation.sqm } %>
  </div>
  <div class="column">
    <%= render partial: 'shared/resort_icon', locals: { type: 'bedroom', n: @accommodation.bedrooms } %>
  </div>
  <div class="column">
    <%= render partial: 'shared/resort_icon', locals: { type: 'bathroom', n: @accommodation.bathrooms } %>
  </div>
  <div class="column">
    <%= render partial: 'shared/resort_icon', locals: { type: 'capacity', n: @accommodation.pax } %>
  </div>
  <div class="column">
    <%= render partial: 'shared/resort_icon', locals: { type: 'rooms', n: @accommodation.rooms } %>
  </div>
</div>
<div class="flex-layout">
  <div class="flex-3">
    <h2>Facilities</h2>
    <% @accommodation.feature_list.each do |feature| %>
      <h4>
        <%= t("interhome.features.#{feature}") %><br>
      </h4>
    <% end %>
    <% new_classic_features(@property).each do |feature| %>
      <% if feature[:type] != 'text' %>
        <h4><%= feature[:title] %></h4>
      <% end %>
    <% end %>
    <% @property.amenities.each do |amenity| %>
      <h4><%= amenity.name.capitalize.sub('_', ' ') %></h4>
    <% end %>
  </div>
  <div class="flex-3">
    <h2><%= I18n.t('description') %></h2>
    <h4><%= @accommodation.inside_description %></h4>
    <h4><%= @accommodation.outside_description %></h4>
  </div>
</div>
<div id="map-canvas" style="height: 400px"></div>
<%= render partial: 'google_map', locals: { lat: @accommodation.geodata_lat, lng: @accommodation.geodata_lng } %>

<% if @accommodation.interhome_vacancy -%>
<script>
$(function() {
  $.ajax({
    url: "<%= interhome_booking_form_property_path(@accommodation.id) %>"
  }).done(function(html) {
    $('#interhome_booking_form').replaceWith(html);
  });
});
</script>
<div id="interhome_booking_form"></div>
<% end -%>
<br>
<div class="meta static-page-content">
  <div class="addtion-info">
    <div>
      <h2>Additional Information</h2>
      <a href="<%= interhome_property_path(@accommodation.permalink) %>" itemprop="url">Permalink</a>
      <% if @accommodation.geodata_lat.present? -%>
        <h4 itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
          Latitude:   <%= @accommodation.geodata_lat %><br>
          Longitude: <%= @accommodation.geodata_lng %>
          <meta itemprop="latitude" content="<%= @accommodation.geodata_lat %>">
          <meta itemprop="longitude" content="<%= @accommodation.geodata_lng %>">
        </h4>
      <% end -%>
    </div>
    <div>
      <div class="abta">
        <%= image_tag 'abta.png', alt: 'ABTA Member' %><br>
        The tour operator<br>
        (Interhome) is an<br>
        ABTA Member<br>
        ABTA No. L7890
      </div>
    </div>
  </div>
</div>
