<h1 class="property_name"><%= @property.name %></h1>
<p class="property_id">Property ID: <span><%= @property.id %></span></p>
<p><%= link_to 'Contact Owner', contact_property_path(@property) %></p>
<% unless @property.strapline.empty? %>
<h3 class="property_strapline"><%= @property.strapline %></h3>
<% end %>

<% unless @property.image.nil? %>
<p id="property_main_image">
  <%= image_tag(@property.image.url(400)) %>
</p>
<ul class="thumbnails" id="property_thumbnails">
<% @property.images.each do |i| %>
  <li><div class="image_thumbnail"><%= image_tag(i.url(96)) %></div></li>
<% end %>
</ul>
<%= clear %>
<% end %>

<% unless @property.description.nil? %>
<%= md @property.description %>
<% end %>

<% unless @property.latitude.empty? %>
<h2 id="map">Map</h2>
<script>
  function showMap() {
    var latlng = new google.maps.LatLng(<%= @property.latitude %>, <%= @property.longitude %>);
    var myOptions = {
      zoom: 16,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
      myOptions);
    var marker = new google.maps.Marker({
      position: latlng,
      map: map,
      title:"<%= @property.name %>"
    });
  }

  function mapOnload() {
    var oldOnload = window.onload;

    if (typeof(window.onload) != "function") {
      window.onload = showMap;
    }
    else {
      window.onload = function() {
        oldOnload();
        showMap();
      }
    }
  }

  mapOnload();
</script>
<div id="map_canvas"></div>
<% end %>
