<%= content_for :breadcrumbs_and_heading, breadcrumbs_and_heading(@property.breadcrumbs, @heading) %>

<%= content_for :theme, @property.theme %>

<%= render partial: 'google_map',
    locals: { lat: @accommodation.geodata_lat, lng: @accommodation.geodata_lng } %>
<script>
  $(function() {
    $('#property-thumbnails a').fancyZoom({scaleImg: true, closeOnClick: true});

    $('.availability-Q').click(function() {
      var win = window.open('<%= contact_property_path(@property) %>', '_blank');
      win.focus();
    });
  });
</script>
<div id="property">
<%= render partial: 'user_logo', locals: { property: @property } %>
<h1 class="property_name"><span><%= t('property_name') %>:</span> <%= @property.name %>
<% unless @property.interhome_accommodation.interhome_place.nil? -%>
  (<%= @property.interhome_accommodation.interhome_place.name %>)
<% end -%>
</h1>
<%= render partial: 'price_and_id', locals: { property: @property } %>

<% if fav = favourite_for_property(@property) %>
<%= form_for(fav, method: :delete) do |f| %>
<p>
  <%= f.submit t('favourites.remove'), class: 'btn btn-large btn-danger' %>
  <%= render 'location_button_and_modal' if @accommodation.geodata_lat.present? %>
</p>
<% end %>
<% else %>
<% @favourite = Favourite.new(property_id: @property.id) %>
<%= form_for @favourite do |f| %>
<%= f.hidden_field :property_id %>
<p>
  <button type="submit" class="btn btn-primary btn-large"><i class='icon-heart icon-white'></i>
  <%= t('favourites.add') %></button>
  <%= render 'location_button_and_modal' if @accommodation.geodata_lat.present? %>
</p>
<% end %>
<% end %>

<% unless @property.image.nil? %>
<p class="thumbnails" id="property-thumbnails">
<% @property.images.each do |i| %>
<a href="#pic_<%= i.id %>"><%= image_tag(i.sized_url(135, :height), alt: "Photo of #{@property.name}") %></a>
<% end %>
</p>
<% @property.images.each do |i| %>
<div id="pic_<%= i.id %>"><img src="<%= i.url %>" alt="Larger photo of <%= @property.name %>"></div>
<% end %>
<%= clear %>
<% end %>

<h2><%= I18n.t('features') %></h2>
<div id="features" class="interhome-features">
  <div class="column">
    <%= I18n.t('bedrooms') %>: <%= @accommodation.bedrooms %>
  </div>
  <div class="column">
    <%= I18n.t('bathrooms') %>: <%= @accommodation.bathrooms %>
  </div>
  <div class="column">
    <%= I18n.t('sleeping_capacity') %>: <%= @accommodation.pax %>
  </div>
  <p class="divider">&nbsp;</p>
<%
features = @accommodation.features.split(',')
%>
<% features.each do |feature| %>
  <div class="column">
    <%= feature_tick(true, t("interhome.features.#{feature}")) %><br>
  </div>
<% end %>
  <%= clear %>
</div>

<h2><%= I18n.t('description') %></h2>
<h3>Inside</h3>
<p>
  <%= @accommodation.inside_description %>
</p>
<h3>Outside</h3>
<p>
  <%= @accommodation.outside_description %>
</p>

<%= render 'interhome_booking_form' if @accommodation.interhome_vacancy %>

<%= clear %>

</div><!--#property-->
<%= render partial: 'directory_adverts/banners', object: DirectoryAdvert.small_banners_for(@property.resort) %>
