<script>
  var map;
  var marker;

  function showMap() {
    <% unless @accommodation.geodata_lat.empty? %>
    var latlng = new google.maps.LatLng(<%= @accommodation.geodata_lat %>, <%= @accommodation.geodata_lng %>);
    var myOptions = {
      zoom: 16,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map_canvas"),
      myOptions);
    marker = new google.maps.Marker({
      position: latlng,
      map: map,
      title:"<%= @property.name %>"
    });
    <% end %>
  }

	$(function() {
		$('#property_thumbnails a').fancyZoom({scaleImg: true, closeOnClick: true});

    var $dialog = $('<div id="map_canvas"></div>')
      .html('')
      .dialog({
        autoOpen: false,
        title: 'Location',
        width: 450,
        height: 350
      });

    $('#location').click(function() {
      $dialog.dialog('open');
      // prevent the default action, e.g., following a link
      google.maps.event.trigger(map, 'resize');
      map.setCenter(marker.getPosition());
      return false;
    });

    showMap();
	});

  function submit(extraValues) {
    var valuesToSubmit = $('#booking_form form').serialize() + extraValues;
    $('#booking_results').replaceWith('<div id="booking_results"><img src="/images/ajax-loader.gif" alt="Loading..."></div>');
    $.ajax({
      url: '/properties/check_interhome_booking',
      type: 'POST',
      data: valuesToSubmit
    }).success(function(data) {
      $('#booking_results').replaceWith(data);
    }).error(function(data) {
      $('#booking_results').replaceWith('<div id="booking_results"><h2>An error occurred. Please <a id="retry">try again</a>.</h2></div>');
      $('#retry').click(submitCheck);
    });
    return false;
  }

  function submitCheck() {
    submit('');
  }

  function isValidEmailAddress(emailAddress) {
    var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
    return pattern.test(emailAddress);
  }

  function submitBooking() {
    if($('#customer_first_name').val() == '') {
      alert('Please enter your first name.');
      return;
    }
    if($('#customer_name').val() == '') {
      alert('Please enter your surname.');
      return;
    }
    email = $('#customer_email').val();
    if(email == '') {
      alert('Please enter your email address.');
      return;
    }
    if(!isValidEmailAddress(email)) {
      alert('Please enter a valid email address.');
      return;      
    }
    if(email.length > 69) {
      alert('Please enter an email address under 70 characters long.');
      return;      
    }
    if($('#customer_address_street').val() == '') {
      alert('Please enter the first line of your address.');
      return;
    }
    if($('#customer_address_place').val() == '') {
      alert('Please enter the town/city of your address.');
      return;
    }
    if($('#customer_address_zip').val() == '') {
      alert('Please enter your postcode/ZIP.');
      return;
    }
    if($('#customer_address_country_code').val() == '') {
      alert('Please choose your country from the list.');
      return;
    }
    if(!$('#terms_accepted').is(':checked')) {
      alert('You must accept Interhome\'s terms and conditions before you can make a booking.');
      $('#terms_accepted').focus();
      return;
    }
    submit('&submit=Book');    
  }

  $(function() {
    $('#booking_form').on('change', '.trigger-update input', submitCheck);
    $('#booking_form').on('change', '.trigger-update select', submitCheck);
    $('#booking_form').submit(function() { submitBooking(); return false; });
    $('.availability-Y').click(function() {
      $('#interhome_booking_arrival_month').val($(this).data('month'));
      $('#interhome_booking_arrival_day').val($(this).data('day'));
      var new_position = $('#booking_results').offset();
      window.scrollTo(new_position.left,new_position.top);
      submitCheck();
    });

    $(function() {
      $('#later').click(function() {
        if($('.month:visible').last().next('.month').length) {
          a = $('.month:visible').last().next('.month');
          b = a.next();
          c = b.next();
          $('.month:visible').hide();
          a.show();
          b.show();
          c.show();
        }
      });

      $('#earlier').click(function() {
        if($('.month:visible').first().prev('.month').length) {
          a = $('.month:visible').first().prev('.month');
          b = a.prev();
          c = b.prev();
          $('.month:visible').hide();
          a.show();
          b.show();
          c.show();
        }
      });
    });
  });
</script>
<div id="content_with_wide_skyscrapers">
<div id="property">
<%= render partial: 'user_logo', locals: { property: @property } %>
<h1 class="property_name"><span><%= t('property_name') %>:</span> <%= @property.name %></h1>
<p class="property_id"><%= I18n.t('property_id') %>: <span><%= @property.id %></span></p>

<% if fav = favourite_for_property(@property) %>
<%= form_for(fav, method: :delete) do |f| %>
<p><%= f.submit t('favourites.remove') %></p>
<% end %>
<% else %>
<% @favourite = Favourite.new(property_id: @property.id) %>
<%= form_for @favourite do |f| %>
<%= f.hidden_field :property_id %>
<p><%= f.submit(t('favourites.add'), class: 'btn btn-primary btn-large') %></p>
<% end %>
<% end %>

<% unless @property.image.nil? %>
<p class="thumbnails" id="property_thumbnails">
<% @property.images.each do |i| %>
<a href="#pic_<%= i.id %>"><%= image_tag(i.sized_url(135, :height), alt: "Photo of #{@property.name}") %></a>
<% end %>
</p>
<% @property.images.each do |i| %>
<div id="pic_<%= i.id %>"><img src="<%= i.url %>" alt="Larger photo of <%= @property.name %>"></div>
<% end %>
<%= clear %>
<% end %>

<h2><%= I18n.t('features') %></h2>
<div id="features">
  <div class="column">
    <%= I18n.t('bedrooms') %>: <%= @accommodation.bedrooms %>
  </div>
  <div class="column">
    <%= I18n.t('bathrooms') %>: <%= @accommodation.bathrooms %>
  </div>
  <div class="column">
    <%= I18n.t('sleeping_capacity') %>: <%= @accommodation.pax %>
  </div>
  <p class="divider">&nbsp;</p>
<%
features = @accommodation.features.split(',')
%>
<% features.each do |feature| %>
  <div class="column">
    <%= feature_tick(true, t("interhome.features.#{feature}")) %><br>
  </div>
<% end %>
  <%= clear %>
</div>

<h2><%= I18n.t('description') %></h2>
<h3>Inside</h3>
<p>
  <%= @accommodation.inside_description %>
</p>
<h3>Outside</h3>
<p>
  <%= @accommodation.outside_description %>
</p>

<% if signed_in? %>
<% if @accommodation.interhome_vacancy %>
<% cal = InterhomeCalendar.new(@accommodation.interhome_vacancy) %>
<h2>Vacancy</h2>
<div class="well">
<div class="btn-group">
  <button class="btn" id="earlier"><i class="icon-backward"></i> Earlier</button>
  <button class="btn" id="later">Later <i class="icon-forward"></i></button>
</div><!--.btn-group-->
<%
today = Date.today
month = today.month
year = today.year
hide = false
15.times do |i|
%>
  <div class="month" id="month<%= month %><%= year %>"
    data-month="<%= month %>" data-year="<%= year %>"
    <%= ' style="display: none;"'.html_safe if hide %>>
    <%= raw cal.show_month(month, year) %>
  </div><!--.month-->
  <% hide = true if (i + 1) % 3 == 0 %>
<%
  month += 1
  if month == 13
    month = 1
    year += 1
  end
end
%>
<% end %>
<%= clear %>
</div><!--.well-->

<h2>Book</h2>
<div class="well">
<div id="booking_form">
<%= form_tag action: 'check_interhome_booking', id: @property.id do |form| %>
<input type="hidden" name="permalink" value="<%= params[:permalink] %>">
<div class="trigger-update">
<h3>Travel dates</h3>
<label>Date of arrival</label>
<%= select('interhome_booking', 'arrival_day', booking_days(@interhome_booking.arrival_date.month, @interhome_booking.arrival_date.year)) %>
<%= select('interhome_booking', 'arrival_month', booking_months) %>
<label>Duration of stay</label>
<%= select('interhome_booking', 'duration', booking_durations) %>
<h3>Travellers</h3>
<label>
  Adults
  <input type="text" id="interhome_booking_adults" name="interhome_booking[adults]" value="<%= @interhome_booking.adults %>">
</label><br>
<label>
  Children (3-12 years)
  <input type="text" id="interhome_booking_children" name="interhome_booking[children]" value="<%= @interhome_booking.children %>">
</label><br>
<label>
  Babies (0-2 years)
  <input type="text" id="interhome_booking_babies" name="interhome_booking[babies]" value="<%= @interhome_booking.babies %>">
</label>
</div><!--.trigger-update-->
<div id="booking_results">
  <p>
    Please select your dates of travel.
  </p>
</div>
<% end %>
</div><!--#booking_form-->
</div><!--.well-->
<% end -%>

<% unless @accommodation.geodata_lat.empty? %>
<div id="map_cavas"></div>
<p class="chunky_button"><a href="#" id="location">Location</a></p>
<% end %>

<p class="chunky_button"><%= link_to t('enquire'), @property.interhome_accommodation.partner_link %></p>

<%= clear %>

</div><!--#property-->
</div>
<div id="wide_skyscrapers">
  <%= render partial: 'directory_adverts/banners', object: DirectoryAdvert.small_banners_for(@property.resort) %>
</div>
