<%= content_for :breadcrumbs_and_heading, breadcrumbs_and_heading(@property.breadcrumbs, @heading) %>

<%= content_for :theme, @property.theme %>
<!--
<div class="property classic-property">
  <%= render partial: 'user_logo', locals: { property: @property } %>
  <h1 class="property-name">
    <span><%= t('property_name') %>:</span>
    <%= @property.name %>
  </h1>
  <%= render partial: 'price_and_id', locals: { property: @property } %>

  <div class="classic-images-features group">
    <%= render partial: 'images', locals: { property: @property } %>
    <div class="classic-features">
      <h2 class="subhead"><%= I18n.t('features') %></h2>
      <ul>
        <% classic_features(@property).each do |feature| %>
        <li><%= feature %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <% if @property.description.present? %>
  <h2><%= I18n.t('description') %></h2>
  <%= md @property.description %>
  <% end %>

  <%= render 'location_button_and_modal' if @property.latitude.present? %>
  <p>
    <%= link_to t('enquire'), contact_property_path(@property), class: 'button action-button' %>
  </p>

  <%= clear %>
</div>
-->

<div class="property classic-property">
  <%= render partial: 'user_logo', locals: { property: @property } %>
  <h1 class="property-name"><%= @property.name %></h1>
  <div>
    <%= render partial: 'images', locals: { property: @property } %>
    <div class="flex-layout property-details">
      <div>
        <div class="flex-layout content-space-between align-end">
          <div>
            <h1><%= @property.name %></h1>
          </div>
          <div class="property-price action-button button">
            <span><%= @property.for_sale? ? 'Sale price ' : 'Weekly price from ' %></span>
            <strong><%= @property.for_sale? ? format_currency(@property.sale_price, @property.currency) : format_currency(@property.weekly_rent_price, @property.currency) %></strong>
          </div>
        </div>
        <% if @property.description.present? %>
        <p style="padding: 1rem 0"><%= md @property.description %></p>
        <% end %>
        <div>
          <h3><%= I18n.t('helpers.properties.property_type.accommodation') %></h3>
          <%= render 'location_button_and_modal' if @property.latitude.present? %>
          <%= render partial: 'google_map_street_view', locals: { lat: @property.latitude, lng: @property.longitude } %>
        </div>
        <div>
          <%= link_to t('enquire'), contact_property_path(@property), class: 'property-enquire button action-button' %>
        </div>
      </div>
      <div class="flex-4">
        <div class="classic-features">
          <h3><%= I18n.t('features') %></h3>
          <ul>
            <% classic_features(@property).each do |feature| %>
            <li><%= feature %></li>
            <% end %>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <%= clear %>
</div>
