<%= content_for :theme, @property.theme %>

<%= render partial: 'google_map',
    locals: { lat: @property.latitude, lng: @property.longitude } %>
<script>
  $(function() {
    $('#property-thumbnails a').fancyZoom({scaleImg: true, closeOnClick: true});
	});
</script>
<div id="content-with-side-banners">
<div id="property">
  <%= render partial: 'user_logo', locals: { property: @property } %>
<h1 class="property_name"><span><%= t('property_name') %>:</span> <%= @property.name %></h1>
<p class="property_id"><%= I18n.t('property_id') %>: <span><%= @property.id %></span></p>

<% if fav = favourite_for_property(@property) %>
<%= form_for(fav, method: :delete) do |f| %>
<p>
  <%= f.submit t('favourites.remove'), class: 'btn btn-large btn-default' %>
</p>
<% end %>
<% else %>
<% @favourite = Favourite.new(property_id: @property.id) %>
<%= form_for @favourite do |f| %>
<%= f.hidden_field :property_id %>
<p>
  <button type="submit" class="btn btn-primary btn-large btn-property"><i class='icon-heart icon-white'></i>
  <%= t('favourites.add') %></button>
</p>
<% end %>
<% end %>

<p class="thumbnails" id="property-thumbnails">
<% @accommodation.photo_array.each_with_index do |i, idx| %>
<a href="#pic_<%= idx %>"><%= image_tag(i, alt: "Photo of #{@property.name}") %></a>
<% end %>
</p>
<% @accommodation.photo_array.each_with_index do |i, idx| %>
<div id="pic_<%= idx %>"><img src="<%= i %>" alt="Larger photo of <%= @property.name %>"></div>
<% end %>
<%= clear %>

<h2><%= I18n.t('features') %></h2>
<div id="features" class="interhome-features">
<% @accommodation.service_array.each do |feature| %>
  <div class="column">
    <%= feature_tick(true, t("pierre_et_vacances.features.#{feature}")) %><br>
  </div>
<% end %>
  <%= clear %>
</div>

<% unless @property.description.nil? %>
<h2><%= I18n.t('description') %></h2>
<%= md @property.description %>
<% end %>

<div class="modal hide fade" id="location-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Location</h3>
  </div>
  <div class="modal-body">
    <div id="map_canvas"></div>
  </div>
</div>

<p>
<% unless @property.latitude.empty? -%>
  <a href="#" id="location" class="btn btn-primary btn-large btn-property"><i class="icon-map-marker icon-white"></i> Location</a>
<% end -%>
</p>

<iframe src="<%= @accommodation.price_table_url %>" id="pv-booking">
  <p>
    <a href="<%= @accommodation.price_table_url %>">Prices &amp; Availability</a>
  </p>
</iframe>

<%= clear %>

</div><!--#property-->
</div>
<%= render partial: 'directory_adverts/banners', object: DirectoryAdvert.small_banners_for(@property.resort) %>
