<% if @coupon.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this promotion code from being saved:</h2>

    <ul>
    <% @coupon.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @coupon do |f| %>
<p>
  <%= f.label :code %><br>
  <%= f.text_field :code %>
</p>
<p>
  <%= f.label :number_of_adverts %><br>
  <%= f.text_field :number_of_adverts %>
</p>
<p>
  <%= f.label :percentage_off %><br>
  <%= f.text_field :percentage_off %> %
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
