<% if @coupon.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this promotion code from being saved:</h2>

    <ul>
    <% @coupon.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @coupon do |f| %>
<p>
  <%= f.label :code %>
  <%= f.text_field :code %>
</p>
<p>
  <%= f.label :number_of_adverts %>
  <%= f.number_field :number_of_adverts %>
</p>
<p>
  <%= f.label :percentage_off %>
  <%= f.number_field :percentage_off %> %
</p>
<p>
  <%= f.label :expires_on %>
  <%= f.date_select :expires_on, include_blank: true, order: [:day, :month, :year] %>
</p>
<p>
  <%= f.submit class: 'btn btn-primary' %>
</p>
<% end %>
