<h1><%= link_to 'CMS', cms_path %> &rarr; <%= I18n.t(:coupons) %></h1>
<p>
  <%= link_to 'New Promotion Code', new_coupon_path %>
</p>
<% if @coupons.empty? %>
<p>There are no promotion codes set up yet.</p>
<% else %>
<table class="grid">
  <thead>
    <tr>
      <th>Code</th>
      <th># Adverts</th>
      <th>% Off</th>
      <th>Expires On</th>
    </tr>
  </thead>
  <tbody>
    <% @coupons.each do |coupon| %>
    <tr>
      <td><%= link_to coupon.code, edit_coupon_path(coupon) %></td>
      <td class="numeric"><%= coupon.number_of_adverts %></td>
      <td class="numeric"><%= coupon.percentage_off %>%</td>
      <td><%= coupon.expires_on %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
