<div id="admin_bar">
  <ul>
    <li><%= link_to 'Countries', countries_path %></li>
    <li><%= link_to I18n.t(:coupons), coupons_path %></li>
    <li><%= link_to 'Currencies', currencies_path %></li>
    <li><%= link_to 'Orders', orders_path %></li>
    <li><%= link_to 'Resorts', resorts_path %></li>
    <li><%= link_to 'Roles', roles_path %></li>
    <li><%= link_to 'Uploads', uploads_path %></li>
    <li><%= link_to 'Users', users_path %></li>
    <li><%= link_to 'Website', edit_website_path(@w) %></li>
  </ul>
</div>
