<div class="footer-box clear-fix">
  <ul>
    <li>Help</li>
    <li><%= link_to I18n.t(:privacy), privacy_path %></li>
    <li><%= link_to I18n.t(:terms), terms_path %></li>
    <li><%= link_to I18n.t(:contact), contact_path %></li>
    <li><a href="/pages/resources">Resources</a></li>
<% if @w.blog_visible? -%>
    <li><%= link_to t('blog_posts_controller.blog'), blog_path %></li>
<% end -%>
    <li><a id="advertise_link" href="/welcome/advertiser"><%= t('advertise') %></a></li>
  </ul>
  <ul>
    <li>Follow</li>
    <li><a id="blogger" title="Blogger" href="http://mychaletfinder.blogspot.com"><i class="icon-rss"></i> Blogger</a></li>
    <li><a id="twitter" title="Twitter" href="https://twitter.com/#!/MyChaletFinder"><i class="icon-twitter"></i> Twitter</a></li>
    <li><a id="facebook" title="Facebook" href="http://www.facebook.com/MyChaletFinder"><i class="icon-facebook"></i> Facebook</a></li>
  </ul>
  <%= raw @footer_box %>
</div>
