<footer role="contentinfo">
  <%= render 'shared/footer_box' %>
  <p>
    &copy;<%= Time.now.year %> My Holiday Home Ventures Limited
    |
    <%= link_to I18n.t(:privacy), privacy_path %>
    |
    <%= link_to I18n.t(:terms), terms_path %>
    |
    <%= link_to I18n.t(:contact), contact_path %>
    <br>
    <a href="http://en.mychaletfinder.com<%= request.env['REQUEST_URI'] %>">English</a>
    |
    <a href="http://fr.mychaletfinder.com<%= request.env['REQUEST_URI'] %>">Français</a>
    |
    <a href="http://de.mychaletfinder.com<%= request.env['REQUEST_URI'] %>">Deutsch</a>
    |
    <a href="http://it.mychaletfinder.com<%= request.env['REQUEST_URI'] %>">Italiano</a>
  </p>
</footer>
