<script>
var welcomeMenuTimeout;

function openWelcomeMenu() {
  wa = document.getElementById('welcome_advertisers');
  wa.style.visibility = 'visible';
  clearTimeout(welcomeMenuTimeout);
}

function startCloseWelcomeMenu() {
  welcomeMenuTimeout = setTimeout('closeWelcomeMenu()', 500);
}

function closeWelcomeMenu() {
  wa = document.getElementById('welcome_advertisers');
  wa.style.visibility = 'hidden';
}
</script>
<nav id="main_menu">
  <ul>
    <li><a href="/welcome/advertiser" onmouseover="openWelcomeMenu();" onmouseout="startCloseWelcomeMenu();">Advertise</a></li>
    <li><%= link_to 'New Developments', new_developments_path %></li>
<% if signed_in? %>
<% if @current_user.has_adverts_in_basket? %>
    <li><a href="<%= basket_path %>">Basket <span class="count"><%= @current_user.adverts_in_basket.count %></span></a></li>
<% end %>
<% unless admin? %>
    <li><%= link_to 'Account', advertise_path %>
<% end %>
    <li><%= link_to 'Sign Out', sign_out_path %>
<% else %>
    <li><%= link_to 'Sign In', sign_in_path %></li>
    <li><%= link_to 'Sign Up', sign_up_path %></li>
<% end %>
<% if admin? %>
    <li><%= link_to 'CMS', cms_path %></li>
<% end %>
  </ul>
</nav>
<div id="welcome_advertisers" onmouseover="openWelcomeMenu();" onmouseout="startCloseWelcomeMenu();">
  <a href="/welcome/property-owner">Property owners</a>
  <a href="/welcome/letting-agent">Letting agents</a>
  <a href="/welcome/property-developer">Property developers</a>
  <a href="/welcome/estate-agent">Estate agents</a>
  <a href="/welcome/other-business">Other business</a>
</div>
