<script>
var menuTimeout;

function openMenu(menu) {
  menu.style.visibility = 'visible';
  clearTimeout(menu.timeout);
}

function startCloseMenu(menu) {
  menu.timeout = setTimeout(function() {
    menu.style.visibility = 'hidden';
  }, 500);
}

function closeMenu(menu) {
  menu.style.visibility = 'hidden';
}
</script>
<nav id="main_menu">
  <ul>
    <li><a href="/welcome/advertiser" onmouseover="openMenu(document.getElementById('welcome_advertisers'));" onmouseout="startCloseMenu(document.getElementById('welcome_advertisers'));">Advertise</a></li>
    <li><a href="<%= featured_resorts_path %>" onmouseover="openMenu(document.getElementById('featured_resorts'));" onmouseout="startCloseMenu(document.getElementById('featured_resorts'));"><%= I18n.t('featured_resorts') %></a></li>
<% if signed_in? %>
<% if @current_user.has_adverts_in_basket? %>
    <li><a href="<%= basket_path %>"><%= t 'basket' %> <span class="count"><%= @current_user.adverts_in_basket.count %></span></a></li>
<% end %>
<% unless admin? %>
    <li><%= link_to 'Account', advertise_path %>
<% end %>
    <li><%= link_to 'Sign Out', sign_out_path %>
<% else %>
    <li><%= link_to t('sign_in'), sign_in_path %></li>
    <li><%= link_to t('sign_up'), sign_up_path %></li>
<% end %>
<% if admin? %>
    <li><%= link_to 'CMS', cms_path %></li>
<% end %>
    <li><%= link_to t('home'), start_path %></li>
  </ul>
</nav>
<div class="drop" id="welcome_advertisers" onmouseover="openMenu(this);" onmouseout="startCloseMenu(this);">
  <a href="/welcome/property-owner">Property owners</a>
  <a href="/welcome/letting-agent">Letting agents</a>
  <a href="/welcome/property-developer">Property developers</a>
  <a href="/welcome/estate-agent">Estate agents</a>
  <a href="/welcome/other-business">Other business</a>
</div>
<div class="drop" id="featured_resorts" onmouseover="openMenu(this);" onmouseout="startCloseMenu(this);">
  <% Resort.featured.each do |resort| %>
  <%= link_to resort.name, feature_resort_path(resort) %>
  <% end %>
</div>
