<nav id="main_menu">
  <ul>
    <li><%= link_to I18n.t('advertise'), advertise_path %></li>
    <li><%= link_to I18n.t('pricing'), pricing_path %></li>
    <li><%= link_to 'New Developments', new_developments_path %></li>
<% if signed_in? %>
<% if @current_user.has_adverts_in_basket? %>
    <li><a href="<%= basket_path %>">Basket <span class="count"><%= @current_user.adverts_in_basket.count %></span></a></li>
<% end %>
    <li><%= link_to 'Sign Out', sign_out_path %>
<% end %>
  </ul>
</nav>
