<% if type == 'resort_altitude' %>
    <img width='30px' src='/ski-resort-icons/resort-altitude.png' alt='chalets for rent' title='Resort altitude'>
<% elsif type == 'n_villages' %>
    <img width='30px' src='/ski-resort-icons/resort-altitude.png' alt='chalets for rent' title='Number of villages'>
<% elsif type == 'resort_altitude_america' %>
    <img width='30px' src='/ski-resort-icons/resort-altitude.png' alt='ski vacation rentals' title='Resort altitude'>
<% elsif type == 'highest_lift' %>
    <img width='30px' src='/ski-resort-icons/highest-lift.png' alt='highest ski lift' title='Highest lift'>
<% elsif type == 'kms_pistes' %>
    <img width='30px' src='/ski-resort-icons/kms-of-pistes.png' alt='number of kilometers of slopes' title='kms of pistes'>
<% elsif type == 'n_lifts' %>
    <img width='30px' src='/ski-resort-icons/number-of-lifts.png'  alt='number of ski lifts' title='number of lifts'>
<% elsif type == 'n_beginner_slopes' %>
    <img width='20px' src='/ski-resort-icons/number-of-beginner-slopes.png' alt='number of green slpoes' title='number of beginner slopes'>
<% elsif type == 'n_blue_pistes' %>
    <img width='20px' src='/ski-resort-icons/number-of-blue-pistes.png' alt='number of intermediate skier slopes' title='number of blue pistes'>
<% elsif type == 'n_red_pistes' %>
    <img width='20px' src='/ski-resort-icons/number-of-red-pistes.png' alt='number of good intermediate skier slopes' title='number of red pistes'>
<% elsif type == 'n_black_pistes' %>
    <img width='20px' src='/ski-resort-icons/number-of-black-pistes.png' alt='number of slopes for advanced skiers' title='number of black pistes'>
<% elsif type == 'size_ski_area' %>
    <img width='30px' src='/ski-resort-icons/kms-of-pistes.png' alt='number of hectares of ski terrain' title='Size of ski area'>
<% elsif type == 'ski_lifts' %>
    <img width='30px' src='/ski-resort-icons/number-of-lifts.png' alt='number of ski lifts' title='ski lifts'>
<% elsif type == 'beginner_slopes' %>
    <img width='30px' src='/ski-resort-icons/america-beginner-slopes.png' alt='green trails' title='beginner slopes'>
<% elsif type == 'blue_trails' %>
    <img width='30px' src='/ski-resort-icons/america-blue-trails.png' alt='blue trails' title='blue trails'>
<% elsif type == 'dobule_blue_trails' %>
    <img width='30px' src='/ski-resort-icons/america-double-blue-trails.png' alt='double blue trails' title='double blue trails'>
<% elsif type == 'advanced_trails' %>
    <img width='30px' src='/ski-resort-icons/america-advanced-trails.png' alt='advanced trails' title='advanced trails'>
<% elsif type == 'expert_trails' %>
    <img width='30px' src='/ski-resort-icons/america-expert-trails.png' alt='expert trails' title='expert trails'>
<% elsif type == 'bathroom' %>
    <% t = "#{n} #{I18n.t('bathrooms')}" %>
    <img src='/ski-resort-icons/<%= type %>_black.svg' alt='<%= t %>' title='<%= t %>'>
    <div><%= t %></div>
<% elsif type == 'capacity' %>
    <% t = "#{I18n.t('sleeping_capacity')}: #{n}" %>
    <img src='/ski-resort-icons/<%= type %>_black.svg' alt='<%= t %>' title='<%= t %>'>
    <div><%= t %></div>
<% elsif type == 'bedroom' %>
    <% t = "#{n} #{I18n.t('bedrooms')}" %>
    <img src='/ski-resort-icons/<%= type %>_black.svg' alt='<%= t %>' title='<%= t %>'>
    <div><%= t %></div>
<% elsif type == 'exposure' %>
    <img src='/ski-resort-icons/<%= type %>_black.svg' alt='South West' title='Exposure South West'>
<% elsif type == 'fireplace' %>
    <img src='/ski-resort-icons/<%= type %>_black.svg' alt='Fireplace' title='Fireplace'>
<% elsif type == 'surface_area' %>
    <% t = "#{I18n.t('surface_area')} #{n}m²" %>
    <img src='/ski-resort-icons/<%= type %>_black.svg' alt='<%= t %>' title='<%= t %>'>
    <div><%= t %></div>
<% elsif type == 'plot_size' %>
    <% t = "#{I18n.t('plot_size')} #{n}m²" %>
    <img src='/ski-resort-icons/property_size_black.svg' alt='<%= t %>' title='<%= t %>'>
    <div><%= t %></div>
<% elsif type == 'property_size' %>
    <img src='/ski-resort-icons/<%= type %>_black.svg' alt='Property Size <%= n %>m²' title='Property Size <%= n %>m²'>
<% elsif type == 'property_view' %>
    <img src='/ski-resort-icons/<%= type %>_black.svg' alt='View <%= n %>' title='View <%= n %>'>
<% elsif type == 'garage' %>
    <img src='/ski-resort-icons/<%= type %>_black.svg' alt='Garage / Garages' title='Garage / Garages'>
<% elsif type == 'swimming_pool' %>
    <img src='/ski-resort-icons/<%= type %>_black.svg' alt='Swimming Pool' title='Swimming Pool'>
<% elsif type == 'rooms' %>
    <% t = "#{n} #{I18n.t('rooms')}" %>
    <img src='/ski-resort-icons/<%= type %>_black.svg' alt='<%= t %>' title='<%= t %>'>
    <div><%= t %></div>
<% end %>
