<ol id="steps" class="clear-fix active_step_<%= step %>">
  <li id="step_1">
    <span>Step 1</span>
    <%= t('registration') %>
  </li>
  <li id="step_4">
    <span>Step 2</span>
    <%= t('advert_details') %>
  </li>
  <li id="step_6">
    <span>Step 3</span>
    <%= t('basket') %>
  </li>
  <li id="step_7">
    <span>Step 4</span>
    <%= t('checkout') %>
  </li>
</ol>
