<div class="page-header">
  <h1><%= link_to 'CMS', cms_path %> &rarr; Payments</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Order</th>
      <th>Amount</th>
      <th>Accepted</th>
      <th>Name</th>
      <th>Email</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
  <% @payments.each do |p| %>
    <tr>
      <td>
        <% if p.order -%>
        <%= link_to p.order.order_number, p.order %>
        <% else -%>
        -
        <% end -%>
      </td>
      <td>
        <%= gbps_from_pence p.amount.to_f * 100 %>
      </th>
      <td>
        <%= tick_cross p.accepted %>
      </td>
      <td>
        <%= p.name %>
      </td>
      <td>
        <%= mail_to p.email, p.email %>
      </td>
      <td>
        <%= link_to 'Full detail', admin_payment_path(p) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
