<p>Order number: <%= @order.order_number %></p>

<p>Order placed: <%= @order.created_at %></p>

<p>Order status: <%= @order.status_description %></p>

<h2>Billing details</h2>

<p>
<%= @order.address %><br>
<%= @order.postcode %><br>
<%= @order.country %>
<% unless @order.customer_vat_number.empty? -%>
<br>
<%= t('users.vat_number') %>: <%= @order.customer_vat_number %>
<% end -%>
</p>
 
<table id="receipt">

  <tr>
    <th>Product</th>
    <th class="price numeric">Price</th>
    <th class="price numeric">Sterling</th>
  </tr>

  <% @order.order_lines.each do |line| -%>
  <tr>
    <td>
      <%= line.description %>
    </td>
    <td class="price numeric"><%= euros_from_cents(line.amount)  %></td>
  </tr>
  <% end -%>
  <tr>
    <td><%= @order.tax_description %></th>
    <td class="price numeric"><%= euros_from_cents @order.tax_amount %></td>
<% if @order.sterling_in_euros -%>
    <td class="price numeric"><%= euros_from_cents @order.tax_amount / @order.sterling_in_euros %></td>
<% end -%>
  </tr>
  <tr>
    <td id="order_total">Order total:</th>
    <td class="price numeric total"><%= euros_from_cents(@order.total) %></td>
<% if @order.sterling_in_euros -%>
    <td class="price numeric"><%= euros_from_cents @order.total / @order.sterling_in_euros %></td>
<% end -%>
  </tr>
  
</table>

<% if @order.sterling_in_euros -%>
<p>
  1 GBP = <%= @order.sterling_in_euros %> EUR
</p>
<% end -%>
