<%= render 'users/advertising_options' %>

<%= content_for :breadcrumbs_and_heading, breadcrumbs_and_heading({t('advertise') => advertise_path}, 'Receipts') %>

<% if @orders.empty? %>
<p>You have no receipts.</p>
<% else %>
<table id="receipts" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Order number</th>
      <th>Invoice (PDF)</th>
      <th>When placed</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.order_number, receipt_order_path(order.id) %></td>
      <td><%= link_to 'Invoice (PDF)', invoice_order_path(order.id) %></td>
      <td><%= l(order.created_at, format: :short) %></td>
      <td><%= euros_from_cents(order.total) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
