<%= render partial: 'shared/steps', locals: { step: 7 } %>

<h1>Choose How You Would Like to Pay</h1>

<% if @w.worldpay_active? -%>
<% if @w.skip_payment? -%>
<h2>Simulating payment for WorldPay</h2>
<p>The correct values are entered below and can be changed for testing.
  <code>callbackPW</code> is neither displayed nor verified in this test mode.</p>
<form action="/payments/worldpay_callback" method="post">
  <p>
    <input type="submit" value="Simulate WorldPay payment" class="btn btn-primary">
  </p>
  <p>
    <label>instId</label>
    <input type="text" name="instId" value="<%= @w.worldpay_installation_id %>">
  </p>
  <p>
    <label>cartId</label>
    <input type="text" name="cartId" value="<%= @order.order_number %>">
  </p>
  <p>
    <label>desc</label>
    <input type="text" name="desc" value="Web purchase">
  </p>
<% if @order.pay_monthly? -%>
  <p>
    <label>futurePayType</label>
    <input type="text" name="futurePayType" value="regular">
  </p>
  <p>
    <label>noOfPayments</label>
    <input type="text" name="noOfPayments" value="11">
  </p>
  <p>
    <label>amount</label>
    <input type="text" name="amount" value="<%= @order.first_payment / 100.0 %>">
  </p>
  <p>
    <label>normalAmount</label>
    <input type="text" name="normalAmount" value="<%= @order.subsequent_payments / 100.0 %>">
  </p>
  <p>
    <label>intervalUnit</label>
    <input type="text" name="intervalUnit" value="3">
  </p>
  <p>
    <label>intervalMult</label>
    <input type="text" name="intervalMult" value="1">
  </p>
  <p>
    <label>startDelayUnit</label>
    <input type="text" name="startDelayUnit" value="3">
  </p>
  <p>
    <label>startDelayMult</label>
    <input type="text" name="startDelayMult" value="1">
  </p>
  <p>
    <label>option</label>
    <input type="text" name="option" value="1">
  </p>
<% else -%>
  <p>
    <label>amount</label>
    <input type="text" name="amount" value="<%= @order.total / 100.0 %>">
  </p>
<% end -%>
  <p>
    <label>currency</label>
    <input type="text" name="currency" value="EUR">
  </p>
  <p>
    <label>testMode</label>
    <input type="text" name="testMode" value="100">
  </p>
  <p>
    <label>name</label>
    <input type="text" name="name" value="<%= @order.name %>">
  </p>
  <p>
    <label>address</label>
    <textarea name="address"><%= raw address_for_worldpay(@order) %></textarea>
  </p>
  <p>
    <label>postcode</label>
    <input type="text" name="postcode" value="<%= @order.postcode %>">
  </p>
  <p>
    <label>country</label>
    <input type="text" name="country" value="<%= @order.country.iso_3166_1_alpha_2 %>">
  </p>
  <p>
    <label>tel</label>
    <input type="text" name="tel" value="">
  </p>
  <p>
    <label>fax</label>
    <input type="text" name="fax" value="">
  </p>
  <p>
    <label>email</label>
    <input type="text" name="email" value="<%= @order.email %>">
  </p>
  <p>
    <label>transId</label>
    <input type="text" name="transId" value="SIMULATED">
  </p>
  <p>
    <label>transStatus</label>
    <input type="text" name="transStatus" value="Y">
  </p>
  <p>
    <label>transTime</label>
    <input type="text" name="transTime" value="SIMULATED">
  </p>
  <p>
    <label>rawAuthMessage</label>
    <input type="text" name="rawAuthMessage" value="SIMULATED">
  </p>
  <p>
    <input type="submit" value="Simulate WorldPay payment" class="btn btn-primary">
  </p>
</form>
<% else -%>
<form action="https://secure<%= (@w.worldpay_test_mode? ? '-test' : '') %>.worldpay.com/wcc/purchase" method="post">
<input type="hidden" name="cartId" value="<%= @order.order_number %>">
<input type="hidden" value="<%= @w.worldpay_installation_id %>" name="instId">
<% if @order.pay_monthly? -%>
<input type="hidden" name="futurePayType" value="regular">
<input type="hidden" name="noOfPayments" value="11">
<input type="hidden" name="amount" value="<%= @order.first_payment / 100.0 %>">
<input type="hidden" name="normalAmount" value="<%= @order.subsequent_payments / 100.0 %>">
<input type="hidden" name="intervalUnit" value="3">
<input type="hidden" name="intervalMult" value="1">
<input type="hidden" name="startDelayUnit" value="3">
<input type="hidden" name="startDelayMult" value="1">
<input type="hidden" name="option" value="1">
<% else -%>
<input type="hidden" value="<%= @order.total / 100.0 %>" name="amount">
<% end -%>
<input type="hidden" value="Web purchase" name="desc">
<input type="hidden" value="EUR" name="currency">
<% if @w.worldpay_test_mode? -%>
<input type="hidden" value="100" name="testMode">
<% end -%>
<input type="hidden" value="<%= @order.name %>" name="name">
<input type="hidden" value="<%= raw address_for_worldpay(@order) %>" name="address">
<input type="hidden" value="<%= @order.postcode %>" name="postcode">
<input type="hidden" value="<%= @order.country.iso_3166_1_alpha_2 %>" name="country">
<input type="hidden" name="tel" value="">
<input type="hidden" value="<%= @order.email %>" name="email">

<input name="submit" type="submit" class="btn btn-primary" value="Proceed to WorldPay">
</form>
<% end -%>
<% end -%>

<%= render 'shared/worldpay_logos' %>
