<% if @page.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

    <ul>
    <% @page.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @page do |f| %>
  <div class="form-group">
    <%= f.label :path %>
    <%= f.text_field :path, class: 'form-control' %>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :visible %> Visible
    </label>
  </div>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'span5 form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 3, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :keywords %>
    <%= f.text_area :keywords, rows: 2, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= editor(f, :content, :html) %>
  </div>

  <div class="form-group">
    <%= f.label :footer %>
    <%= select("page", "footer_id", (Footer.all.collect {|f| [ f.name, f.id ] }).sort, {prompt: 'Choose footer'}, class: 'form-control') %>
  </div>

  <%= f.label :banner_advert_html, 'Banner advert HTML' %>
  <%= editor(f, :banner_advert_html, :html) %>

  <div class="form-actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
