<div class="page-header">
  <h1><%= link_to 'CMS', cms_path %> &rarr; Pages</h1>
</div>

<p>
  <%= link_to 'New Page', new_page_path, class: 'btn btn-primary' %>
</p>
<% if @pages.empty? %>
<p>There are no pages set up yet.</p>
<% else %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Path</th>
      <th>Title</th>
      <th>Meta OK?</th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
    <tr>
      <td><%= link_to page.path, edit_page_path(page) %></td>
      <td><%= page.title %></td>
      <td><%= tick_cross(page.meta_ok?) %></td>
      <td>
        <%= edit_button(page) %>
        <%= delete_button(page) %>
        <%= copy_button(page) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
