<%= render 'cms/menu' %>
<div class="cms">
  <h1><%= link_to 'CMS', cms_path %> &rarr; Pierre et Vacances Accommodations</h1>

  <p>
    <%= link_to 'Import Accommodations', import_accommodations_pv_accommodations_path, data: {method: 'post'}, class: 'btn' %>
  </p>

  <table class="table">
    <tr>
      <th>ID</th>
      <th>Code</th>
      <th>Address</th>
      <th>Showing</th>
    </tr>
  <% @pv_accommodations.each do |a| %>
    <tr>
      <td><%= a.id %></td>
      <td><%= a.place_code %></td>
      <td><%= a.address_1 %>, <%= a.town %></td>
      <td><%= tick_cross(a.showing?) %></td>
    </tr>
  <% end %>
  </table>
</div>
