<% if @airport_distance.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@airport_distance.errors.count, "error") %> prohibited this airport distance from being saved:</h2>

    <ul>
    <% @airport_distance.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @airport_distance do |f| %>
<div class="field">
  <%= f.label :resort_id, t('resort') %><br>
  <%= select("airport_distance", "resort_id", (Resort.where(:visible => true).collect {|r| [ r.country.name + ' > ' + r.name, r.id ] }).sort, {:prompt => t('properties.select_resort')}) %>
</div>
<div class="field">
  <%= f.label :airport_id, t('airport') %><br>
  <%= select("airport_distance", "airport_id", (Airport.all.collect {|a| [ a.code + ' ' + a.name, a.id ] }).sort, {:prompt => 'Select Airport'}) %>
</div>
<div class="field">
  <%= f.label :distance_km %><br>
  <%= f.text_field :distance_km %>km
</div>
<div class="field">
  <%= f.label :comment %><br>
  <%= f.text_field :comment %>
</div>
<div class="field">
  <%= f.submit %>
</div>
<% end %>
