<div class="page-header">
  <h1><%= link_to 'CMS', cms_path %> &rarr; Airport Distances</h1>
</div>

<p>
  <%= link_to 'New Airport Distance', new_airport_distance_path, class: 'btn' %>
</p>
<% if @airport_distances.empty? %>
<p>There are no airport distances set up yet.</p>
<% else %>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Resort</th>
      <th>Airport</th>
      <th>Distance</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @airport_distances.each do |airport_distance| %>
    <tr>
      <td><%= airport_distance.resort.name %></td>
      <td><%= link_to airport_distance.airport.name, edit_airport_distance_path(airport_distance) %></td>
      <td><%= airport_distance.distance_km %>km</td>
      <td><%= delete_button(airport_distance) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
