<%= render 'cms/menu' %>
<div class="cms">
<h1><%= link_to 'CMS', cms_path %> &rarr; Airports</h1>
<p>
  <%= link_to 'New Airport', new_airport_path, class: 'btn' %>
</p>
<% if @airports.empty? %>
<p>There are no airports set up yet.</p>
<% else %>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Country</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @airports.each do |airport| %>
    <tr>
      <td><%= link_to airport.name, edit_airport_path(airport) %></td>
      <td><%= airport.code %></td>
      <td><%= airport.country.name %></td>
      <td><%= link_to 'Delete', airport, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
</div>
