<h1>Basket</h1>
<%= render 'users/my_details_summary' %>

<% if @lines.empty? %>
  <p>Your basket is empty.</p>
<% else %>
<%= form_tag :action => 'update_basket_contents' do %>
  <table id="basket">
    <thead>
      <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Duration</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
    <% @lines.each do |line| %>
      <tr>
        <td><%= line.description %></td>
        <td><% unless line.coupon %><%= link_to 'Edit', edit_advert_object_path(line.advert) %><% end %></td>
        <td class="numeric">
          <% unless line.coupon %>
          <select name="months[<%= line.advert.id %>]" onchange="this.form.submit()">
          <option value="1"<%= " selected" if line.advert.months==1 %>>1 month</option>
          <option value="3"<%= " selected" if line.advert.months==3 %>>3 months</option>
          <option value="6"<%= " selected" if line.advert.months==6 %>>6 months</option>
          <option value="9"<%= " selected" if line.advert.months==9 %>>9 months</option>
          <option value="12"<%= " selected" if line.advert.months==12 %>>12 months</option>
          </select>
          <% end %>
        </td>
        <td class="numeric"><%= euros_from_cents line.price %></td>
        <td>
          <% unless line.coupon %>
          <input type="submit" value="Remove" name="remove_advert[<%= line.advert.id %>]">
          <% end %>
        </td>
      </tr>
    <% end %>
      <tr>
        <th colspan="2">Total</th>
        <td class="numeric"><%= euros_from_cents @total %></td>
      </tr>
    </tbody>
  </table>
  <p class="basket_buttons">
    <input type="submit" name="update_durations" value="Update">
    <input type="submit" name="place_order" value="Place Order">
  </p>
<% end %>
<% end %>
