<%= render :partial => 'shared/steps', :locals => { :step => 6 } %>

<% if @lines.empty? %>
  <p><%= t 'adverts_controller.basket_empty' %></p>
<% else %>
<%= form_tag :action => 'update_basket_contents' do %>
  <table id="basket" class="grid">
    <thead>
      <tr>
        <th><%= t 'name' %></th>
        <th><%= t 'edit' %></th>
        <th><%= t 'duration' %></th>
        <th><%= t 'price' %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    <% @lines.each do |line| %>
      <tr>
        <td><%= line.description %></td>
        <td><% unless line.coupon || line.advert.nil? %><%= link_to t('edit'), edit_advert_object_path(line.advert) %><% end %></td>
        <td class="numeric">
          <% unless line.coupon || line.advert.nil? %>
          <select name="months[<%= line.advert.id %>]" onchange="this.form.submit()">
            <% line.advert.object.valid_months.each do |months| %>
            <option value="<%= months %>"<%= " selected" if line.advert.months==months %>><%= pluralize(months, 'month') %></option>
            <% end %>
          </select>
          <% end %>
        </td>
        <td class="numeric"><%= euros_from_cents line.price %></td>
        <td>
          <% unless line.coupon || line.advert.nil? %>
          <input type="submit" value="Remove" name="remove_advert[<%= line.advert.id %>]">
          <% end %>
          <% if line.windows.to_i > 0 %>
          <input type="submit" value="Remove" name="remove_advert[windows]">
          <% end %>
        </td>
      </tr>
    <% end %>
      <tr>
        <th colspan="3"><%= t('adverts_controller.total') %></th>
        <td class="numeric"><%= euros_from_cents @total %></td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
  <p class="basket_buttons">
    <input type="submit" name="update_durations" value="<%= t 'update' %>">
  </p>
  <p>
    <%= t('adverts_controller.by_pressing_place_order_you_agree_to_the_terms_and_conditions') %>
    <%= link_to t('view'), terms_path %>
  <p>
    <input type="submit" name="place_order" value="<%= t 'adverts_controller.place_order' %>">
  </p>
<% end %>
<% end %>

<% if @current_user.role.advertises_through_windows? %>
<p>Would you like to <%= link_to 'buy more advertising windows', buy_windows_adverts_path %>?</p>
<% end %>

<script>
$('.basket_buttons').hide()
</script>
