<h1><%= link_to I18n.t('advertise'), advertise_path %> &rarr;
  <%= I18n.t('my_adverts') %></h1>

<% unless @rentals.empty? %>
<%= render 'table', :title => 'property_rentals', :adverts => @rentals %>
<% end %>


<% unless @sales.empty? %>
<%= render 'table', :title => 'property_sales', :adverts => @sales %>
<% end %>

<% unless @banner_adverts.empty? %>
<%= render 'table', :title => 'banner_adverts', :adverts => @banner_adverts %>
<% end %>

<% unless @directory_adverts.empty? %>
<%= render 'table', :title => 'directory_adverts', :adverts => @directory_adverts %>
<% end %>
