<%= render 'users/advertising_options' %>

<%= content_for :breadcrumbs_and_heading, breadcrumbs_and_heading({t('advertise') => advertise_path}, t('my_adverts')) %>

<% if @current_user.advertises_through_windows? %>
  <h2><%= t('my_windows') %></h2>
  <table>
    <tr>
      <th><%= t('.purchased_on') %></th>
      <th><%= t('.expires_on') %></th>
      <th><%= t('.days_remaining') %></th>
      <th><%= t('.total') %></th>
      <th><%= t('.number_in_use')%></th>
      <th><%= t('.number_free') %></th>
    </tr>
  <% @window_groups.each do |group| %>
    <tr>
      <td><%= l group.starts_at, format: :short %></td>
      <td><%= l group.expires_at, format: :short %></td>
      <td><%= group.days_remaining %></td>
      <td><%= group.total %></td>
      <td><%= group.number_in_use %></td>
      <td><%= group.number_free %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<% unless @rentals.empty? %>
<%= render 'table', title: 'property_rentals', adverts: @rentals %>
<% end %>


<% unless @sales.empty? %>
<%= render 'table', title: 'property_sales', adverts: @sales %>
<% end %>

<% unless @hotels.empty? %>
<%= render 'table', title: 'hotels', adverts: @hotels %>
<% end %>

<% unless @directory_adverts.empty? %>
<%= render 'table', title: 'directory_and_banner_adverts', adverts: @directory_adverts %>
<% end %>

<%= form_tag(action: 'delete_all_new_advertisables') do %>
<%= submit_tag('Delete all new adverts', class: 'btn btn-danger', data: {confirm: 'Are you sure?'})%>
<% end %>
