<h1><%= link_to I18n.t('advertise'), advertise_path %> &rarr;
  <%= I18n.t('my_adverts') %></h1>

<% if @current_user.role.advertises_through_windows? %>
  <h2><%= t('my_windows') %></h2>
  <table class="table table-bordered table-striped">
    <tr>
      <th><%= t('adverts_controller.purchased_on') %></th>
      <th><%= t('adverts_controller.expires_on') %></th>
      <th><%= t('adverts_controller.days_remaining') %></th>
      <th><%= t('adverts_controller.total') %></th>
      <th><%= t('adverts_controller.number_in_use')%></th>
      <th><%= t('adverts_controller.number_free') %></th>
    </tr>
  <% @window_groups.each do |group| %>
    <tr>
      <td><%= l group.starts_at, format: :short %></td>
      <td><%= l group.expires_at, format: :short %></td>
      <td><%= group.days_remaining %></td>
      <td><%= group.total %></td>
      <td><%= group.number_in_use %></td>
      <td><%= group.number_free %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<% unless @rentals.empty? %>
<%= render 'table', title: 'property_rentals', adverts: @rentals %>
<% end %>


<% unless @sales.empty? %>
<%= render 'table', title: 'property_sales', adverts: @sales %>
<% end %>

<% unless @hotels.empty? %>
<%= render 'table', title: 'hotels', adverts: @hotels %>
<% end %>

<% unless @directory_adverts.empty? %>
<%= render 'table', title: 'directory_adverts', adverts: @directory_adverts %>
<% end %>
