<div id="search_options">
  <%= form_tag action: 'results' do %>
  <p>
    Choose which resort you want to search and specify the sleeping capacity
    of your accommodation and we will show you the lowest, highest and
    average rental prices.
  </p>
  <label>Resort</label>
  <%= select("rental_prices_search", "resort_id", (Resort.visible.collect {|r| [ r.country.name + ' > ' + r.name, r.id ] }).sort, prompt: 'Choose Resort') %>
  <label>Sleeping capacity</label>
  <input name="rental_prices_search[sleeping_capacity]" value="<%= @rental_prices_search.sleeping_capacity %>" class="span1">
  <br><%= submit_tag 'Find Rental Prices', class: 'btn btn-primary' %>
  <% end %>
</div>
<div id="airport_transfers">
  <% if defined? @resort %>
  <h2>Rental prices for accommodation in <%= @resort %> sleeping <%= pluralize(@rental_prices_search.sleeping_capacity, 'person') %></h2>
  <table>
    <tr>
      <th>Minimum</th>
      <th>Maximum</th>
      <th>Average</th>
    </tr>
    <tr>
      <td><%= euros @rental_prices_min %></td>
      <td><%= euros @rental_prices_max %></td>
      <td><%= euros @rental_prices_avg %></td>
    </tr>
  </table>
  <% end %>
</div><!--#airport_transfers-->
