<%= form_for(@role) do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.check_box :admin %> <%= f.label :admin %>
</p>
<p>
  <%= f.check_box :advertises_properties %> <%= f.label :advertises_properties %>
</p>
<p>
  <%= f.check_box :flag_new_development %> <%= f.label :flag_new_development %>
</p>
<p>
  <%= f.check_box :advertises_generally %> <%= f.label :advertises_generally %>
</p>
<p>
  <%= f.check_box :has_business_details %> <%= f.label :has_business_details %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
