<% if @country.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>

    <ul>
    <% @country.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% unless @country.new_record? %>
<div class="group_panel">
<h2>Image</h2>
<p><%= link_to 'Change image for this country', new_image_path %> (changes made on this page will not be saved)</p>
</div>
<% end %>

<%= form_for @country do |f| %>
<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.check_box :popular_billing_country %> <%= f.label :popular_billing_country %>
</div>
<div class="field">
  <%= f.check_box :in_eu %> <%= f.label :in_eu, 'In the EU' %>
</div>
<div class="field">
  <%= f.label :iso_3166_1_alpha_2, 'ISO 3166-1 Alpha 2' %><br>
  <%= f.text_field :iso_3166_1_alpha_2 %>
</div>
<div class="field">
  <%= f.label :info %><br>
  <%= f.text_area :info %>
</div>
<div class="field">
  <%= f.submit %>
</div>
<% end %>
