<% if @country.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>

    <ul>
    <% @country.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% unless @country.new_record? %>
<div class="well">
<h2>Image</h2>
<p><%= link_to 'Change image for this country', new_image_path %> (changes made on this page will not be saved)</p>
</div>
<% end %>

<%= form_for @country do |f| %>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="field">
  <label class="checkbox">
    <%= f.check_box :popular_billing_country %> Popular billing country
  </label>
</div>
<div class="field">
  <label class="checkbox">
    <%= f.check_box :in_eu %> In the EU
  </label>
</div>
<div class="field">
  <%= f.label :iso_3166_1_alpha_2, 'ISO 3166-1 Alpha 2' %>
  <%= f.text_field :iso_3166_1_alpha_2, maxlength: 2, class: 'span1' %>
</div>
<p>
  Use the code <code>{{ featured_properties }}</code> to embed featured properties.
</p>
<div class="field">
  <%= f.label :info %>
  <%= f.text_area :info %>
</div>
<div class="field">
  <%= f.label :banner_advert_html, 'Banner advert HTML' %>
  <%= f.text_area :banner_advert_html %>
</div>
<div class="form-actions">
  <%= f.submit(class: 'btn btn-primary') %>
</div>
<% end %>
