<%= render 'cms/menu' %>
<div class="cms">
<h1><%= link_to 'CMS', cms_path %> &rarr; Countries</h1>
<p>
  <%= link_to 'New Country', new_country_path, class: 'btn btn-primary' %>
</p>
<% if @countries.empty? %>
<p>There are no countries set up yet.</p>
<% else %>
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>ISO 3166-1 Alpha 2</th>
      <th>Popular Billing Country?</th>
      <th>In the EU?</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @countries.each do |country| %>
    <tr>
      <td><%= link_to country.name, edit_country_path(country) %></td>
      <td><%= country.iso_3166_1_alpha_2 %></td>
      <td><%= tick country.popular_billing_country? %></td>
      <td><%= tick country.in_eu? %></td>
      <td><%= link_to 'Delete', country, confirm: t('are_you_sure'), method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
</div>
