<div id="content_with_wide_skyscrapers">

<%= raw @country.info %>

<% unless @featured_properties.empty? -%>
<h2>Featured Properties</h2>
<% @featured_properties.each do |p| -%>

<div class="featured_property">
  <h2><%= p.resort %></h2>
  <p class="thumbnail">
    <% unless p.image.nil? %>
    <%= link_to(image_tag(p.image.url(144)), p) %>
    <% end %>
  </p>
  <p class="price"><%= p.for_sale? ? "Sale price" : "Weekly price from" %><br>
    <span><%= p.for_sale? ? format_currency(p.sale_price, p.currency) : format_currency(p.weekly_rent_price, p.currency) %></span>
  </p>
</div>


<% end -%>
<% end -%>
</div>
<div id="wide_skyscrapers">
  <%= render :partial => 'directory_adverts/banners', :object => [] %>
</div>
