<div class="page-header">
  <h1><%= link_to 'Resorts', admin_resorts_path %> &rarr; Edit Resort</h1>
</div>

<div class="row">
  <div class="span6">
    <div class="well">
      <h2>Interhome Places</h2>
      <%= form_for(@interhome_place_resort) do |f| %>
      <div class="field">
        <%= f.hidden_field :resort_id %>
        <%= f.label :interhome_place_code, 'Interhome place' %>
        <%= select("interhome_place_resort", "interhome_place_code",
        InterhomePlace.order('full_name').collect {|ip| [ ip.full_name, ip.code ] },
        {prompt: 'Select Interhome place'}) %>
      </div>
      <div class="field">
        <%= f.submit 'Link Interhome place to this resort', class: 'btn' %>
      </div>
      <% end %>
      <% if @resort.interhome_place_resorts.empty? %>
      <p>
        There are no Interhome places represented by this resort.
      </p>
      <% else %>
      <ul>
        <% @resort.interhome_place_resorts.each do |ipr| %>
        <li>
          <%= ipr.name %>
          <%= link_to 'Unlink', ipr, confirm: t('are_you_sure'), method: :delete, class: 'btn' %>
        </li>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="span6">
    <div class="well">
      <h2>Pierre et Vacances Places</h2>
      <%= form_for(@pv_place_resort) do |f| %>
      <%= f.hidden_field :resort_id %>
      <%= f.label :pv_place_code, 'P&V place code' %>
      <%= select("pv_place_resort", "pv_place_code",
      pv_place_codes.collect {|p| [ p, p ] },
      {prompt: 'Select P&V place'}) %>
      <div>
        <%= f.submit 'Link P&V place to this resort', class: 'btn' %>
      </div>
      <% end %>
      <% if @resort.pv_place_resorts.empty? %>
      <p>
        There are no P&amp;V places represented by this resort.
      </p>
      <% else %>
      <ul>
        <% @resort.pv_place_resorts.each do |pr| %>
        <li>
          <%= pr.pv_place_code %>
          <%= link_to 'Unlink', pr, confirm: t('are_you_sure'), method: :delete, class: 'btn' %>
        </li>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span6">
    <div class="well" id="additional-pages">
      <h2>Additional Pages / Meta Information</h2>
      <%
      {
        resort_path(@resort) + '' => 'Edit intro meta',
        resort_path(@resort) + '/resort-guide' => 'Edit guide meta',
        resort_path(@resort) + '/gallery' => 'Edit gallery meta',
        resort_path(@resort) + '/piste_map' => 'Edit piste map meta',
      }.each do |k,v|
        if(p = Page.find_by_path(k)) %>
        <%= link_to(v, edit_page_path(p), class: 'btn') %>
        <%
        end
      end
      %>
      <% Resort.page_names.each do |n| %>
      <%= link_to "Edit #{n} page", edit_page_admin_resort_path(@resort, page_name: n), class: 'btn' %>
      <% end %>
    </div>
  </div>
  <div class="span6">
    <div class="well" id="holiday-types">
      <h2>Holiday Types</h2>
      <%= form_for [:admin, HolidayTypeBrochure.new] do |f| %>
      <%= hidden_field_tag :resort_id, @resort.id %>
      <%= f.label :holiday_type_id %>
      <%= select('holiday_type_brochure', 'holiday_type_id',
      HolidayType.order(:name).collect {|ht| [ ht, ht.id ] },
      {prompt: 'Select Holiday Type'}) %>
      <p>
        <%= f.submit 'Link Holiday Type', class: 'btn' %>
      </p>
      <% end %>
      <% unless @resort.holiday_type_brochures.empty? %>
      <table class="table table-bordered">
        <tr>
          <th colspan="2">Holiday type</th>
        </tr>
        <% @resort.holiday_type_brochures.each do |htb| %>
        <tr>
          <td><%= htb.holiday_type %></td>
          <td><%= delete_button([:admin, htb]) %></td>
        </tr>
        <% end %>
      </table>
      <% end %>
    </div>
  </div>
</div>

<%= render 'form' %>
