<div class="page-header">
  <h1><%= link_to 'CMS', cms_path %> &rarr; Resorts</h1>
</div>

<p>
  <%= link_to 'Add new resort', new_admin_resort_path, class: 'btn' %>
</p>
<table class="table table-bordered table-striped">
<% @countries.each do |country| %>
<tr>
  <th colspan="2"><%= country.name %></th>
</tr>
<% country.resorts.each do |resort| %>
<tr>
  <td><%= link_to resort.name, resort %></td>
  <td>
    <%= edit_button([:admin, resort]) %>
    <%= delete_button([:admin, resort]) %>
  </td>
</tr>
<% end %>
<% end %>
</table>
