<%= render 'cms/menu' %>
<div class="cms">
<p>
  <%= link_to 'Add new category', new_category_path %>
</p>

<table class="table table-bordered">
<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Delete', category, title: "Delete #{category.name}", confirm: t('are_you_sure'), method: :delete %></td>
  </tr>
<% end %>
</table>
</div>
