<%= page_header 'Categories' %>
<p>
  <%= link_to 'Add new category', new_category_path, class: 'btn btn-default' %>
</p>

<table class="table table-bordered">
<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= edit_button(category) %></td>
    <td><%= delete_button(category) %></td>
  </tr>
<% end %>
</table>
