<h1><%= link_to @resort.name, @resort %> &gt; Directory</h1>
<% if admin? %>
<p>
  <%= link_to 'Add new category', new_resort_category_path(@resort) %>
</p>
<% end %>
<ul>
<% @categories.each do |category| %>
  <li><%= link_to category.name, resort_category_path(@resort, category) %><% if admin? %>
    (<%= link_to 'Edit', edit_resort_category_path(@resort, category) %>,
    <%= link_to 'Delete', [@resort, category], :confirm => 'Are you sure?', :method => :delete %>)
    <% end %></li>
<% end %>
</ul>
