<div id="content_with_wide_skyscrapers">
<% if @directory_adverts.empty? %>
<p>No results for <%= t(@category.name) %> in <%= @resort.name %>.</p>
<% else %>
<table id="directory_adverts">
  <thead>
    <tr>
      <th><%= t 'business' %></th>
      <th>Description</th>
      <th>Contact Details</th>
    </tr>
  </thead>
  <tbody>
    <% @directory_adverts.each do |da| %>
    <tr>
      <td><%= link_to da.user.business_name, da %></td>
      <td><%= da.summary %></td>
      <td>
        <%= da.business_address %><br>
        <%= da.phone %><br>
        <%= link_to da.user.website, da.user.website %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
</div>
<div id="wide_skyscrapers">
  <%= render :partial => 'banner_adverts/banners', :object => BannerAdvert.small_banners_for(@resort) %>
</div>
