<%= content_for :title, t('.title', region: @region) %>

<%= content_for :theme, @region.theme %>

<%= content_for :breadcrumbs_and_heading, breadcrumbs_and_heading(@region.breadcrumbs, t('.heading')) %>

<%= content_for :links_and_search do %>
<% if @region.visible_resorts.any? -%>
<section>
  <h2>Resorts</h2>
  <ul>
<% @region.visible_resorts.each do |resort| -%>
    <li><%= link_to_with_count resort, resort, resort.property_count %></li>
<% end -%>
  </ul>
</section>
<% end -%>
<% end %>

<% featured_properties = render('shared/featured_properties') -%>
<%= raw Liquid::Template.parse(@region.info).render('featured_properties' => featured_properties) %>
