<%= content_for :theme do %><%= @region.theme %><% end %>

<%= content_for :links_and_search do %>
<section>
  <h2>Resorts</h2>
  <ul>
<% @region.resorts.each do |resort| -%>
    <li><%= link_to resort, resort %></li>
<% end -%>
  </ul>
</section>
<% end %>

<% featured_properties = render('shared/featured_properties') -%>
<%= raw Liquid::Template.parse(@region.info).render('featured_properties' => featured_properties) %>
