<% if @resort.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@resort.errors.count, "error") %> prohibited this resort from being saved:</h2>

    <ul>
    <% @resort.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% unless @resort.new_record? %>
<div class="well">
<h2>Image</h2>
<p><%= link_to 'Change image for this resort', new_image_path %> (changes made on this page will not be saved)</p>
</div>
<% end %>

<%= form_for @resort do |f| %>
<div class="form-horizontal">
  <div class="control-group">
    <%= f.label :name, t('name'), class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :country_id, t('countries.country'), class: 'control-label' %>
    <div class="controls">
      <%= select("resort", "country_id", Country.all(order: 'name').collect {|c| [ c.name, c.id ] }, {prompt: t('countries.select_country')}) %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox"><%= f.check_box :visible %> Visible</label>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox"><%= f.check_box :featured %> Featured</label>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox"><%= f.check_box :summer_only %> Summer only</label>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :local_area, 'Applies to', class: 'control-label' %>
    <div class="controls">
      <%= f.select(:local_area, [["Local area", true], ["Whole area", false]],
        {selected: @resort.local_area}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :introduction, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :introduction %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :info, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :info %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :feature, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :feature %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :visiting, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :visiting %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :owning_a_property_in, t('resorts_controller.detail.owning_a_property_in', resort: @resort), class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :owning_a_property_in %>
    </div>
  </div>
</div>
<p>
  Use the code <code>{{ featured_properties }}</code> to embed featured properties.
</p>
<div class="form-horizontal">
  <div class="control-group">
    <%= f.label :summer_holidays_in, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :summer_holidays_in %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :living_in, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :living_in %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :insider_view, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :insider_view %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gallery_content, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :gallery_content %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :piste_map_content, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :piste_map_content %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :weather_code, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :weather_code %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :altitude_m, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :altitude_m %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :top_lift_m, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :top_lift_m %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ski_area_km, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :ski_area_km %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :black, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :black %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :red, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :red %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :blue, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :blue %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :green, t('resorts_controller.facts.green'), class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :green %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :longest_run_km, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :longest_run_km %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :drags, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :drags %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :chair, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :chair %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gondola, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :gondola %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cable_car, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :cable_car %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :funicular, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :funicular %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :railways, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :railways %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :slope_direction, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :slope_direction %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :snowboard_parks, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :snowboard_parks %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cross_country_km, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :cross_country_km %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mountain_restaurants, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :mountain_restaurants %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :season, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :season %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :glacier_skiing, class: 'control-label' %>
    <div class="controls">
      <%= f.select(:glacier_skiing, [["Yes", true], ["No", false]],
        {include_blank: true, selected: @resort.glacier_skiing.to_s}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :beginner, class: 'control-label' %>
    <div class="controls">
      <%= f.select(:beginner, [[0, 0], [1, 1], [2, 2], [3, 3], [4, 4], [5, 5]]) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :intermediate, class: 'control-label' %>
    <div class="controls">
      <%= f.select(:intermediate, [[0, 0], [1, 1], [2, 2], [3, 3], [4, 4], [5, 5]]) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :expert, class: 'control-label' %>
    <div class="controls">
      <%= f.select(:expert, [[0, 0], [1, 1], [2, 2], [3, 3], [4, 4], [5, 5]]) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :off_piste, class: 'control-label' %>
    <div class="controls">
      <%= f.select(:off_piste, [[0, 0], [1, 1], [2, 2], [3, 3], [4, 4], [5, 5]]) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :apres_ski, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :apres_ski %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :family, class: 'control-label' %>
    <div class="controls">
      <%= f.select(:family, [[0, 0], [1, 1], [2, 2], [3, 3], [4, 4], [5, 5]]) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :creche, class: 'control-label' %>
    <div class="controls">
      <%= f.select(:creche, [["Yes", true], ["No", false]],
        {include_blank: true, selected: @resort.creche.to_s}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :babysitting_services, class: 'control-label' %>
    <div class="controls">
      <%= f.select(:babysitting_services, [["Yes", true], ["No", false]],
        {include_blank: true, selected: @resort.babysitting_services.to_s}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :summer_skiing, class: 'control-label' %>
    <div class="controls">
      <%= f.select(:summer_skiing, [["Yes", true], ["No", false]],
        {include_blank: true, selected: @resort.summer_skiing.to_s}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :heli_skiing, class: 'control-label' %>
    <div class="controls">
      <%= f.select(:heli_skiing, [["Yes", true], ["No", false]],
        {include_blank: true, selected: @resort.heli_skiing.to_s}) %>
    </div>
  </div>
</div>
<div class="form-actions">
  <%= f.submit t('save'), class: 'btn btn-primary' %>
</div>
<% end %>
