<% if @resort.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@resort.errors.count, "error") %> prohibited this resort from being saved:</h2>

    <ul>
    <% @resort.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% unless @resort.new_record? %>
<div class="group_panel">
<h2>Image</h2>
<p><%= link_to 'Change image for this resort', new_image_path %> (changes made on this page will not be saved)</p>
</div>
<% end %>

<%= form_for @resort do |f| %>
<div class="field">
  <%= f.label :name, I18n.t('name') %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :country_id, I18n.t('country') %><br>
  <%= select("resort", "country_id", Country.all(:order => 'name').collect {|c| [ c.name, c.id ] }, {:prompt => 'Select Country'}) %>
</div>
<div class="field">
  <%= f.check_box :visible %> <%= f.label :visible %>
</div>
<div class="field">
  <%= f.check_box :featured %> <%= f.label :featured %>
</div>
<div class="field">
  <%= f.label :introduction %><br>
  <%= f.text_area :introduction %>
</div>
<div class="field">
  <%= f.label :info %><br>
  <%= f.text_area :info %>
</div>
<div class="field">
  <%= f.label :feature %><br>
  <%= f.text_area :feature %>
</div>
<div class="field">
  <%= f.label :visiting %><br>
  <%= f.text_area :visiting %>
</div>
<div class="field">
  <%= f.label :owning_a_property_in %><br>
  <%= f.text_area :owning_a_property_in %>
</div>
<div class="field">
  <%= f.label :summer_holidays_in %><br>
  <%= f.text_area :summer_holidays_in %>
</div>
<div class="field">
  <%= f.label :living_in %><br>
  <%= f.text_area :living_in %>
</div>
<div class="field">
  <%= f.label :insider_view %><br>
  <%= f.text_area :insider_view %>
</div>
<div class="field">
  <%= f.label :weather_code %><br>
  <%= f.text_area :weather_code %>
</div>
<div class="field">
  <%= f.label :altitude_m %><br>
  <%= f.text_field :altitude_m %>
</div>
<div class="field">
  <%= f.label :top_lift_m %><br>
  <%= f.text_field :top_lift_m %>
</div>
<div class="field">
  <%= f.label :ski_area_km %><br>
  <%= f.text_field :ski_area_km %>
</div>
<div class="field">
  <%= f.label :black %><br>
  <%= f.text_field :black %>
</div>
<div class="field">
  <%= f.label :red %><br>
  <%= f.text_field :red %>
</div>
<div class="field">
  <%= f.label :blue %><br>
  <%= f.text_field :blue %>
</div>
<div class="field">
  <%= f.label :green %><br>
  <%= f.text_field :green %>
</div>
<div class="field">
  <%= f.label :longest_run_km %><br>
  <%= f.text_field :longest_run_km %>
</div>
<div class="field">
  <%= f.label :drags %><br>
  <%= f.text_field :drags %>
</div>
<div class="field">
  <%= f.label :chair %><br>
  <%= f.text_field :chair %>
</div>
<div class="field">
  <%= f.label :gondola %><br>
  <%= f.text_field :gondola %>
</div>
<div class="field">
  <%= f.label :cable_car %><br>
  <%= f.text_field :cable_car %>
</div>
<div class="field">
  <%= f.label :funicular %><br>
  <%= f.text_field :funicular %>
</div>
<div class="field">
  <%= f.label :railways %><br>
  <%= f.text_field :railways %>
</div>
<div class="field">
  <%= f.label :slope_direction %><br>
  <%= f.text_field :slope_direction %>
</div>
<div class="field">
  <%= f.label :snowboard_parks %><br>
  <%= f.text_field :snowboard_parks %>
</div>
<div class="field">
  <%= f.label :cross_country_km %><br>
  <%= f.text_field :cross_country_km %>
</div>
<div class="field">
  <%= f.label :mountain_restaurants %><br>
  <%= f.text_field :mountain_restaurants %>
</div>
<div class="field">
  <%= f.label :glacier_skiing %><br>
  <%= f.select(:glacier_skiing, [["Yes", true], ["No", false]],
    {:include_blank => true, :selected => @resort.glacier_skiing.to_s}) %>
</div>
<div class="field">
  <%= f.label :beginner %><br>
  <%= f.select(:beginner, [[0, 0], [1, 1], [2, 2], [3, 3], [4, 4], [5, 5]]) %>
</div>
<div class="field">
  <%= f.label :intermediate %><br>
  <%= f.select(:intermediate, [[0, 0], [1, 1], [2, 2], [3, 3], [4, 4], [5, 5]]) %>
</div>
<div class="field">
  <%= f.label :expert %><br>
  <%= f.select(:expert, [[0, 0], [1, 1], [2, 2], [3, 3], [4, 4], [5, 5]]) %>
</div>
<div class="field">
  <%= f.label :lively_apres_ski %><br>
  <%= f.select(:lively_apres_ski, [["Yes", true], ["No", false]],
    {:include_blank => true, :selected => @resort.lively_apres_ski.to_s}) %>
</div>
<div class="field">
  <%= f.label :family %><br>
  <%= f.select(:family, [[0, 0], [1, 1], [2, 2], [3, 3], [4, 4], [5, 5]]) %>
</div>
<div class="field">
  <%= f.label :creche %><br>
  <%= f.select(:creche, [["Yes", true], ["No", false]],
    {:include_blank => true, :selected => @resort.creche.to_s}) %>
</div>
<div class="field">
  <%= f.label :babysitting_services %><br>
  <%= f.select(:babysitting_services, [["Yes", true], ["No", false]],
    {:include_blank => true, :selected => @resort.babysitting_services.to_s}) %>
</div>
<div class="field">
  <%= f.submit I18n.t('save') %>
</div>
<% end %>
