<%= render 'search_form' %>

<div id="content-with-side-banners">
<h2><%= t('resorts_controller.detail.an_introduction_to', resort: @resort) %></h2>
<% unless @resort.info.blank? %>
<%= raw @resort.info %>
<% end %>

<%= render 'resort_facts' unless @resort.summer_only? %>

<% unless @resort.visiting.blank? %>
<% if @resort.summer_only? -%>
<h2><%= t('resorts_controller.detail.visiting', resort: @resort) %></h2>
<% else -%>
<h2><%= t('resorts_controller.detail.skiing_in', resort: @resort) %></h2>
<% end -%>
<%= raw @resort.visiting %>
<% end %>

<% unless @resort.owning_a_property_in.blank? %>
<h2><%= t('resorts_controller.detail.owning_a_property_in', resort: @resort) %></h2>
<%= raw @resort.owning_a_property_in %>
<% end %>

<% unless @resort.living_in.blank? %>
<h2><%= t('resorts_controller.detail.living_in', resort: @resort) %></h2>
<%= raw @resort.living_in %>
<% end %>

<% unless @resort.insider_view.blank? %>
<h2><%= t('resorts_controller.detail.insider_view', resort: @resort) %></h2>
<%= raw @resort.insider_view %>
<% end %>

</div>
<%= render partial: 'directory_adverts/banners', object: DirectoryAdvert.small_banners_for(@resort) %>
