<div id="wide_content_with_wide_skyscrapers">
<h2><%= t('resorts_controller.detail.an_introduction_to', :resort => @resort) %></h2>
<% unless @resort.info.blank? %>
<%= md @resort.info %>
<% end %>

<h2><%= t('resorts_controller.detail.key_information') %> (<%= @resort.area_type %>)</h2>

<table id="resort_facts">
  <tr>
    <th><%= t('resorts_controller.facts.altitude') %></th>
    <td><%= @resort.altitude_m %>m</td>
    <th><%= t('resorts_controller.facts.black') %></th>
    <td><%= @resort.black %></td>
    <th><%= t('resorts_controller.facts.drags') %></th>
    <td><%= @resort.drags %></td>
    <th><%= t('resorts_controller.facts.heli_skiing') %></th>
    <td><%= tick_cross_unknown @resort.heli_skiing %></td>
  </tr>
  <tr>
    <th><%= t('resorts_controller.facts.top_lift') %></th>
    <td><%= @resort.top_lift_m %>m</td>
    <th><%= t('resorts_controller.facts.red') %></th>
    <td><%= @resort.red %></td>
    <th><%= t('resorts_controller.facts.chair') %></th>
    <td><%= @resort.chair %></td>
    <th><%= t('resorts_controller.facts.summer_skiing') %></th>
    <td><%= tick_cross_unknown(@resort.summer_skiing) %></td>
  </tr>
  <tr>
    <th><%= t('resorts_controller.facts.family') %></th>
    <td><%= star_rating @resort.family %></td>
    <th><%= t('resorts_controller.facts.blue') %></th>
    <td><%= @resort.blue %></td>
    <th><%= t('resorts_controller.facts.gondola') %></th>
    <td><%= @resort.gondola %></td>
    <th><%= t('resorts_controller.facts.glacier_skiing') %></th>
    <td><%= tick_cross_unknown(@resort.glacier_skiing) %></td>
  </tr>
  <tr>
    <th><%= t('resorts_controller.facts.beginner') %></th>
    <td><%= star_rating @resort.beginner %></td>
    <th><%= t('resorts_controller.facts.green') %></th>
    <td><%= @resort.green %></td>
    <th><%= t('resorts_controller.facts.cable_car') %></th>
    <td><%= @resort.cable_car %></td>
    <th><%= t('resorts_controller.facts.babysitting_services') %></th>
    <td><%= tick_cross_unknown(@resort.babysitting_services) %></td>
  </tr>
  <tr>
    <th><%= t('resorts_controller.facts.intermediate') %></th>
    <td><%= star_rating @resort.intermediate %></td>
    <th><%= t('resorts_controller.facts.ski_area') %></th>
    <td><%= @resort.ski_area_km %>km<sup>2</sup></td>
    <th><%= t('resorts_controller.facts.funicular') %></th>
    <td><%= @resort.funicular %></td>
    <th><%= t('resorts_controller.facts.creche') %></th>
    <td><%= tick_cross_unknown(@resort.creche) %></td>
  </tr>
  <tr>
    <th><%= t('resorts_controller.facts.expert') %></th>
    <td><%= star_rating @resort.expert %></td>
    <th><%= t('resorts_controller.facts.longest_run') %></th>
    <td><%= @resort.longest_run_km %>km</td>
    <th><%= t('resorts_controller.facts.railways') %></th>
    <td><%= @resort.railways %></td>
    <th><%= t('resorts_controller.facts.apres_ski') %></th>
    <td><%= @resort.apres_ski %></td>
  </tr>
  <tr>
    <th><%= t('resorts_controller.facts.off_piste') %></th>
    <td><%= star_rating @resort.off_piste %></td>
    <th><%= t('resorts_controller.facts.cross_country') %></th>
    <td><%= @resort.cross_country_km %>km</td>
    <th><%= t('resorts_controller.facts.slope_direction') %></th>
    <td><%= @resort.slope_direction %></td>
    <th>&nbsp;</th>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th><%= t('resorts_controller.facts.season') %></th>
    <td><%= @resort.season %></td>
    <th><%= t('resorts_controller.facts.snowboard_parks') %></th>
    <td><%= @resort.snowboard_parks %></td>
    <th><%= t('resorts_controller.facts.mountain_restaurants') %></th>
    <td><%= @resort.mountain_restaurants %></td>
    <th>&nbsp;</th>
    <td>&nbsp;</td>
  </tr>
</table>

<h2><%= t('resorts_controller.detail.how_to_get_there') %></h2>
<table>
  <% @resort.airport_distances.each do |ad| %>
  <tr>
    <td><%= ad.airport.name %></td>
    <td><%= ad.distance_km %>km</td>
    <td><%= ad.comment %></td>
  </tr>
  <% end %>
</table>

<% unless @resort.how_to_get_to.blank? %>
<div id="how_to_get_to">
<%= md @resort.how_to_get_to %>
</div>
<% end %>

<% unless @resort.visiting.blank? %>
<h2><%= t('resorts_controller.detail.visiting', :resort => @resort) %></h2>
<%= md @resort.visiting %>
<% end %>

<% unless @resort.owning_a_property_in.blank? %>
<h2><%= t('resorts_controller.detail.owning_a_property_in', :resort => @resort) %></h2>
<%= md @resort.owning_a_property_in %>
<% end %>

<% unless @resort.summer_holidays_in.blank? %>
<h2><%= t('resorts_controller.detail.summer_holidays_in', :resort => @resort) %></h2>
<%= md @resort.summer_holidays_in %>
<% end %>

<% unless @resort.living_in.blank? %>
<h2><%= t('resorts_controller.detail.living_in', :resort => @resort) %></h2>
<%= md @resort.living_in %>
<% end %>

<% unless @resort.insider_view.blank? %>
<h2><%= t('resorts_controller.detail.insider_view', :resort => @resort) %></h2>
<%= md @resort.insider_view %>
<% end %>

</div>
<div id="wide_skyscrapers">
  <%= render :partial => 'directory_adverts/banners', :object => DirectoryAdvert.small_banners_for(@resort) %>
</div>
