<div id="content_with_wide_skyscrapers">
  <p class="more_detail" style="width: 30%; float: right;">
    <%= link_to "#{@resort.name} Resort Guide", resort_guide_path(@resort) %>
  </p>
<table>
  <tr>
    <th><%= t('resorts_controller.facts.altitude') %></th>
    <td><%= @resort.altitude_m %>m</td>
  </tr>
  <tr>
    <th><%= t('resorts_controller.facts.top_lift') %></th>
    <td><%= @resort.top_lift_m %>m</td>
  </tr>
  <tr>
    <th><%= t('resorts_controller.facts.family') %></th>
    <td><%= star_rating(@resort.family) %></td>
  </tr>
  <tr>
    <th><%= t('resorts_controller.facts.beginner') %></th>
    <td><%= star_rating(@resort.beginner) %></td>
  </tr>
  <tr>
    <th><%= t('resorts_controller.facts.intermediate') %></th>
    <td><%= star_rating(@resort.intermediate) %></td>
  </tr>
  <tr>
    <th><%= t('resorts_controller.facts.expert') %></th>
    <td><%= star_rating(@resort.expert) %></td>
  </tr>
  <tr>
    <th><%= t('resorts_controller.facts.nearest_airport') %></th>
    <td><% unless (ad = @resort.airport_distances.first).nil? %>
      <%= ad.airport.name %> (<%= ad.distance_km %>km) <%= ad.comment %>
    <% end %></td>
  </tr>
</table>

  <script>
  $(document).ready(function() {
    $('.carousel').carousel();
  });
  </script>
  <div id="featured_properties" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <ul class="thumbnails">
          <%= featured_properties(@featured_properties[0..3]) %>
        </ul>
      </div>
      <div class="item">
        <ul class="thumbnails">
          <%= featured_properties(@featured_properties[4..7]) %>
        </ul>
      </div>
      <div class="item">
        <ul class="thumbnails">
          <%= featured_properties(@featured_properties[8..11]) %>
        </ul>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#featured_properties" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#featured_properties" data-slide="next">&rsaquo;</a>
  </div>

<% unless @resort.introduction.blank? %>
<%= md @resort.introduction %>
<% end %>
<% unless @resort.weather_code.blank? %>
<div id="weather_code">
<%= raw @resort.weather_code %>
</div>
<% end %>
</div>
<div id="wide_skyscrapers">
  <%= render :partial => 'directory_adverts/banners', :object => DirectoryAdvert.small_banners_for(@resort) %>
</div>
