<div id="content_with_wide_skyscrapers">
<table>
  <tr>
    <th><%= t('resorts_controller.facts.altitude') %></th>
    <td><%= @resort.altitude_m %>m</td>
  </tr>
  <tr>
    <th><%= t('resorts_controller.facts.top_lift') %></th>
    <td><%= @resort.top_lift_m %>m</td>
  </tr>
  <tr>
    <th><%= t('resorts_controller.facts.family') %></th>
    <td><%= star_rating(@resort.family) %></td>
  </tr>
  <tr>
    <th><%= t('resorts_controller.facts.beginner') %></th>
    <td><%= star_rating(@resort.beginner) %></td>
  </tr>
  <tr>
    <th><%= t('resorts_controller.facts.intermediate') %></th>
    <td><%= star_rating(@resort.intermediate) %></td>
  </tr>
  <tr>
    <th><%= t('resorts_controller.facts.expert') %></th>
    <td><%= star_rating(@resort.expert) %></td>
  </tr>
  <tr>
    <th><%= t('resorts_controller.facts.nearest_airport') %></th>
    <td><% unless (ad = @resort.airport_distances.sort{|a,b| a.distance_km <=> b.distance_km}.first).nil? %>
      <%= ad.airport.name %> (<%= ad.distance_km %>km) <%= ad.comment %>
    <% end %></td>
  </tr>
</table>
<% unless @resort.introduction.blank? %>
<%= md @resort.introduction %>
<% end %>
<% unless @resort.weather_code.blank? %>
<%= raw @resort.weather_code %>
<% end %>
<p class="more_detail">
  <%= link_to "More detail on #{@resort.name}", detail_resort_path(@resort) %>
</p>
</div>
<div id="wide_skyscrapers">
  <%= render :partial => 'banner_adverts/banner', :object => BannerAdvert.small_banner_for(@resort) %>
</div>
