<%= content_for :theme do %><%= @resort.theme %><% end %>

<%= content_for :links_and_search do %>
<%= render 'search_form' %>
<% end %>

<div id="content-with-side-banners">
<%= render 'ski_facts_short' if @resort.ski? %>

<%= render 'shared/featured_properties' %>

<% unless @resort.introduction.blank? %>
<%= raw @resort.introduction %>
<% end %>
<% unless @resort.weather_code.blank? %>
<div id="weather_code">
<%= raw @resort.weather_code %>
</div>
<% end %>
</div>

<%= render partial: 'directory_adverts/banners', object: DirectoryAdvert.small_banners_for(@resort) %>
