<%= form_for(@blog_post) do |f| %>
<div class="field">
  <label class="checkbox">
    <%= f.check_box :visible %> Visible
  </label>
</div>
<div class="field">
  <%= f.label :headline %>
  <%= f.text_field :headline %>
</div>
<div class="field">
  <%= f.label :content %>
  <%= f.text_area :content %>
</div>
<div class="field">
  <%= f.submit class: 'btn btn-primary' %>
</div>
<% end %>
