<%= form_for(@blog_post) do |f| %>
<div class="checkbox">
  <label>
    <%= f.check_box :visible %> Visible
  </label>
</div>
<div class="form-group">
  <%= f.label :headline %>
  <%= f.text_field :headline, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :content %>
  <%= f.text_area :content, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.submit class: 'btn btn-primary' %>
</div>
<% end %>
