<div class="page-header">
  <h1><%= link_to 'CMS', cms_path %> &rarr; Window Base Prices</h1>
</div>
<p>
  <%= new_button [:admin, WindowBasePrice] %>
</p>
<% if @window_base_prices.empty? %>
<p>There are no window base prices set up yet.</p>
<% else %>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @window_base_prices.each do |window_base_price| %>
    <tr>
      <td class="numeric"><%= window_base_price.quantity %></td>
      <td class="numeric price"><%= window_base_price.price %> GBP</td>
      <td>
        <%= edit_button [:admin, window_base_price] %>
        <%= delete_button [:admin, window_base_price] %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
