<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @page_title ? @page_title + " - My Chalet Finder" : "My Chalet Finder" %></title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="//rawgithub.com/ajaxorg/ace-builds/master/src-noconflict/ace.js"></script>
  <style>
  .editor {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    height: 300px;
    margin-bottom: 10px;
  }
  .editor-textarea, .form-horizontal .editor-textarea {
    display: none;
  }
  </style>
</head>
<body>
  <div style="height:60px;">&nbsp;</div>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Home</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">General
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <%= admin_menu_links({ 'Guide' => guide_path, 'Export Data' => export_path }) %>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Financial &amp; Analysis
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <%= admin_menu_links({
                  'Management Information' => management_information_path,
                  'Orders' => orders_path,
                  'Payments' => payments_path
                })
                %>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pricing
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <%= admin_menu_links({
                  'Directory Price' => directory_price_path,
                  'Banner Prices' => banner_prices_path,
                  'Property Base Prices' => property_base_prices_path,
                  'Property Volume Discounts' => property_volume_discounts_path,
                  'Window Base Prices' => window_base_prices_path,
                  'Promotion Codes' => coupons_path,
                  'Currencies' => currencies_path
                })
                %>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">User Management
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <%= admin_menu_links({ 'Users' => users_path, 'Roles' => roles_path })%>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Content
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <%= admin_menu_links({
                  'Snippets' => snippets_path,
                  'Snippets' => snippets_path,
                  'Buying Guides' => buying_guides_path,
                  'Airports' => airports_path,
                  'Airport Distances' => airport_distances_path,
                  'Holiday Types' => admin_holiday_types_path,
                  'Countries' => countries_path,
                  'Regions' => admin_regions_path,
                  'Resorts' => admin_resorts_path,
                  'Categories' => categories_path,
                  'Blog' => blog_posts_path,
                  'Page Meta Data' => pages_path,
                  'Alt Attributes' => alt_attributes_path,
                  'Footers' => footers_path,
                  'Website Misc' => edit_website_path(@w),
                  'Directory & Banner Adverts' => directory_adverts_path,
                  'Properties' => properties_path,
                  'Pierre et Vacances' => pv_accommodations_path
                })
                %>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t('account'), advertise_path, data: { 'no-turbolinks' => true } %></li>
                <li><%= link_to t('sign_out'), sign_out_path, data: { 'no-turbolinks' => true } %></li>
              </ul>
            </li>            
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
<% if flash[:notice] -%>
    <div class="alert alert-info fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= flash[:notice] %>
    </div>
<% end -%>
    <%= yield %>
  </div>
</body>
</html>
