<!DOCTYPE html>
<html>
<head>
  <title>MySkiChalet</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<nav id="browse">
  <ul>
    <li>Austria</li>
    <li>France</li>
    <li>Italy</li>
    <li>Switzerland</li>
  </ul>
</nav>

<%= flash_notice %>
<%= yield %>

</body>
</html>
