<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title><%= @page_title ? @page_title : "My Ski Chalet" %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'modernizr-1.6.min' %>
  <%= javascript_include_tag 'livevalidation-1.3' %>
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= csrf_meta_tag %>
  <meta name="google-site-verification" content="gNWIA7DUtZ0ow0E9m_4hHumjqit17_4LxY8bP2jMzeo">
  <script>

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22451896-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
<%= render "shared/admin_bar" if admin? %>
<div id="wrapper">
<nav id="main_menu">
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to I18n.t('advertiser_home'), advertiser_home_path %></li>
    <li><%= link_to I18n.t('pricing'), pricing_path %></li>
    <li><%= link_to 'New Developments', new_developments_path %></li>
<% if signed_in? %>
<% if @current_user.has_adverts_in_basket? %>
    <li><%= link_to 'Basket', basket_path %></li>
<% end %>
    <li><%= link_to 'Sign Out', sign_out_path %>
<% end %>
  </ul>
</nav>
<nav id="browse">
  <ul id="countries">
<% Country.with_visible_resorts.each do |c| %>
    <li><a href="<%= country_path(c) %>"
       style="background-image: url(/images/flags/<%= c.iso_3166_1_alpha_2.downcase %>.png)"
       onclick="$('resorts_for_<%= c.id %>').show();$('countries').hide();return false"><%= c.name %></a></li>
<% end %>
  </ul>
<% Country.with_resorts.each do |c| %>
  <ul style="display: none;" id="resorts_for_<%= c.id %>">
    <li class="back"><a href="<%= country_path(c) %>" onclick="$('resorts_for_<%= c.id %>').hide();$('countries').show();return false"><%= c.name %></a></li>
<% c.resorts.each do |r| %>
    <li onclick="$('resorts_for_<%= c.id %>').hide();$('options_for_<%= r.id %>').show();return false"><%= link_to r.name, r %></li>
<% end %>
  </ul>
<% c.resorts.each do |r| %>
  <ul style="display: none;" id="options_for_<%= r.id %>">
    <li class="back"><a href="<%= country_path(c) %>" onclick="$('options_for_<%= r.id %>').hide();$('countries').show();return false"><%= c.name %></a></li>
    <li class="back"><a href="<%= resort_path(r) %>" onclick="$('options_for_<%= r.id %>').hide();$('resorts_for_<%= c.id %>').show();return false"><%= r.name %></a></li>
    <li><%= link_to I18n.t('property_rentals'), resort_property_rent_path(r) %></li>
    <li><%= link_to I18n.t('property_sales'), resort_property_sale_path(r) %></li>
    <li><%= link_to 'Directory', resort_categories_path(r) %></li>
    <li><%= link_to 'Resort Info', info_resort_path(r) %></li>
  </ul>
<% end %>
<% end %>
</nav>

<div id="content" role="main">
<%= flash_notice %>
<%= yield %>
</div>

<footer role="contentinfo">
  <p>
    &copy;2011 My Holiday Home Ventures Limited
    |
    <%= link_to I18n.t(:terms), terms_path %>
  </p>
</footer>
</div><!--#wrapper-->
</body>
</html>
