<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title><%= @page_title ? @page_title : "My Ski Chalet" %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="/ckeditor/ckeditor.js"></script>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="gNWIA7DUtZ0ow0E9m_4hHumjqit17_4LxY8bP2jMzeo">
  <script>

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22451896-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <script src="http://use.typekit.com/lxc8myw.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body class="<%= 'browse_menu ' if @browse_menu %><%= @body_classes %>">
<div id="wrapper">
<%= render "shared/main_menu" %>
<a href="/" title="Home" id="logo"><img src="/images/my-ski-chalet-logo.png" alt="My Ski Chalet"></a>

<div id="column_headings">
  <h1><%= @heading_a %></h1>
</div>

<% if @browse_menu
  @country = @resort.country unless @resort.nil?
%>
<nav id="browse">
  <ul id="countries">
<% Country.with_visible_resorts.each do |c| %>
    <li <%= 'class="selected"'.html_safe if @country && c.id == @country.id %>><a href="<%= country_path(c) %>">
       <span style="background-image: url(/images/flags/<%= c.iso_3166_1_alpha_2.downcase %>.png); width:16px;height:11px; display:block;float:left;margin-right:4px;">&nbsp;</span>
       <%= c.name %></a></li>
<% end %>
  </ul>
<% if @country %>
  <ul id="resorts">
<% @country.visible_resorts.each do |r| %>
    <li <%= 'class="selected"'.html_safe if @resort && r.id == @resort.id %>><%= link_to r.name, r %></li>
<% end %>
  </ul>
<% end %>
<% if @resort %>
  <ul id="resort_options">
    <li <%= 'class="selected"'.html_safe if current_page?(resort_path(@resort)) %>><%= link_to 'Resort Info', resort_path(@resort) %></li>
    <li <%= 'class="selected"'.html_safe if current_page?(resort_property_rent_path(@resort)) %>><%= link_to I18n.t('for_rent'), resort_property_rent_path(@resort) %></li>
    <li <%= 'class="selected"'.html_safe if current_page?(resort_property_sale_path(@resort)) %>><%= link_to I18n.t('for_sale'), resort_property_sale_path(@resort) %></li>
    <li <%= 'class="selected"'.html_safe if current_page?(resort_property_new_developments_path(@resort)) %>><%= link_to I18n.t('new_developments'), resort_property_new_developments_path(@resort) %></li>
    <li <%= 'class="selected"'.html_safe if current_page?(resort_categories_path(@resort)) %>><%= link_to 'Directory', resort_categories_path(@resort) %></li>
  </ul>
<% end %>
</nav>
<% end %>

<div id="content" role="main">
<%= flash_notice %>
<%= yield %>
</div>

<footer role="contentinfo">
  <p>
    &copy;2011 My Holiday Home Ventures Limited
    |
    <%= link_to I18n.t(:privacy), privacy_path %>
    |
    <%= link_to I18n.t(:terms), terms_path %>
  </p>
</footer>
</div><!--#wrapper-->
</body>
</html>
