<!DOCTYPE html>
<html class="no-js" lang="<%= @lang %>">
<head>
  <meta charset="utf-8">
  <%= render "shared/page_meta" %>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <%= stylesheet_link_tag    "application-main", media: "screen" %>
  <%= stylesheet_link_tag    "application-print", media: 'print' %>
  <%= javascript_include_tag "application" %>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= csrf_meta_tags %>
  <%= render "shared/google" %>
  <script src="http://use.typekit.com/lxc8myw.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script src="https://apis.google.com/js/plusone.js"></script>
  <script>
  $(document).ready(function() {
    $('#header_images').cycle({
      fx: 'fade',
      speed: 1500,
      timeout: 3000
    });

    gapi.plusone.render("plusone", {"size": "standard", "count": "true"});
  });
  </script>
</head>
<body class="<%= 'browse_menu ' if @browse_menu %><%= @body_classes %>">
  <%= render 'shared/facebook_code' %>
<div id="wrapper">
<%= render "shared/main_menu" %>
<div id="shade">&nbsp;</div>
<div id="header_images">
  <% header_image_urls.each do |url| -%>
  <img src="<%= url %>" alt="My Chalet Finder Ski Accommodation">
  <% end %>
</div>
<a href="/" title="Home" id="logo"><img src="/images/my-chalet-finder-logo-3.png" alt="My Chalet Finder Ski Accommodation"></a>
<div id="column_headings">

<% if @browse_menu
  @country = @resort.country unless @resort.nil?
%>
<nav>
  <div class="btn-group">
    <button class="btn"<%= raw " onclick=\"window.location = '#{country_path(@country)}'\"" if @country %>><%= @country ? @country.name : 'Choose Country' %></button>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <% Country.with_visible_resorts.each do |c| %>
      <li><a href="<%= country_path(c) %>"><%= c.name %> (<%= c.property_count %>)</a></li>
      <% end %>
    </ul>
  </div>
<% if @country %>
  <div class="btn-group">
    <button class="btn"<%= raw " onclick=\"window.location = '#{resort_path(@resort)}'\"" if @resort %>><%= @resort ? @resort.name : 'Choose Resort' %></button>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <% @country.visible_resorts.each do |r| %>
      <li><a href="<%= resort_path(r) %>"><%= r.name %> (<%= r.property_count %>)</a></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if @resort %>
  <ul class="nav nav-pills" id="resort-nav">
    <li <%= 'class="active"'.html_safe if current_page?(resort_path(@resort)) %>><%=
      link_to t('resort_options.resort_info'), resort_path(@resort), title: "#{@resort.name} resort information" %></li>
<% unless @resort.for_rent_count == 0 -%>
    <li <%= 'class="active"'.html_safe if current_page?(resort_property_rent_path(@resort)) %>><a
      title="Property for rent in <%= @resort.name %>"
      href="<%= resort_property_rent_path(@resort) %>"><%=
      t('for_rent') %> (<%= @resort.for_rent_count %>)</a></li>
<% end -%>
<% unless @resort.for_sale_count == 0 -%>
    <li <%= 'class="active"'.html_safe if current_page?(resort_property_sale_path(@resort)) %>><a
      title="Property for sale in <%= @resort.name %>"
      href="<%= resort_property_sale_path(@resort) %>"><%=
      t('for_sale') %> (<%= @resort.for_sale_count %>)</a></li>
<% end -%>
<% unless @resort.new_development_count == 0 -%>
    <li <%= 'class="active"'.html_safe if current_page?(resort_property_new_developments_path(@resort)) %>><a
      title="New property developments in <%= @resort.name %>"
      href="<%= resort_property_new_developments_path(@resort) %>"><%=
      t('resort_options.new_developments') %> (<%= @resort.new_development_count %>)</a></li>
<% end -%>
<% unless @resort.hotel_count == 0 -%>
    <li <%= 'class="active"'.html_safe if current_page?(resort_property_hotels_path(@resort)) %>><a
      title="Hotels in <%= @resort.name %>"
      href="<%= resort_property_hotels_path(@resort) %>"><%=
      t('resort_options.hotels') %> (<%= @resort.hotel_count %>)</a></li>
<% end -%>
    <li <%= 'class="active"'.html_safe if current_page?(directory_resort_path(@resort)) %>><%= link_to t('directory'), directory_resort_path(@resort), title: "#{@resort.name} directory" %></li>
    <li <%= 'class="active"'.html_safe if current_page?(piste_map_resort_path(@resort)) %>><%= link_to I18n.t('piste_map'), piste_map_resort_path(@resort), title: "#{@resort.name} piste maps" %></li>
    <li <%= 'class="active"'.html_safe if current_page?(gallery_resort_path(@resort)) %>><%= link_to t('gallery'), gallery_resort_path(@resort), title: "Photos of #{@resort.name}" %></li>
    <li <%= 'class="active"'.html_safe if current_page?(summer_holidays_path(@resort)) %>><%= link_to t('resorts_controller.summer_holidays'), summer_holidays_path(@resort), title: "Summer holidays in #{@resort.name}" %></li>
  </ul>
<% end %>
</nav>
<% end %>




  <h1><%= @heading_a %></h1>
</div>

<div id="content" role="main">
<%= flash_notice %>
<%= yield %>
</div>

<footer role="contentinfo">
  <p style="float:right;">
    <%= render "shared/google_plus_one" %>
  </p>
  <p>
    &copy;2012 My Holiday Home Ventures Limited
    |
    <%= link_to I18n.t(:privacy), privacy_path %>
    |
    <%= link_to I18n.t(:terms), terms_path %>
    |
    <%= link_to I18n.t(:contact), contact_path %>
    <br>
    <a href="http://en.mychaletfinder.com<%= request.env['REQUEST_URI'] %>">English</a>
    |
    <a href="http://fr.mychaletfinder.com<%= request.env['REQUEST_URI'] %>">Français</a>
    |
    <a href="http://de.mychaletfinder.com<%= request.env['REQUEST_URI'] %>">Deutsch</a>
    |
    <a href="http://it.mychaletfinder.com<%= request.env['REQUEST_URI'] %>">Italiano</a>
  </p>
  <%= render 'shared/facebook_like_box' %>
  <div style="text-align:center;"><img src="/images/worldpay-card-logos.png" alt="Payments powered by WorldPay"></div>
  <%= render 'shared/footer_box' %>
</footer>
</div><!--#wrapper-->
</body>
</html>
