<!DOCTYPE html>
<html class="no-js" lang="<%= @lang %>">
<head>
  <meta charset="utf-8">
  <title><%= @page_title ? @page_title + " - My Chalet Finder" : "My Chalet Finder" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= csrf_meta_tags %>
  <%= render "shared/google" %>
  <script src="http://use.typekit.com/lxc8myw.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
<% if @resort && @resort.image %>
<style>
#wrapper {
  background-image: url('<%= @resort.image.url %>');
}
</style>
<% end %>
</head>
<body class="<%= 'browse_menu ' if @browse_menu %><%= @body_classes %>">
<div id="wrapper">
<%= render "shared/main_menu" %>
<a href="/" title="Home" id="logo"><img src="/images/my-chalet-finder-logo.png" alt="My Chalet Finder"></a>

<div id="stage_headings">
  <%= raw @stage_heading_a %>
  <%= raw @stage_heading_b %>
</div>

<div id="column_headings">
  <h1><%= @heading_a %></h1>
</div>

<% if @browse_menu
  @country = @resort.country unless @resort.nil?
%>
<nav id="browse">
  <ul id="countries">
<% Country.with_visible_resorts.each do |c| %>
    <li <%= 'class="selected"'.html_safe if @country && c.id == @country.id %>><a href="<%= country_path(c) %>">
       <span style="background-image: url(/images/flags/<%= c.iso_3166_1_alpha_2.downcase %>.png); width:16px;height:11px; display:block;float:left;margin-right:4px;">&nbsp;</span>
       <%= c.name %></a></li>
<% end %>
  </ul>
<% if @country %>
  <ul id="resorts">
<% @country.visible_resorts.each do |r| %>
    <li <%= 'class="selected"'.html_safe if @resort && r.id == @resort.id %>><%= link_to r.name, r %></li>
<% end %>
  </ul>
<% end %>
<% if @resort %>
  <ul id="resort_options">
    <li <%= 'class="selected"'.html_safe if current_page?(resort_path(@resort)) %>><%=
      link_to t('resort_options.resort_info'), resort_path(@resort) %></li>
    <li <%= 'class="selected"'.html_safe if current_page?(resort_property_rent_path(@resort)) %>><a href="<%= resort_property_rent_path(@resort) %>"><div class="resort_option"><%=
      t('for_rent') %></div><div class="property_count"><%= count_properties_for_rent_in(@resort) %></div></a></li>
    <li <%= 'class="selected"'.html_safe if current_page?(resort_property_sale_path(@resort)) %>><a href="<%= resort_property_sale_path(@resort) %>"><div class="resort_option"><%=
      t('for_sale') %></div><div class="property_count"><%= count_properties_for_sale_in(@resort) %></div></a></li>
    <li <%= 'class="selected"'.html_safe if current_page?(resort_property_new_developments_path(@resort)) %>><a href="<%= resort_property_new_developments_path(@resort) %>"><div class="resort_option"><%=
      t('resort_options.new_developments') %></div><div class="property_count"><%= count_new_developments_in(@resort) %></div></a></li>
    <li <%= 'class="selected"'.html_safe if current_page?(directory_resort_path(@resort)) %>><%= link_to t('directory'), directory_resort_path(@resort) %></li>
    <li <%= 'class="selected"'.html_safe if current_page?(piste_map_resort_path(@resort)) %>><%= link_to I18n.t('piste_map'), piste_map_resort_path(@resort) %></li>
    <li <%= 'class="selected"'.html_safe if current_page?(gallery_resort_path(@resort)) %>><%= link_to t('gallery'), gallery_resort_path(@resort) %></li>
  </ul>
<% end %>
</nav>
<% end %>

<div id="content" role="main">
<%= flash_notice %>
<%= yield %>
</div>

<footer role="contentinfo">
  <p>
    &copy;2011 My Holiday Home Ventures Limited
    |
    <%= link_to I18n.t(:privacy), privacy_path %>
    |
    <%= link_to I18n.t(:terms), terms_path %>
    <br>
    <a href="http://en.mychaletfinder.com<%= request.env['REQUEST_URI'] %>">English</a>
    |
    <a href="http://fr.mychaletfinder.com<%= request.env['REQUEST_URI'] %>">Français</a>
  </p>
</footer>
</div><!--#wrapper-->
</body>
</html>
