<!DOCTYPE html>
<html class="no-js" lang="<%= @lang %>">
<head>
  <meta charset="utf-8">
  <%= render "shared/page_meta" %>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= csrf_meta_tags %>
  <%= render "shared/google" %>
  <script src="http://use.typekit.com/lxc8myw.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script src="https://apis.google.com/js/plusone.js"></script>
  <script>
  $(document).ready(function() {
    $('#header_images').cycle({
      fx: 'fade',
      speed: 1500,
      timeout: 3000
    });

    gapi.plusone.render("plusone", {"size": "standard", "count": "true"});
  });
  </script>
</head>
<body class="<%= 'browse_menu ' if @browse_menu %><%= @body_classes %>">
  <%= render 'shared/facebook_code' %>
<div id="wrapper">
<%= render "shared/main_menu" %>
<div id="shade">&nbsp;</div>
<div id="header_images">
  <% header_image_urls.each do |url| -%>
  <img src="<%= url %>" alt="My Chalet Finder">
  <% end %>
</div>
<a href="/" title="Home" id="logo"><img src="/images/my-chalet-finder-logo-3.png" alt="My Chalet Finder"></a>

<div id="column_headings">
  <h1><%= @heading_a %></h1>
</div>

<%= render "shared/countries_menu" %>

<div id="content" role="main">
<%= flash_notice %>
<%= yield %>
</div>

<footer role="contentinfo">
  <p style="float:right;">
    <%= render "shared/google_plus_one" %>
  </p>
  <p>
    &copy;2012 My Holiday Home Ventures Limited
    |
    <%= link_to I18n.t(:privacy), privacy_path %>
    |
    <%= link_to I18n.t(:terms), terms_path %>
    |
    <%= link_to I18n.t(:links), links_path %>
    |
    <%= link_to I18n.t(:contact), contact_path %>
    <br>
    <a href="http://en.mychaletfinder.com<%= request.env['REQUEST_URI'] %>">English</a>
    |
    <a href="http://fr.mychaletfinder.com<%= request.env['REQUEST_URI'] %>">Français</a>
    |
    <a href="http://de.mychaletfinder.com<%= request.env['REQUEST_URI'] %>">Deutsch</a>
    |
    <a href="http://it.mychaletfinder.com<%= request.env['REQUEST_URI'] %>">Italiano</a>
  </p>
  <%= render 'shared/facebook_like_box' %>
  <div style="text-align:center;"><img src="/images/worldpay-card-logos.png" alt="Payments powered by WorldPay"></div>
</footer>
</div><!--#wrapper-->
</body>
</html>
