<!DOCTYPE html>
<html class="no-js" lang="<%= @lang %>">
<head>
  <meta charset="utf-8">
  <title><%= @page_title ? @page_title + " - My Chalet Finder" : "My Chalet Finder" %></title>
<% unless @meta_description.blank? -%>
  <meta name="description" content="<%= @meta_description %>">
<% end -%>
  <meta name="alexaVerifyID" content="0IVBlNZ4wkIe-rLrsQkQNVUS9to">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <%= stylesheet_link_tag    "application-main", media: "screen", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application-print", media: 'print', "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="/extra.css">
  <!-- TradeDoubler site verification 1980597 -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyCdlkrru2ofKjgTYPgyL7Mhgd6--0Ka8ok&amp;sensor=false"></script>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="<%= t('google.site_verification') %>">
<% if Rails.env == 'production' -%>
  <script>

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= t('google.web_property_id') %>']);
    _gaq.push(['_trackPageview']);
  <% unless @advertiser_web_property_id.blank? -%>
    _gaq.push(['_setAccount', '<%= @advertiser_web_property_id %>']);
    _gaq.push(['_setDomainName', 'mychaletfinder.com']);
    _gaq.push(['_trackPageview']);
  <% end -%>

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
<% end -%>
<script>
$(function() {
  $('#header-images').cycle({
    fx: 'fade',
    speed: 1500,
    timeout: 3000
  });
});
</script>
</head>
<body class="<%= @body_classes %>">
<div id="wrapper" class="<%= "#{yield :theme}-theme" if content_for? :theme %>">
<header role="banner">
  <nav id="session">
    <ul>
<% if signed_in? -%>
<% if @current_user.has_adverts_in_basket? -%>
      <li><a href="<%= basket_path %>"><%= t 'basket' %> <span class="count"><%= @current_user.adverts_in_basket.count %></span></a><i class="icon-caret-right"></i></li>
<% elsif session[:windows_in_basket] -%>
      <li><a href="<%= basket_path %>"><%= t 'basket' %> <span class="count">1</span></a><i class="icon-caret-right"></i></li>
<% end -%>
      <li><%= link_to t('account'), advertise_path %><i class="icon-caret-right"></i></li>
      <li><%= link_to t('sign_out'), sign_out_path %><i class="icon-caret-right"></i></li>
<% else -%>
      <li><%= link_to t('sign_in'), sign_in_path %><i class="icon-caret-right"></i></li>
      <li><%= link_to t('sign_up'), sign_up_path, id: 'sign-up' %><i class="icon-caret-right"></i></li>
<% end -%>
<% if admin? -%>
      <li><%= link_to 'CMS', cms_path %><i class="icon-caret-right"></i></li>
<% end -%>
    </ul>
  </nav>
  <a href="<%= root_path %>" title="Home" id="logo"><%= image_tag('home-link.svg', alt: alt_attribute('/images/home-link.svg', 'My Chalet Finder Ski Accommodation')) %></a>
  <nav id="main-menu" role="navigation">
    <ul>
<% HolidayType.on_menu.each do |ht| -%>
      <li><%= link_to ht.name, ht, class: ht.slug %></li>
<% end -%>
    </ul>
  </nav>
</header>
<div id="column_headings">
  <h1><%= @heading_a %></h1>
</div>
<div id="links-and-search">
  <%= yield :links_and_search %>
  <% if @resort %>
  <section>
    <ul id="resort-nav">
      <li <%= 'class="active"'.html_safe if current_page?(resort_path(@resort)) %>><%=
        link_to t('resort_options.resort_info'), resort_path(@resort), title: "#{@resort.name} resort information" %></li>
      <li <%= 'class="active"'.html_safe if current_page?(resort_guide_path(@resort)) %>><%= link_to t('.resort_guide'), resort_guide_path(@resort), title: "#{@resort.name} resort guide" %></li>
  <% unless @resort.for_rent_count == 0 -%>
      <li <%= 'class="active"'.html_safe if current_page?(resort_property_rent_path(@resort)) %>><a
        title="Property for rent in <%= @resort.name %>"
        href="<%= resort_property_rent_path(@resort) %>"><%=
        t('views.layouts.application.resort_nav.for_rent') %> (<%= @resort.for_rent_count %>)</a></li>
  <% end -%>
  <% unless @resort.for_sale_count == 0 -%>
      <li <%= 'class="active"'.html_safe if current_page?(resort_property_sale_path(@resort)) %>><a
        title="Property for sale in <%= @resort.name %>"
        href="<%= resort_property_sale_path(@resort) %>"><%=
        t('for_sale') %> (<%= @resort.for_sale_count %>)</a></li>
  <% end -%>
  <% unless @resort.new_development_count == 0 -%>
      <li <%= 'class="active"'.html_safe if current_page?(resort_property_new_developments_path(@resort)) %>><a
        title="New property developments in <%= @resort.name %>"
        href="<%= resort_property_new_developments_path(@resort) %>"><%=
        t('resort_options.new_developments') %> (<%= @resort.new_development_count %>)</a></li>
  <% end -%>
  <% unless @resort.hotel_count == 0 -%>
      <li <%= 'class="active"'.html_safe if current_page?(resort_property_hotels_path(@resort)) %>><a
        title="Hotels in <%= @resort.name %>"
        href="<%= resort_property_hotels_path(@resort) %>"><%=
        t('resort_options.hotels') %> (<%= @resort.hotel_count %>)</a></li>
  <% end -%>
  <% unless @resort.directory_advert_count == 0 -%>
      <li <%= 'class="active"'.html_safe if current_page?(directory_resort_path(@resort)) %>><a
        href="<%= directory_resort_path(@resort) %>"
        title="<%= @resort.name %> directory"><%= t('directory') %> (<%= @resort.directory_advert_count %>)</a></li>
  <% end -%>
  <% if @resort.ski? && !@resort.summer_only? -%>
      <li <%= 'class="active"'.html_safe if current_page?(piste_map_resort_path(@resort)) %>><%= link_to I18n.t('piste_map'), piste_map_resort_path(@resort), title: "#{@resort.name} piste maps" %></li>
  <% end -%>
      <li <%= 'class="active"'.html_safe if current_page?(gallery_resort_path(@resort)) %>><%= link_to t('gallery'), gallery_resort_path(@resort), title: "Photos of #{@resort.name}" %></li>
  <% if @resort.ski? && !@resort.summer_only? -%>
      <li <%= 'class="active"'.html_safe if current_page?(summer_holidays_path(@resort)) %>><%= link_to t('resorts_controller.summer_holidays'), summer_holidays_path(@resort), title: "Summer holidays in #{@resort.name}" %></li>
  <% end -%>
  <% if @resort.has_page?('how-to-get-there') -%>
      <li <%= 'class="active"'.html_safe if current_page?(how_to_get_there_path(@resort)) %>><%= link_to 'How to Get There', how_to_get_there_path(@resort) %></li>
  <% end -%>
    </ul>
  </section>
  <% end %>
  <%= raw sidebar_html %>
</div>
<div id="content" role="main" class="<%= 'wide' unless content_for? :advertising %>">
  <%= flash_notice %>
<% unless header_image_urls.empty? -%>
  <div id="header-images">
    <% header_image_urls.each do |url| -%>
    <img src="<%= url %>" alt="<%= alt_attribute(url, 'My Chalet Finder Ski Accommodation') %>">
    <% end %>
  </div>
<% end -%>
  <%= yield %>
</div>
<% if content_for? :advertising %>
<div id="advertising">
  <%= yield :advertising %>
</div>
<% end %>

  <footer role="contentinfo">
    <%= render 'shared/footer_box' %>
    <p>
      &copy;<%= Time.now.year %> My Holiday Home Ventures Limited
      |
      <%= link_to I18n.t(:privacy), privacy_path %>
      |
      <%= link_to I18n.t(:terms), terms_path %>
      |
      <%= link_to I18n.t(:contact), contact_path %>
      <br>
      <a href="http://en.mychaletfinder.com<%= request.env['REQUEST_URI'] %>">English</a>
      |
      <a href="http://fr.mychaletfinder.com<%= request.env['REQUEST_URI'] %>">Français</a>
      |
      <a href="http://de.mychaletfinder.com<%= request.env['REQUEST_URI'] %>">Deutsch</a>
      |
      <a href="http://it.mychaletfinder.com<%= request.env['REQUEST_URI'] %>">Italiano</a>
    </p>
  </footer>
</div><!--#wrapper-->

<nav id="legacy-menu" role="navigation">
  <ul>
    <li><a href="/pages/resources">Resources</a></li>
<% if @w.blog_visible? -%>
    <li><%= link_to t('blog_posts_controller.blog'), blog_path %></li>
<% end -%>
    <li><%= link_to t('favourites.favourites'), favourites_path, rel: 'nofollow' %></li>
    <li><a id="advertise_link" href="/welcome/advertiser"><%= t('advertise') %></a></li>
  </ul>
</nav>
<div id="social">
  <a id="blogger" title="Blogger" href="http://mychaletfinder.blogspot.com">Blogger</a>
  <a id="twitter" title="Twitter" href="https://twitter.com/#!/MyChaletFinder">Twitter</a>
  <a id="facebook" title="Facebook" href="http://www.facebook.com/MyChaletFinder">Facebook</a>
</div>

</body>
</html>
