<!DOCTYPE html>
<html lang="<%= @lang %>">
<head>
  <meta charset="utf-8">
  <%= render "shared/page_meta" %>
  <meta name="alexaVerifyID" content="0IVBlNZ4wkIe-rLrsQkQNVUS9to">
  <%= javascript_include_tag 'application' %>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <%= render "shared/google" %>
  <script src="http://use.typekit.com/lxc8myw.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <!-- TradeDoubler site verification 1980597 -->
  <script src="https://apis.google.com/js/plusone.js"></script>
  <script>
  $(document).ready(function() {
    gapi.plusone.render("plusone", {"size": "standard", "count": "true"});
    $('.carousel').carousel();
  });
  </script>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <%= stylesheet_link_tag    "application-home", media: 'screen' %>
  <%= stylesheet_link_tag    "application-print", media: 'print' %>
</head>
<body>
  <%= render 'shared/facebook_code' %>
<div id="wrapper">
  <%= render "shared/main_menu" %>
  <div id="shade">&nbsp;</div>
  <a href="/" title="Home" id="logo"><img src="/images/my-chalet-finder-logo-3.png" alt="<%= alt_attribute('/images/my-chalet-finder-logo-3.png', 'My Chalet Finder') %>"></a>
  <div id="intro">
    <%= t('home_page.introduction') %>
  </div>

  <div id="begin">
    <p>
      Begin your search
    </p>
    <div class="btn-group">
      <button class="btn"><%= @country ? link_to(@country.name, @country) : 'Choose Country' %></button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% Country.with_visible_resorts.each do |c| %>
        <li><a href="<%= country_path(c) %>"><%= c.name %> (<%= c.property_count %>)</a></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div id="featured_properties" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <ul class="thumbnails">
          <%= featured_properties(@featured_properties[0..4]) %>
        </ul>
      </div>
      <div class="item">
        <ul class="thumbnails">
          <%= featured_properties(@featured_properties[5..9]) %>
        </ul>
      </div>
      <div class="item">
        <ul class="thumbnails">
          <%= featured_properties(@featured_properties[10..14]) %>
        </ul>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#featured_properties" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#featured_properties" data-slide="next">&rsaquo;</a>
  </div>

  <%= render "shared/countries_menu" %>
  <% Country.all(limit: 6, order: 'property_count DESC').each do |country| %>
  <div class="country">
    <h2><%= country %></h2>
    <% Resort.all(limit: 3, order: 'property_count DESC', conditions: { country_id: country.id }).each do |resort| %>
    <div class="resort">
      <h3><%= link_to resort, resort %></h3>
      <p>
        <%= link_to "Accommodation to rent in #{resort}", resort_property_rent_path(resort) %><br>
        <%= link_to "Accommodation for sale in #{resort}", resort_property_sale_path(resort) %><br>
        <%= link_to "Hotels in #{resort}", resort_property_hotels_path(resort) %>
      </p>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
<footer role="contentinfo">
  <p style="float:left;">
    <%= render "shared/google_plus_one" %>
    <a href="https://twitter.com/#!/MyChaletFinder"><img src="/images/twitter.png" alt="Follow @MyChaletFinder on Twitter"></a>
  </p>
  <p>
    <a href="http://en.mychaletfinder.com">English</a>
    |
    <a href="http://fr.mychaletfinder.com">Français</a>
    |
    <a href="http://de.mychaletfinder.com">Deutsch</a>
    |
    <a href="http://it.mychaletfinder.com">Italiano</a>
  </p>
  <%= render 'shared/facebook_like_box' %>
  <div style="text-align:center; clear: left;"><img src="/images/worldpay-card-logos.png" alt="Payments powered by WorldPay"></div>
  <%= render 'shared/footer_box' %>
</footer>
</body>
</html>
