<!DOCTYPE html>
<html lang="<%= @lang %>">
<head>
  <meta charset="utf-8">
  <%= render "shared/page_meta" %>
  <meta name="alexaVerifyID" content="0IVBlNZ4wkIe-rLrsQkQNVUS9to">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <%= javascript_include_tag 'application' %>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <%= render 'shared/google' %>
  <%= render 'shared/typekit' %>
  <!-- TradeDoubler site verification 1980597 -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <%= stylesheet_link_tag    "application-home", media: 'screen' %>
  <%= stylesheet_link_tag    "application-print", media: 'print' %>
  <link rel="stylesheet" href="/extra.css">
</head>
<body>
<div id="wrapper">
  <%= render "shared/main_menu" %>
  <header>
    <a href="/" title="Home" id="logo"><img src="/images/my-chalet-finder-logo-3.png" alt="<%= alt_attribute('/images/my-chalet-finder-logo-3.png', 'My Chalet Finder') %>"></a>
    <%= render "shared/social" %>
  </header>
  <div id="intro">
    <%= snippet('home.introduction') %>
  </div>

  <div id="begin">
    <p>
      <%= snippet('home.begin_your_search') %>
    </p>
    <div class="btn-group">
      <button class="btn"><%= t('home_controller.resort_guide') %></button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% Country.with_visible_resorts.each do |c| %>
        <li><a href="<%= country_path(c) %>"><%= c.name %> (<%= c.property_count %>)</a></li>
        <% end %>
      </ul>
    </div>
  </div>

  <%= render 'shared/featured_properties' %>

<%= render 'home/quick_search' %>
</div>
<div id="news-flash">
  <h4><%= t('home_controller.news_flash') %>:</h4>
  <div class="carousel slide" data-interval="10000">
    <div class="carousel-inner">
      <p class="item active">
        <%= snippet('home.news_flash_1') %>
      </p>
      <p class="item">
        <%= snippet('home.news_flash_2') %>
      </p>
      <p class="item">
        <%= snippet('home.news_flash_3') %>
      </p>
    </div>
  </div>
</div>
<div id="boxes">
  <div class="box">
    <%= snippet('home.box_1') %>
  </div>
  <div class="box">
    <%= snippet('home.box_2') %>
  </div>
  <div class="box">
    <%= snippet('home.box_3') %>
  </div>
  <div class="box">
    <%= snippet('home.box_4') %>
  </div>
</div>
<%= render 'shared/footer' %>
</body>
</html>
